- if Flipper.enabled?(:request_index, User.session)
  - if @project
    %li.breadcrumb-item.text-word-break-all
      %i.fa.fa-cubes
      = link_to @project, project_show_path(@project)
  - if @package
    %li.breadcrumb-item.text-word-break-all
      %i.fa.fa-archive
      = link_to @project, package_show_path(@project, @package)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Requests
