<h3>Link</h3>
<p>
  <% linked_project, linked_package = @package.linkinfo.project, @package.linkinfo.package %>

  This package links to
  <%= render :partial => 'shared/project_or_package_link', :locals => {:project => linked_project, :package => linked_package, :short => true} -%>.

  <% if @package.linkinfo.value :error %>
    </p><p>The link contains errors: <i><%= @package.linkinfo.error %>.</i>
    <% if @package.can_edit?( session[:login] ) %>
       The webui has no support to resolve conflicts yet. Please use <i>osc checkout</i> and <i>osc pull</i>
       commands on command line to fix this conflict.</p><p>
    <% end %>
  <% elsif !Project.is_remote?(linked_project) %>
    <%= link_to 'Show the diff', :action => :rdiff, :oproject => linked_project, :opackage => linked_package, :project => @project, :package => @package, :rev => @revision %>.
  <% end%>
</p>
