
<!-- Links -->
<div id="package_link">
  <% if @link %>
  <%- link_project = @link.has_element?(:project) ? @link.project : @project.name -%>
  <h3>Link</h3>
  <p>
    This package links to the sources of the package
    <%= link_to_package link_project, @link.package %>
    of project <%= link_to_project link_project %>.
  </p>
  <% end %>
</div>

