
<% form_remote_tag :url => { :action => :set_url },
  :loading => "toggle_visibility('url_form_spinner')",
  :complete => "toggle_visibility('url_form_spinner')",
  :update => 'url_area' do %>
  <%= text_field_tag 'url', @new_url, :size => 10 %>
  <%= image_submit_tag 'ok.png' %>
  <%= image_tag 'rotating-tail.gif', :id=> 'url_form_spinner', :style => "visibility:hidden;" -%>
  <%= hidden_field_tag 'package', @package.name %>
  <%= hidden_field_tag 'project', @project %>
<% end %>

