<div class="section">
  <h3>
    Upstream URL
    <% if @package.can_edit?(session[:login]) %>
      <%= link_to_remote(image_tag('icons/note_edit.png', :title => 'Edit'),
        :url => { :action => 'set_url_form', :package => @package, :project => params[:project] },
        :loading => "$('#url_spinner').show()", :complete => "('#url_spinner').hide()", :update => 'url_area') %>
    <% end %>
  </h3>
  <% if @package.has_element?(:url) && !@package.url.to_s.blank? %>
    <% url = @package.url.to_s.strip %>
    <p id="url_area">
      <%= render :partial => 'url_line', :locals => { :url => url } %>
      <% if @package.can_edit?(session[:login]) %>
        <%= link_to(image_tag('icons/note_delete.png'), { :action => 'remove_url', :package => @package, :project => params[:project] }, { :confirm => "Really remove the URL '#{url}'?", :class => 'x' }) %>
      <% end %>
    </p>
  <% else %>
    <p id="url_area"><i>No URL for this package</i></p>
  <% end %>
  <%= image_tag('rotating-tail.gif', :id => 'url_spinner', :style => "visibility:hidden;") %>
</div>
