<% @pagetitle = "Comments for #{@package}" %>
<% @layouttype = 'custom' %>
<% package_bread_crumb('Comments') %>

<div class="grid_16 alpha omega box box-shadow">
	<%= render :partial => "package/tabs" %>
	<h3><%= @pagetitle %></h3>
	<%=render :partial => "shared/parent_comments"%>
</div>

<%=render :partial => "shared/new_comment"%>