<h2>Editing SPEC file for package <%=h @package %> (Project <%=h @project %>)</h2>

<%= form_tag :action => :save_spec, "class" => "specedit" %>
  <p><%= text_area_tag( "specfile", @specfile, :cols => "80",
  :rows => "40" ) %></p>
  <p><%= submit_tag %></p>
  <%= hidden_field_tag( "project", @project ) %>
  <%= hidden_field_tag( "package", @package ) %>
  <%= hidden_field_tag( "filename", @filename ) %>
<%= end_form_tag %>
