<% @pagetitle = "Requests for #{h(@package)}" %>
<% package_bread_crumb( "Requests" ) -%>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %> (<%= @current_requests.size %> Pending)</h3>

<%= render :partial => 'shared/list_requests', :locals => { :requests => @current_requests } %>

