<% @pagetitle = "Meta Configuration of Package #{@package}" %>
<% package_bread_crumb('Meta') %>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %></h3>
<% if @project.can_edit?(@user) %>
  <%= render :partial => "shared/editor", :locals => {:text => @meta, :mode => 'xml', :save => {:url => {:controller => 'package', :action => 'save_meta'}, :method => 'POST', :data => {:project => @project, :package => @package, submit: 'meta'}}} %>
<% else %>
  <%= render :partial => "shared/editor", :locals => {:text => @meta, :mode => 'xml', :read_only => true} %>
<% end %>
