<%
@crumb_list = [
  link_to( 'Projects', :controller => :project, :action => :list_public),
  link_to(@project.name, :controller => :project, :action => :show,
	:project => @project.name),
  link_to(@package.name, :action => :show, :package => @package.name,
	:project => @project.name),
  "Repositories"
]
-%>

<%= render :partial => "tabs" %>

<p>You can configure individual flags for this package here. The repositories
are inherited from the project <%= link_to @project, :controller => :project, :action => :repositories, :project => @project %>. </p>

<%= render :partial => 'shared/repositories', :locals => { :obj => @package } %>

