<% @pagetitle = "Show Package #{@package} (Project #{@project})" %>
<% project_bread_crumb @package.name -%>

<%= render :partial => "tabs" %>

<%= render :partial => 'meta' %>
<%= render :partial => 'buildstatus' %>
