<% @pagetitle = "View File #{@filename} of Package #{@package}"
   package_bread_crumb(link_to('Files', :action => :files, :project => @project, :package => @package, :rev => @srcmd5), h(@filename))
-%>

<%= render :partial => "tabs" %>

<h3><%= h @pagetitle %> (Project <%=h @project %>)</h3>

<pre><%= force_utf8_and_transform_nonprintables(@file) %></pre>
