- content_for :actions do
  %li.nav-item
    = link_to(package_show_path(package.project, package), class: 'nav-link', title: 'View Package') do
      %i.fa.fa-archive.fa-fw.me-2
      %span.nav-item-name View Package
  %li.nav-item#link-edit-details{ class: "#{'d-none' unless is_edit_details_action}" }
    = link_to('#', class: 'nav-link', data: { 'bs-target': '#description-edit', 'bs-toggle': 'modal' }, title: 'Edit Details') do
      %i.fa.fa-edit.fa-fw.me-2
      %span.nav-item-name Edit Details
  - if User.session
    %li.nav-item
      = link_to(cloud_upload_index_path, class: 'nav-link', id: 'cloud-upload', title: 'Cloud Upload') do
        %i.fas.fa-cloud-upload-alt.fa-fw.me-2
        %span.nav-item-name Cloud Upload
