.nested-fields.kiwi_fields
  = f.object.name
  = f.text_field :source_path, class: "#{'hidden' if f.object.name.present? }"
  = link_to_remove_association sprite_tag("req-decline", title: 'remove'), f
