:ruby
  @layouttype = 'custom'
  @project = @image.package.try(:project)
  @package = @image.package
  @pagetitle = 'Kiwi Image'

.row
  .col-12
    .card.mb-3
      = render partial: 'webui/kiwi/tabs'
      .card-body
        = render partial: 'base_info', locals: { author: @author, contact: @contact, image: @image,
                                                 description: @description, package: @package,
                                                 is_edit_software_action: @is_edit_software_action, is_edit_details_action: @is_edit_details_action }
  .col-md-8
    .card.mb-3
      = render partial: 'details_overview', locals: { author: @author, contact: @contact, image: @image,
                                                      repositories_count: @repositories_count, packages_count: @packages_count }
  .col-md-4
    .mb-3
      = render partial: 'build_info', locals: { project: @project.name, package: @package.name }
