<h3>Events to get email for ...</h3>

<% @notifications.each do |type, description, roles| %>
    <%= field_set_tag description do %>
        <ul class="horizontal-list">
          <% roles.each do |role, value| %>
              <li><%= check_box_tag "#{type}[#{role}]", '1', value %><%= label_tag "#{type}[#{role}]", role %></li>
          <% end %>
        </ul>
    <% end %>
<% end %>
