- content_for :actions do
  %li.nav-item
    = link_to(new_attribs_path(project: project.name, package: package), title: 'Add Attribute', class: 'nav-link') do
      %i.fas.fa-plus-circle.fa-lg.mr-2
      Add Attribute
