<p>
  <b>Title:</b>
  <%=h @site_config.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @site_config.description %>
</p>


<%= link_to 'Edit', edit_site_config_path(@site_config) %> |
<%= link_to 'Back', site_config_path %>
