/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.2
**  Dateiversion: 01.11.06  
**  Datei       : iehacks_2-1-3.css
**  Funktion    : IE-Korrektur-Stylesheet für das 2-1-3-Layout von YAML
**
*/

/* LAYOUT-UNABHÄNGIGE ANPASSUNGEN -------------------------------------------------------------------- */
@import url(../main/iehacks.css);

/* LAYOUT-ABHÄNGIGE ANPASSUNGEN ---------------------------------------------------------------------- */
@media screen
{
/*-----------------------------------------------------------------------------------------------------*/
/* Bug: 3-Pixel-Jog des Internet Explorers 
**
** In dieser Layoutvariante mit flexiblen Randspalten lässt sich der Bug nicht vollständig beheben. 
** 
** IE5.x/Win - x
** IE5.x/Mac - 0
** IE6       - x
** IE7       - 0
*/	
/* Hides from IE-mac \*/
* html #col3 {height: 1%;}				/* Hack für 3-Pixel-Jog Bug aktivieren */
/* End hide from IE-mac */
/*-----------------------------------------------------------------------------------------------------*/

}
