/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.2
**  Dateiversion: 01.11.06  
**  Datei       : iehacks_3col_fixed.css
**  Funktion    : IE-Korrektur-Stylesheet für ein 3-Spalten-Layout mit einfachen #col3-Spaltentrennern
**
*/

/* LAYOUT-UNABHÄNGIGE ANPASSUNGEN -------------------------------------------------------------------- */
@import url(../main/iehacks.css);

/* LAYOUT-ABHÄNGIGE ANPASSUNGEN ---------------------------------------------------------------------- */
@media screen
{
/*-----------------------------------------------------------------------------------------------------*/
/* Bug: 3-Pixel-Jog des Internet Explorers *
**
** IE5.x/Win - x
** IE5.x/Mac - 0
** IE6       - x
** IE7       - 0
*/	

/* Hides from IE-mac \*/
* html #col3 { margin-left:763px; width: 250px; margin-right: -3px;}
/* End hide from IE-mac */ 
/*-----------------------------------------------------------------------------------------------------*/

}
