/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.2
**  Dateiversion: 01.11.06  
**  Datei       : iehacks_2col_right_vlines.css
**  Funktion    : IE-Korrektur-Stylesheet für ein 2Spalten-Layout mit grafikfreien Spaltenhintergründen
**
*/

/* LAYOUT-UNABHÄNGIGE ANPASSUNGEN -------------------------------------------------------------------- */
@import url(../main/iehacks.css);

/* LAYOUT-ABHÄNGIGE ANPASSUNGEN ---------------------------------------------------------------------- */
@media screen
{
/* Keine layoutabhängigen Anpassungen erforderlich */

}