- content_for :actions do
  %li.nav-item
    = link_to(my_subscriptions_path, class: 'nav-link', title: 'Manage Your Subscriptions') do
      %i.fas.fa-edit.fa-fw.me-2
      %span.nav-item-name Manage Your Subscriptions
