- content_for :actions do
  %li.nav-item
    = link_to(my_subscriptions_path, class: 'nav-link', title: 'Change Your Notifications') do
      %i.fas.fa-edit.fa-lg.me-2
      %span.nav-item-name Change Your Notifications
