- content_for :actions do
  %li.nav-item
    = link_to(my_subscriptions_path, class: 'nav-link', title: 'Manage Subscriptions') do
      %i.fas.fa-edit.fa-lg.mr-2
      %span.nav-item-name Manage Subscriptions
