:ruby
  if feature_enabled?(:responsive_ux)
    render partial: 'webui/users/notifications/responsive_ux/index_actions'
  end

.row
  .col-md-4.col-lg-3.sticky-top#notifications-filter-desktop
    .card.mb-3
      %strong.d-block.d-md-none.p-3{ data: { toggle: 'collapse', target: '#filters' },
                                  aria: { expanded: true, controls: 'filters' } }
        Filtered by: #{params[:type]&.humanize || @filtered_project || 'Unread'}
        %i.float-right.mt-1.fa.fa-chevron-down
      .card-body.collapse#filters
        = render partial: 'notifications_filter', locals: { projects_for_filter: @projects_for_filter, notifications_count: @notifications_count }
  .col-md-8.col-lg-9#notifications-list
    = render partial: 'notifications_list', locals: { notifications: @notifications }
