- @pagetitle = 'Notifications'

= render partial: 'index_actions'

.row
  .col-md-4.col-lg-3.px-0.px-md-3.sticky-top#notifications-filter-desktop
    .card.mb-3
      %strong.d-block.d-md-none.p-3{ data: { toggle: 'collapse', target: '#filters' },
                                  aria: { expanded: true, controls: 'filters' } }
        Filtered by: #{params[:type]&.humanize || @filtered_project || 'Unread'}
        %i.float-right.mt-1.fa.fa-chevron-down#notifications-dropdown-trigger
      .card-body.collapse#filters
        = render partial: 'notifications_filter', locals: { filter: @notifications_filter }
  .col-md-8.col-lg-9.px-0.px-md-3#notifications-list
    = render partial: 'notifications_list', locals: { notifications: @notifications, selected_filter: @notifications_filter.selected_filter }
