/* 
**
**  $Id: $
**
**  Funktion:  Master CSS-file for build.openSUSE.org
**  Author:    Frank Sundermeyer <fs@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/
@import url(../common/main/base.css);
@import url(../common/modifications/basemod_2col_left.css);
@import url(../common/modifications/basemod_opensuse.css);
@import url(../common/main/content.css);
@import url(../common/modifications/contentmod_opensuse.css);
@import url(./contentadd_build.css);
@import url(../common/modifications/opensuse_boxes.css);
@import url(../common/print/print_003.css);
