/* 
**
**  $Id: $
**
**  Funktion:  Provides all styles for build.openSUSE.org
**  Author:    Frank Sundermeyer <fs@opensuse.org>, Robert Lihm <rlihm@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

/*****************
* General Styles *
*****************/
#bodyContent {
  min-height: 23em;
  position: relative;
  
}
li,
.navlist {
    list-style-image:url(/css/common/images/liDot_double_darkgrey.png);
}
.skipLinks {
    display: none;
}
#searchbox {
    text-align: right;
}
#searchbox .topleft {
    background: #fff url(images/darkgrey_searchbox/top_left_corner.png) top left no-repeat;
}
#searchbox .topright {
    background: url(images/darkgrey_searchbox/top_right_corner.png) top right no-repeat;
}
#searchbox .bottomleft {
    background: url(images/darkgrey_searchbox/bottom_left_corner.png) bottom left no-repeat;
}
#searchbox .bottomright {
    background: url(images/darkgrey_searchbox/bottom_right_corner.png) bottom right no-repeat;
}
#pt-personal,
#pt-personal a {
    color: #ACB1B5;
}
h1, h2, h3, h4, h5, h6 {
    color: #5d666e;
}

.grey-medium {
  color: #666;  
}

/*
a,
a:hover {
  color:#777777;
}
*/

/* login & logout */
#loginform,
#seachform_wrapper,
#logout {
  width: 13em;
  margin-top: 4%;
  margin-left: auto !important;
  margin-right: auto !important;
  /*background: #f9f;*/
}
#logout {
  margin-top: 7%;
  width: 19em;
}
#logout h2 {
  font-size: 3em;
  font-weight: bold;
}
#loginform #login_form input {
  width: 90%;
  margin: 0;
}
#loginform #login_form label {
 display: block;
 margin: 0.5em 0 0.2em;
 color: #666;
}
#seachform_wrapper {
  width: 20em;
}
#seachform_wrapper input {
  display: block;
  float:left;
  background: transparent;
  border: none;
}
#seachform_wrapper input#search_text {
  background:#FAFAFA;
  border:1px solid #CCC;
}
#seachform_wrapper a {
  display: block;
  float:left;
  width: 16px;
  height:16px;
  margin:6px;
}
#seachform_wrapper a img {}

#monitor-wrapper { /* a try to handle the long monitor-tabel */
  overflow: auto;
}

.dialog_wrapper .darkgrey_box .box_top_row,
.dialog_wrapper .darkgrey_box_double .box_top_row { 
/*background:transparent url(../images/darkgrey_box/top_middle.png) repeat-x scroll left bottom;*/
background:transparent !important;
}


/* Add Repo & DropZone */

#simple_targets_wrapper,
#other_targets_wrapper,
#dropzone_wrapper {
  display: table;
  width: 95%;
  height: auto;
/*  border: 1px dashed fuchsia;*/
}
#simple_targets_wrapper { /* contains distros */
  margin-bottom: 2em;
}
#other_targets_wrapper {
/*  bottom: 0;*/
}
  #simple_targets_wrapper div.distro_wrapper,
  div.col_wrapper {
    position: relative;
    min-width: 125px;
    min-height: 210px;
    float: left;
    margin: 0.2em;
    
    border-top: 1px solid #eee;
    background-color: #f9f9f9;
    
/*    border: 1px dotted yellow;*/
  }
  #simple_targets_wrapper ul {
    margin: 0;
    padding: 0;
  }
  #simple_targets_wrapper li {
    margin: 0;
    padding: 0;
    list-style: none outside none;
  }

#other_targets_wrapper {
  float: left;
  width: 20em;
}
#dropzone_wrapper {
  width: 20em;
}
#other_targets_wrapper,
#dropzone_wrapper {
  min-width: 350px;
}

#left_col,
#right_col {
  float: left!important;
}

  div.col_wrapper {

    min-width: 168px;
    min-height: 168px;
    background-color: inherit;
/*    background-color: #f9f;*/
    
    border: none;
  }

#dummy {
  border: 1px dotted fuchsia;
/*  width: 100px;*/
}



#drop_zone {
  
  display: block;
/*  position: absolute;*/
  width: 165px;
  height: 165px;

  right: 0;

  text-align: center;
  
  background: transparent url('images/drop_zone_0.png') no-repeat scroll center center;
/*  border: 1px dotted fuchsia;*/
}

#drop_zone p {
  font-size: 2em;
  font-weight: bold;
  color: #DDD;
  padding-top: 40px;
}

#selection_wrapper {
  border-top: 1px solid #eee;
  padding-top: 0.5em;
  border: 1px dotted fuchsia;
}

#progress {
  display: none;
}


/* /Add Repo & Repo DropZone */