.dialog {
  z-index: 90;
  position: fixed;
  top: 44%;
  left: 40%;
  height: 10em;
  width: 24em;
}
  
.dialog#disable_mask {
  z-index: 89;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url(/images/transparency_grey_20.png)
}

.dialog#delete_dialog {
  border: 2px solid black;
  background: #dddddd;
}

.dialog .box_content {
  width: 95%;
  padding: 2%;
  position: absolute;
  height: 10em;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

.dialog .box_top_row {
  background: transparent url(/css/local/images/darkgrey_box/top_middle_dialog.png) repeat scroll left bottom;
}

.dialog .box_top_row .box_left {
  background: transparent url(/css/local/images/darkgrey_box/top_left_corner_dialog.png) no-repeat scroll left bottom;
}

.dialog .box_top_row .box_right {
  background: transparent url(/css/local/images/darkgrey_box/top_right_corner_dialog.png) no-repeat scroll right bottom;
}

.dialog .box_title_row {
  background: #5D666E url(/css/local/images/darkgrey_box/title_right_dialog.png) repeat-y scroll right top;
}

.dialog .box_title_row .box_title {
  background: transparent url(/css/local/images/darkgrey_box/title_left_dialog.png) repeat-y scroll left top;
}

.dialog .box_bottom_row {
  position: relative;
  top: 10em;
  background: transparent url(/css/local/images/darkgrey_box/bottom_middle_darkgrey_dialog.png) repeat-x scroll left top;
}

.dialog .box_bottom_row .box_left {
  background: transparent url(/css/local/images/darkgrey_box/bottom_left_corner_darkgrey_dialog.png) no-repeat scroll left top;
} 

.dialog .box_bottom_row .box_right {
  background: transparent url(/css/local/images/darkgrey_box/bottom_right_corner_darkgrey_dialog.png) no-repeat scroll right top;
}

.dialog .buttons {
  padding: 2%;
  border-top: 2px solid #333;
  position: absolute;
  width: 96%;
  top: 7.8em;
  height: 2em;
}

.dialog .buttons a {
  padding: 1px;
  padding-left: 3px;
  margin: 4px;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  background: #999;
  color: black;
}

.dialog .buttons a:visited {
  text-decoration: none;
  color: black;
}

.dialog .buttons a:hover {
  text-decoration: none;
  color: black;
  background: #dd77dd;
}
