html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

.editbox p {
  margin: 0;
}

span.spec-keyword {
  color: blue;
  background-color: lightgray;
}

span.spec-tag {
  color: #AA7700;
}

span.spec-comment {
  color: green;
  background-color:lavender;
}

span.spec-macro {
  color: purple;
}

span.spec-url {
  color: blue;
  text-decoration: underline;
}

span.spec-macro-brackets {
  color: blue;
}

span.spec-path {
  color: gray;
}

span.spec-env-variable {
  color: mediumseagreen;
}

