/* Old style */

h1, h2, h3, h4, h5, h6 {
    color: #6eb927;
}

h2 {
}

h3 {
    margin-bottom: 0.75ex;
}

a { text-decoration: none; } 
a:hover { text-decoration: underline; }

input[type=text] {
  width: 65%
}

input#projectsearch {
  width: 12em;
}

input#packagesearch {
  width: 9em;
}

#edit_disable_xml_tags textarea {
  width: 20em;
  padding-bottom: 0;
  margin-bottom: 0;
  border: 1px #6eb927 dashed;
}

#projectsearch_clear {
  margin-left: 0.4em;
}

#packagesearch_clear {
  margin-bottom: -0.13em;
}

textarea {
  width: 95%
}

#banner {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 0px;
  height: 78px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  padding: 8px;
  font-size: 3em;
  font-weight: bold;
}

#logo {
  float: left;
  margin: 10px 0;
}

#side {
  background: #6EB927;
  width: 12em;
/*  height: 100em; */
  border-left: 2px solid;
  border-right: 2px solid;
  float: right;
}

#main {
  border-top: 2px solid black;
}

/* Adaptions of old style to new style */

#side {
  background-color: #fff;
  border-left: 0px;
  border-right: 0px
}

#content {
    background: url(../images/bg-content.png) repeat-x 0 1px;
    padding: 24px 48px;
  /*
  background-color: #fff;
  margin-right: 13em;
  padding: 1em;
  */
}

#loginlinks {
  border-bottom: 0px;
  padding: 1em;
}

/* New style */

body {
    /*
    background-color: #828282;
    padding: 0;
    margin: 0 24px;
    */
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: "Dejavu Sans", segoe, myriad, trebuchet ms, sans-serif;
    background: url(../images/bg-topline.png) repeat-x;
    padding-top: 16px;
}
a:link,
.inlets li a strong {
    color: #2570a5;
}
a:visited,
.inlets li a:visited strong {
    color: #8977a8;
}
a:active {
}
a:hover,
.inlets li a:hover strong {
    color: #f17912;
}
a img {
    border: 0;
}

input {
    font-family: inherit;
    font-size: inherit;
}

#header {
    padding: 8px 128px 8px 24px;
    background: #fff url(../images/accent.png) no-repeat top right;
    overflow: auto;
    position: relative;
    }
    #logo {
        float: left;
        font-size: small;
    }
    #login {
        font-size: 90%;
        position: relative;
        float: right;
        overflow: auto;
        background-color: #ffd;
        padding: 8px 12px;
        }
        #login input {
            clear: both;
        }
        #login input[type="text"],
        #login input[type="password"] {
            border: 1px solid #dd0;
            margin-bottom: 4px;
            width: 6em;
        }
        #newuser {
            position: absolute;
            right: 8px;
            padding: 3px 6px;
        }
    
#body {

/*  
    Commented out because it makes the rendering very slow.
    background: #fff url(../img/bg-gradient.png) repeat-x;
*/
    /*
    background-color: #eee;
    */
    }
    .explain {
        color: #777;
        margin-bottom: 24px;
        font-size: 125%;
    }
    .split-contain {
        overflow: auto;
        margin: 0 -1%;
    }
        .split-half {
            float: left;
            width: 44%;
            margin: 0 1%;
            padding: 0 2%;
        }
        .split-third {
            float: left;
            width: 27%;
            margin: 0 1%;
            padding: 0 2%;
        }
        .split-twothirds {
            float: left;
            width: 61%;
            margin: 0 1%;
            padding: 0 2%;
        }
        .split-contain h2 {
            font-size: 150%;
            font-weight: normal;
        }

    .project .split-contain,
    .package .split-contain {
        margin-top: 2em;
    }
        
    .inlets {
        }
        .inlets ul, .inlets li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .inlets ul {
            margin: 0.5em 0;
        }
        .inlets li a {
            display: block;
            color: #999;
            text-decoration: none;
            font-size: smaller;
            padding: 0.5em 0 0.5em 1em;
            }
            .inlets li a strong {
                font-weight: normal;
                display: block;
                font-size: larger;
            }
            .inlets li a span.hide {
                display: none;
            }

.viewmore {
    color: #aaa;
    }
    .viewmore a {
        padding: 0.25em 0.5em;
        text-decoration: none;
    }

.right {
    float: right;
}

#footer {
    font-size: xx-small;
    color: #aaa;
    margin: 2em 5%;
    text-align: center;
    clear: both;
}
    #footer a {
        color: #aaa;
        font-weight: bold;
    }
    #footer a:hover {
        color: #f17912;
    }

.button {
    border: 1px solid #f17912;
    background-color: #fbd9bb;
    color: #a14a00;
}
.button:hover {
    color: #000;
}

/* Round the corners */
.inlets .split-third,
#login, #side {
    -moz-border-radius: 5%;
}

/*** Navigation ***/
/* Generic nav style */
.nav {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
    .nav li {
        display: inline;
        margin: 0;
        padding: 1ex 1ex 1ex 0;
        padding: 0;
    }

    /* Breadcrumbs */
    #crumbs {
        display: block;
        padding: 1ex 24px;
        background: #fff url(../images/bg-gradient.png) repeat-x;
        background: #f4faf5 url(../images/bg-gradient-crumbs.png) repeat-x;
        border: 1px solid #9cdac7;
        border: 1px solid #d1f0df;
        border-width: 1px 0;
    }

        #crumbs li {
            padding: 0 0 0 20px;
            background: url(../images/arrow.png) 6px 50% no-repeat;
            color: #98beb1;
        }
            #crumbs li.first {
                padding: 0;
                background: none;
            }

            #crumbs li a {
                text-decoration: none;
                color: #f17912;
            }
            #crumbs li a:hover {
                color: #f50;
                text-decoration: underline;
            }
            #crumbs li.help {
                float: right;
                background: none;
            }
            #crumbs li.searchbox {
                float: right;
                background: none;
            }


    /* Inner-page nav */
    #content .nav {
        display: block;
        margin: 1em 0;
        overflow: auto;
        padding: 1px;
        border: 1px solid #ccc;
        background-color: #f6f6f6;
    }
        #content .nav li {
        }
            #content .nav li a {
                display: block;
                float: left;
                text-decoration: none;
                padding: 0.5ex 1ex;
                margin: 2px;
            }
            #content .nav li.selected a {
                margin: 1px;
                border: 1px solid #ccc;
                background-color: #f6f6f6;
            }
            #content .nav li a:hover {
                margin: 1px;
                border: 1px solid #999;
                background-color: #eee;
            }

#project-layout {
    width: 100%;
}
    #project-layout td {
        padding: 1em;
        vertical-align: top;
    }
        #project-layout td td {
            padding: 1ex;
        }

table th {
    font-weight: normal;
    text-align: left;
    font-size: 80%;
    color: #777;
    color: #000;
    background-color: #eee;
}

table.grid {
    border-collapse: collapse;
    border: 2px solid #ddd;
}
    table.grid th,
    table.grid td {
        border: 1px solid #ddd;
        padding: 1ex;
    }

table.targets { }
    table.targets tr.header th {
    }
    table.targets tr.target th {
        background-color: #f6f6f6;
        color: #999;
    }
    table.targets tr.target th strong {
        display: block;
        font-size: 150%;
        color: #555;
    }

.section {
    margin-bottom: 1em;
    padding-left: 0.5em;
}
    .section h3 {
        position: relative;
        right: 0.5em;
    }
    .section dl, .section ul, .section ol {
        padding: 0;
        margin: 0 0 0 1em;
    }

    #tags { }
    #tags ul { margin: 0 0 1em 1em; }

    #contacts { }

        #contacts dl {
            margin: 0;
            padding: 0;
        }
            #contacts dt {
                color: #777;
                margin-top: 1ex;
            }
            #contacts dd {
                padding: 0;
                margin: 0 0 0 1.5ex;
            }

        #contacts .more {
            margin: 0.5em;
        }

#mainhead {
    font-size: 225%;
}

.description {
    font-size: 110%;
    margin: 1em 0 2em;
    /*white-space: pre-wrap;*/
}

.star-rating {
    background: url(../images/star-widget.png) top left repeat-x;
    list-style: none;
    margin: 3px;
    padding: 0;
    width: 80px;
    height: 16px;
    position: relative;
}

.star-rating li {
    padding: 0;
    margin: 0;
    /*\*/
    float: left;
    /* */
}

.star-rating li a {
    display: block;
    width: 16px;
    height: 16px;
    text-decoration: none;
 /* text-indent: -2000px; */
    z-index: 20;
    position: absolute;
    padding: 0;
    background-image: none;
}

.star-rating li.current-rating {
    background: url(../images/star-widget.png) left bottom;
    position: absolute;
    height: 16px;
    display: block;
 /* text-indent: -9000px; */
    z-index: 1;
}
.star-rating li a:hover {
    background: url(../images/star-widget.png) left center;
    z-index: 1;
    left: 0px;
}
.star-rating a.one-star { left: 0px; }
.star-rating a.one-star:hover { width: 16px; }
.star-rating a.two-stars{ left: 16px; }
.star-rating a.two-stars:hover { width: 32px; }
.star-rating a.three-stars { left: 32px; }
.star-rating a.three-stars:hover { width: 48px; }
.star-rating a.four-stars { left: 48px; }
.star-rating a.four-stars:hover { width: 64px; }
.star-rating a.five-stars { left: 64px; }
.star-rating a.five-stars:hover { width: 80px; }

a.x {
    color: #ccc;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
    margin-left: 0.5ex;
}
a.x:hover {
    color: #f50;
}

.email_link {
    position: relative;
    top: 4px;
}

#package_filter {
    font-size: 75%;
    color: #888;
    margin-bottom: 5px;
}

.message {
    background: url(../images/dialog-information.png) no-repeat 12px 50%;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 14px 12px 14px 42px;
    margin: 1em 0 1em;
    vertical-align: middle;
    -moz-border-radius: 2px;
}
    .message a.more {
        margin-left: 1.5ex;
        /*
        text-decoration: underline;
        */
    }

    .message.error {
        background-image: url(../images/dialog-error.png);
        background-color: #fdeeee;
        border-color: #f69393;
    }
    .message.error a { color: #c00; }

    .message.question {
        background-image: url(../images/dialog-question.png);
        background-color: #eff2f7;
        border-color: #99b1d1;
    }
    .message.question a { color: #3465a4; }
    
    .message.info {
        background-image: url(../images/dialog-information.png);
        background-color: #f4fbec;
        border-color: #b8e88a;
    }
    .message.info a { color: #4e9a06; }
    
    .message.important {
        background-image: url(../images/dialog-important.png);
        background-color: #fef4eb;
        border-color: #f9bb7f;
    }
    .message.important a { color: #f57900; }

    .message.warning {
        background-image: url(../images/dialog-warning.png);
        background-color: #fdeeee;
        border-color: #f69393;
    }
    .message.warning a { color: #c00; }



#package-layout {
  width: 100%;
}
#package-layout td {
  padding: 1em;
  vertical-align: top;
}
#package-layout td td {
  padding: 1ex;
}


.greyed-out {
  color: #999;
}
.greyed-out a {
  color: #999;
}


div#package_disablebuild ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#statistics {
  border: 1px #6eb927 dotted;
  padding: 0.5em;
}
#statistics span {
  float: left;
  padding: 0 1em 0 1em;
  min-width: 11em;
  border-right: 1px #6eb927 dotted;
}
#statistics span.last {
  border: none;
}
#statistics span ul li {
  margin-left:0;
}

#download_details table {
  border: 1px #6eb927 dotted;
  padding: 0.25em;
}
#download_details table th {
  border-bottom: 1px #999 dotted;
  padding: 0.5em;
  font-size: 0.9em
}
#download_details table td {
  border-bottom: 1px #ddd dotted;
  padding: 0 0.4em 0 0.4em;
}

#statistics h5 {
  margin:  0;
  padding: 0 0 5px 0;
}
#statistics ol {
  margin:  0;
  padding: 0 0 15px 25px;
}

#status_messages table {
  font-size: 0.9em;
  border: 1px #6eb927 dotted;
  padding: 0.25em;
}

#mainsearch form input[type=text] {
  width: 10em;
}

#url_area form input[type=text] {
  width: 16em;
}


#download {
/*  float: left; */
  margin: 0;
}

#category_overview {
  height: 150px;
}
.category {
  float: left;
  font-size: 0.8em;
  margin: 0 0.5em 1em 0.5em;
}
.category_name {
  font-size: 1.2em;
  font-weight: bold;
}



.tag { color: #6eb927; }
.tag.size0  { font-size: 0.45em; }
.tag.size1  { font-size: 0.50em; }
.tag.size2  { font-size: 0.60em; }
.tag.size3  { font-size: 0.70em; }
.tag.size4  { font-size: 0.80em; }
.tag.size5  { font-size: 0.90em; }
.tag.size6  { font-size: 1.00em; }
.tag.size7  { font-size: 1.30em; }
.tag.size8  { font-size: 1.60em; }
.tag.size9  { font-size: 1.90em; }
.tag.size10 { font-size: 2.20em; font-style: bold; }
.tag.size11 { font-size: 2.60em; font-style: bold; }
.tag.size12 { font-size: 3.00em; font-style: bold; }
.tag.size13 { font-size: 3.25em; font-style: bold; }
.tag.size14 { font-size: 3.50em; font-style: bold; }
.tag.size15 { font-size: 3.75em; font-style: bold; }


#search_result dd {
  border-bottom: 1px silver dashed;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  width: 85%;
}

.download_repos_link {
  font-size: 80%;
  margin: 0 0.5em 0 1.5em;
}

strong.highlight {
  font-weight: normal;
  border-bottom: 1px silver dotted;
  background: #ffd;
}

#searchresult_weight {
  color: #ddd;
}

#userconfig {
    float: left;
    margin-right: 10em;
}

#tagcloud_tabs  {
  padding: 0.2em 1em 0 0.5em;
}

#tagcloud_tabs .tab  {

    padding: 0 0.3em 0 0.3em;
    margin:  0 0.1em 0 0.3em;
    border-left:  1px #6eb927 dashed;
    border-top:   1px #6eb927 dashed;
    border-right: 1px #6eb927 dashed;
    text-decoration: none;
}

.active {
    border-bottom: 1px white solid;
}


#tagcloud_container {
  float: right;
  width: 30em;
}


#tagcloud {
    padding:1em;
    border: 1px #6eb927 dashed; 
}

#list_by_tag table th {
    padding-left: 10px;
}

#list_by_tag table td {
    padding-left: 10px;
}

.public_tag  {
	 border-bottom: 1px #AAA dotted;
	 margin:0 0.2em 0 0;
}
.user_tag { 
}

.building td { white-space: nowrap; }
.building { border-collapse: collapse; border-spacing: 0px; empty-cells: show; margin: 16px; }
.building td, .building th { padding: 8px; border: solid 1px black; }
.filter_by { font-size: 80%; }
.filter_by a, .filter_by {
  color: rgb(192,192,255);
}



/* build status monitor for projects */
.status_blocked a, .status_blocked a:visited {
  color: #fff;
  background-color: #bbb;
}
.status_scheduled a, .status_blocked a:visited {
  color: #11d;
  background-color: #bbb;
}
.status_building a, .status_blocked a:visited {
  color: #00f;
  background-color: #bbb;
}
.status_disabled a, .status_blocked a:visited {
  color: #bbb;
}
.status_succeeded a, .status_blocked a:visited {
  color: #6EB927;
}
.status_broken a, .status_blocked a:visited {
  color: #e00;
}
.status_failed a, .status_blocked a:visited {
  color: #f00;
}
.status_expansion_error a, .status_blocked a:visited {
  color: #c00;
}
.status_unknown a, .status_blocked a:visited {
  color: #e55;
}

#error_message {
  font-size: 0.7em;
  font-weight: normal;
  color: #000;
  padding: 14px 12px 14px 42px;
  margin: 1em 0 1em;
  background: url(../images/dialog-error.png) no-repeat 12px 50%;
  background-color: #fdeeee;
  border: 1px solid #f69393;
  vertical-align: middle;
}

#info_message {
  font-size: 0.7em;
  font-weight: normal;
  color: #000;
  padding: 14px 12px 14px 42px;
  margin: 1em 0 1em;
  background: url(../images/dialog-information.png) no-repeat 12px 50%;
  border: 1px solid #b8e88a;
  vertical-align: middle;
  background-color: #f4fbec;
}

#add_message_form_area input[type="text"] {
  width: 45em;
}
