/* Project Monitor Filter */

#filter_settings #pkgname,
#filter_settings #repo,
#filter_settings #arch {
  width: 8em;
  margin-right: 0.5em;
  border: 1px solid #CCC;
}

#filter_settings {
  margin-bottom: 2em;
  border-bottom: 1px solid #CCC;
  padding: 0.5em 0 0.5em 1em;
  overflow: hidden;
  height: 2em;
}

#filter_settings .strong {
  margin-left: 0.8em;
  vertical-align: top;
}

#filter_settings > div {
  float: left;
}

#statusbox #li_blocked { 
  margin-top: 1em;
}

#statusbox #li_disabled { 
  margin-top: 1em;
}

.filter_settings input {
  vertical-align: top;
  margin: 0;
  margin-right: 0.5em;
}

.filterbox li {
  list-style: none;
  margin: 0;
  display: block;
}

.filterbox { 
  position: absolute; 
  background: #eee; 
  border: 1px solid black; 
  margin-top: 0.5em;
}

.filterbox_close { 
  margin: 0.8em;
  float: right;
}

.filterbox ul {
   margin: 0.5em;
}

.filter_settings .filterlink {
  color: black;
  margin-right: 0.5em;
}

.filterbox_all { 
  margin-left: 0.5em;
  margin-right: 1.5em;
}

.filterlink {
  cursor: pointer;
}

#inner_repo_table {
  min-width: 12em;
}

.project_information {
  background-color: #eee;
  border: 2px solid gray;
  padding: 1em;
  z-index: 1;
}

.unknown_failure {  color: red; }

#advanced_tabs { display: none; }

/* build status and repo status are for project/monitor */
td.buildstatus { 
  min-width: 11ex; /* unresolvable */
  text-align: center;
}
table.buildstatus { width: 1%; }

/* move the image back into the line */
th.buildstatus img {
  margin-bottom: -3px;
}

/* project/status */
.sortkey { display: none; }

/* used on project/show */
table.repostatus td.codes { width: 16ex; }
table.repostatus td.arch { width: 1%; margin: 1ex 0; }
table.repostatus td.repo { max-width: 21ex; }

