<% if issues && issues.length > 0 %>
  <% content_for :ready_function do %>
    $('.expandable_issue_description').expander({slicePoint: 50, sliceEarlierAt: '<br>', expandText: '[+]', expandPrefix: ' ', userCollapseText: '[-]',});
  <% end %>

  <table>
    <tbody>
      <% issues.sort.each do |long_name, issue| %>
        <tr>
          <td><%= link_to(long_name, issue.value('url'), :class => 'issue_tracker_link') %></td>
          <td class="nowrap">
            <% if issue.has_element?('owner')%>
              <%= render :partial => 'shared/user_with_realname_and_icon', :locals => {:user => issue.owner.value('login'), :short => true} %>
            <% end %>
          </td>
          <td><%= issue.value('state').capitalize if issue.value('state') %></td>
        </tr>
        <% if issue.value('summary') %>
          <tr class="odd">
            <td colspan="3" class="expandable_issue_description"><%= issue.value('summary') %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%# Stupid XHTML-1.0 strict doesn't like 'target', but all browsers do. Thus, sneak around validation to %>
  <%# allow opening a new window upon click: %>
  <% javascript_tag do %>
    $('a.issue_tracker_link').attr('target', '_blank')
  <% end %>
<% end %>
