<% @pagetitle = "Comments for request id #{params[:id]}" %> 
<% @layouttype = 'custom' %>
<% @crumb_list = ["Request #{params[:id]}", "Comments"] %> 

<div class="grid_16 alpha omega box box-shadow">
	<%= render :partial => "request/tabs" %>
	<h3><%= @pagetitle %></h3>
</div>
<%= render :partial => "comment/parent_comments"%>
<%=render :partial => "comment/new_comment"%>
