<% @pagetitle = "Comments for request id #{params[:id]}" %>
<% @layouttype = 'custom' %>
<% @crumb_list = ["Request #{params[:id]}", "Comments"] %>

<div class="grid_16 alpha omega box box-shadow">
	<%= render :partial => "request/tabs" %>
	<h3><%= @pagetitle %></h3>
	<%= render :partial => "shared/parent_comments", locals: { id: params[:id]}%>
</div>

<%=render :partial => "shared/new_comment", locals: { id: params[:id]}%>