#banner {
  background: #fff;
  color: #000;
  width: 100%;
  text-align: center;
  padding: 0px;
}

#innerbanner {
  height: 78px;
  border: 2px solid;
  padding: 8px;
  font-size: 3em;
  font-weight: bold;
}

#bottom {
  background: #6EB927;
  border: 2px solid;
  padding: 8px;
  margin-top: 1em;
}

#logo {
  float: left;
}

#columns {
  background: #411;
}

#side {
  background: #6EB927;
  width: 12em;
  height: 100em;
  float: right;
  border-left: 2px solid;
  border-right: 2px solid;
}

#notice {
  margin: 3px;
  color: #f22;
}

#error {
  margin: 3px;
  color: #f22;
}

#externallinks {
  border-bottom: 2px solid;
  padding: 1em;
}

#staticlinks {
  border-bottom: 2px solid;
  padding: 1em;
}

#dynamiclinks {
  border-bottom: 2px solid;
  padding: 1em;
}

#loginlinks {
  border-bottom: 2px solid;
  padding: 1em;
}
