<project name="OBS:Server:$VERSION:Staging">
  <title>$VERSION version of the Open Build Service Server</title>
  <description>This is the maintained version $VERSION of OBS.</description>
  <repository name="openSUSE_15.2">
    <releasetarget project="OBS:Server:$VERSION" repository="openSUSE_15.2" trigger="manual"/>
    <path project="openSUSE:Leap:15.2:Update" repository="standard"/>
    <arch>x86_64</arch>
  </repository>
  <repository name="images">
    <releasetarget project="OBS:Server:$VERSION" repository="images" trigger="manual"/>
    <path project="OBS:Server:$VERSION:Staging" repository="openSUSE_15.2"/>
    <path project="OBS:Server:$VERSION" repository="openSUSE_15.2"/>
    <path project="openSUSE:Tools" repository="openSUSE_15.2"/>
    <path project="openSUSE:Leap:15.2:Update" repository="standard"/>
    <path project="openSUSE:Leap:15.2:NonFree" repository="standard"/>
    <arch>x86_64</arch>
  </repository>
  <repository name="containment">
    <releasetarget project="OBS:Server:$VERSION" repository="containment" trigger="manual"/>
    <path project="OBS:Server:$VERSION:Staging" repository="openSUSE_15.2"/>
    <path project="OBS:Server:$VERSION" repository="openSUSE_15.2"/>
    <path project="openSUSE:Tools" repository="openSUSE_15.2"/>
    <path project="openSUSE:Leap:15.2:Update" repository="standard"/>
    <path project="openSUSE:Leap:15.2:NonFree" repository="standard"/>
    <arch>x86_64</arch>
  </repository>
  <repository name="SLE_15_SP2">
    <path project="SUSE:SLE-15_SP2:GA" repository="standard"/>
    <path project="openSUSE:Tools" repository="SLE_15_SP2"/>
    <arch>x86_64</arch>
  </repository>
</project>

