- if current_page?(projects_path) || current_page?(project_list_path) || current_page?(project_list_public_path)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Projects
- elsif current_page?(project_list_all_path)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    List of All Projects
- elsif current_page?(new_project_path)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    = @namespace.nil? ? 'Create Project' : 'Create Subproject'
- else
  %li.breadcrumb-item.text-word-break-all
    %i.fa.fa-cubes
    = link_to @project, project_show_path(@project)
  - if current_page?(project_show_path(@project))
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Overview
  - elsif current_page?(project_monitor_path(@project))
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Monitor
  - elsif current_page?(projects_requests_path(@project))
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Requests
  - elsif current_page?(project_requests_path(@project))
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Requests
  - elsif current_page?(project_users_path(@project))
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Users
  - elsif current_page?(project_config_path(@project))
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Configuration
  - elsif current_page?(project_subprojects_path(@project))
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Subprojects
  - elsif current_page?(project_release_request_path(@project))
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Create Maintenance Release Request
