.modal.fade#new-project-modal{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'new-project-modal-label', hidden: true } }
  .modal-dialog.modal-lg{ role: 'document' }
    .modal-content
      = form_for(Project.new, url: projects_create_path, method: :post) do |form|
        .modal-header
          %h5.modal-title#new-project-modal-label
            = local_assigns.key?(:project) ? 'Create Subproject' : 'Create Project'
        .modal-body
          - options = { form: form, configuration: configuration }
          - options[:namespace] = project.name if local_assigns.key?(:project)
          = render partial: 'form', locals: options
        .modal-footer
          = render partial: 'webui2/shared/dialog_action_buttons'
