$('#flash').html("#{escape_javascript(render(layout: false, partial: 'layouts/webui/flash', object: flash))}");
$('#project-in-place-editing').html("#{escape_javascript(render(partial: 'webui/project/edit', locals: { project: @project }))}");
