<% @pagetitle = 'Maintenance Incidents' %>
<% project_bread_crumb @pagetitle %>

<%= render :partial => 'tabs' %>

<h3>
  Maintenance incidents <span id="incident_count"><%= "(#{@incidents.count})" %></span>
</h3>

<div id="incident_display" class="clearfix">
  <% if @incidents.exists? %>
    <%= render(:partial => 'incident_table', :locals => { :incidents => @incidents }) %>
  <% else %>
    <p><i>No incidents.</i></p>
  <% end %>
</div>
