<%
   @pagetitle = 'Create New Project'
%>
<% project_bread_crumb 'New Project' %>

<h3><%= @pagetitle %></h3>
<% unless User.current.is_admin? %>
  <p>
    All users have a homes project by default. Yours is <%= link_to "home:#{User.current.login}", { controller: :project, action: :show,
    project: "home:#{User.current.login}" } %>, and you can also
    create sub projects inside. New projects outside of your home project can get
    requested via <a href="mailto:<%= @configuration['admin_email'] %>">email</a>.
  </p>
<% end %>
<%= render partial: 'form', locals: { project: @project, configuration: @configuration }%>
