- @pagetitle = "Users of #{@project}"

.card.mb-3
  = render partial: 'tabs', locals: { project: @project, spider_bot: @spider_bot }
  .card-body
    = render partial: 'webui/shared/user_or_groups_roles/index',
             locals: { project: @project, package: @package, users: @users, roles: @roles, groups: @groups }
