<p>
  <b>Title:</b>
  <%=h @configuration.nameprefix %>
  Open Build Service
</p>

<p>
  <b>Description:</b>
  <%=h @configuration.description %>
</p>


<%= link_to 'Edit', edit_configuration_path %> |
<%= link_to 'Back', configuration_path %>
