- commentable = commentable.bs_request if commentable.is_a?(BsRequestAction)
- if commentable.is_a?(BsRequest)
  - Comment.without_parent.on_actions_for_request(commentable).includes(:user).each do |comment|
    = render partial: 'webui/comment/content', locals: { comment: comment, commentable: commentable, level: 1 }
- commentable.comments.without_parent.includes(:user).each do |comment|
  = render partial: 'webui/comment/content', locals: { comment: comment, commentable: commentable, level: 1 }

.comment_new.mt-3
  = render partial: 'webui/comment/new', locals: { commentable: commentable }

:javascript
  $(document).ready(function() {
    $('.comments-list img').one('error', function() {
      $(this).replaceWith('<i class="fas fa-user-circle fa-2x ' + $(this).attr('class') + '"></i>');
    });
  });
