[submodule "src/backend/build"]
	path = src/backend/build
	url = git://github.com/openSUSE/obs-build.git
[submodule "src/webui/public/themes"]
	path = src/webui/public/themes
	url = git://github.com/openSUSE/opensuse-themes.git
