# Project specific ignores IN ALPHABETIC ORDER
/docs/api/restility/doc
/docs/api/restility/log
/docs/api/restility/tmp
/docs/api/*.test.config
/src/api/config/database.yml
/src/api/config/environments/development.*.rb
/src/api/config/options.yml
/src/api/config/secret.key
/src/api/config/thinking_sphinx.yml
/src/api/storage
/src/api/db/sphinx
/src/api/config/*.sphinx.conf
/src/api/coverage
/src/api/coverage.data
/src/api/db/structure.sql
/src/api/files/distributions.xml
/src/api/log
/src/api/public/assets
/src/api/mkmf.log
/src/api/tmp
/src/api/spec/examples.txt
/src/api/last_deploy
/src/api/test/reports
/src/api/.byebug_history
/src/api/database_consistency_????_??_??_??_??_??
/src/backend/blib
/src/backend/BSConfig.pm
/src/backend/BSSolv.bs
/src/backend/BSSolv.c
/src/backend/BSSolv.o
/src/backend/BSSolv.so
/src/backend/Makefile
/src/backend/pm_to_blib
/src/backend/sat-solver
/src/backend/t/tmp
/contrib/rabbitmqadmin
/dist/aws_credentials
/dist/ec2utils.conf
/docker-files/home/.bash_history
/docker-files/home/.irb_history
/docker-files/home/.pry_history
docker-compose.override.yml
docker-compose.minitest-user.yml

# All the other crap that fits nowhere specifically
*~
*.bak
*.tmp
*.vagrant
.*.sw*
.directory
.o
.project
.so
nbproject
*.vim
*.pid
*.iml
*.ipr
*.iws
.idea/
.kanku/
.ackrc
