[submodule "shared"]
	path = shared
	url = git://gitorious.org/opensuse/shared-resources.git
[submodule "src/backend/build"]
	path = src/backend/build
	url = git://gitorious.org/opensuse/build.git
[submodule "src/webui/webdesign"]
	path = src/webui/webdesign
	url = git://gitorious.org/opensuse/webdesign.git
