[submodule "src/backend/build"]
	path = src/backend/build
	url = git://gitorious.org/opensuse/build.git
[submodule "src/webui/public/themes"]
	path = src/webui/public/themes
	url = git://gitorious.org/opensuse/themes.git
