# Project specific ignores IN ALPHABETIC ORDER
/docs/api/html
/docs/api/restility/doc
/docs/api/restility/log
/docs/api/restility/tmp
/docs/api/*.test.config
/docs/api/books/en/addons/.validate
/docs/api/books/en/addons/kiwi.xml
/docs/api/books/en/addons/kiwi.html
/docs/api/books/en/autobuild
/docs/api/books/en/html
/docs/api/books/en/HTML.manifest
/docs/api/books/en/images/print
/docs/api/books/en/images/online
/docs/api/books/en/profiled
/docs/api/books/en/tmp
/docs/api/books/en/wiki
/docs/api/books/en/*.diff
/docs/api/books/en/*.fo
/docs/api/books/en/*.pdf
/docs/api/books/en/*.ps
/docs/api/books/en/*.tar.bz2
/docs/api/books/en/*.tar.gz
/docs/api/books/en/*.zip
/src/api/config/database.yml
/src/api/config/environments/development.*.rb
/src/api/config/options.yml
/src/api/config/secret.key
/src/api/config/thinking_sphinx.yml
/src/api/db/sphinx
/src/api/config/*.sphinx.conf
/src/api/coverage
/src/api/coverage.data
/src/api/db/schema.rb
/src/api/files/distributions.xml
/src/api/log
/src/api/public/assets
/src/api/mkmf.log
/src/api/tmp
/src/api/spec/examples.txt
/src/api/last_deploy
/src/api/test/reports
/src/backend/blib
/src/backend/BSConfig.pm
/src/backend/BSSolv.bs
/src/backend/BSSolv.c
/src/backend/BSSolv.o
/src/backend/BSSolv.so
/src/backend/Makefile
/src/backend/pm_to_blib
/src/backend/sat-solver
/src/backend/t/tmp
docker-compose.override.yml
contrib/rabbitmqadmin

# All the other crap that fits nowhere specifically
*~
*.bak
*.tmp
*.vagrant
.*.sw*
.directory
.o
.project
.so
nbproject
*.vim
*.pid
*.iml
*.ipr
*.iws
.idea/
.kanku/
src/api/.bundle/
src/api/vendor/bundle
dist/aws_credentials
dist/ec2utils.conf
