# Project specific ignores IN ALPHABETIC ORDER
/docs/api/html
/docs/api/restility/doc
/docs/api/restility/log
/docs/api/restility/tmp
/docs/api/*.test.config
/src/api/config/database.yml
/src/api/config/database.yml
/src/api/config/secret.key
/src/api/coverage
/src/api/coverage.data
/src/api/files/distributions.xml
/src/api/log
/src/api/mkmf.log
/src/api/tmp
/src/backend/blib
/src/backend/BSConfig.pm
/src/backend/BSSolv.bs
/src/backend/BSSolv.c
/src/backend/BSSolv.o
/src/backend/BSSolv.so
/src/backend/Makefile
/src/backend/pm_to_blib
/src/backend/sat-solver
/src/webui/app/views/maintenance/new_*
/src/webui/app/views/maintenance/qa_*
/src/webui/app/views/maintenance/released_*
/src/webui/config/database.yml
/src/webui/config/repositories.rb
/src/webui/config/secret.key
/src/webui/coverage
/src/webui/coverage.data
/src/webui/db/*.db
/src/webui/db/development_structure.sql
/src/webui/log
/src/webui/mkmf.log
/src/webui/public/main/*.html
/src/webui/public/documentation/obs

# All the other crap that fits nowhere specifically
*~
.*.sw*
nbproject
.o
.project
.so
