.navbar-collapse.actions-collapse.navbar-dark
  .nav.justify-content-end.py-2.px-3
    %button.navbar-toggler{ 'type': 'button', 'data-toggle': 'actions', aria: { expanded: 'false', label: 'Toggle actions' } }
      %i.fas.fa-times
  .h5.pt-2.px-3
    Actions on this page
  .d-flex.flex-column
    = yield :actions
