%h5.pt-2.pl-2.text-light
  %span.section-name Places

%ul.nav.flex-column.ml-auto.pt-0.text-nowrap.menu-options
  %li.nav-item
    = link_to(projects_path, class: 'nav-link', title: 'All Projects') do
      %i.fas.fa-list.fa-lg.mr-2
      %span.nav-item-name All Projects
  - unless @spider_bot
    %li.nav-item
      = link_to(monitor_path, class: 'nav-link', title: 'Status Monitor') do
        %i.fas.fa-heartbeat.fa-lg.mr-2
        %span.nav-item-name Status Monitor
