.toggler
  = sign_up_link(css_class: 'nav-link text-light text-center p-1')
.toggler
  = log_in_link(css_class: 'nav-link text-light text-center p-1')
.toggler{ data: { toggle: 'offcanvas' } }
  %i.fas.fa-user-circle.fa-2x.text-light
.navbar-collapse.offcanvas-collapse.navbar-dark
  .navbar-nav
    .nav.justify-content-end.py-2
      %button.navbar-toggler{ 'type': 'button', data: { toggle: 'offcanvas' }, aria: { expanded: 'false', label: 'Toggle navigation' } }
        %i.fas.fa-times
  %ul.navbar-nav.ml-auto.pt-0.text-nowrap.menu-options
    %li.nav-item
      = link_to(projects_path, class: 'nav-link') do
        %i.fas.fa-list.fa-lg.mr-2
        All Projects
    - unless @spider_bot
      %li.nav-item
        = link_to(monitor_path, class: 'nav-link') do
          %i.fas.fa-heartbeat.fa-lg.mr-2
          Status Monitor
