.toggler.text-center.justify-content-center
  = sign_up_link(css_class: 'nav-link text-light p-0 w-100')
.toggler.text-center.justify-content-center
  = log_in_link(css_class: 'nav-link text-light p-0 w-100')
