.navbar-dark.offcanvas-collapse.d-md-none
  .navbar-nav.d-block.d-md-none
    .nav.justify-content-end.py-2
      %button.navbar-toggler{ 'type': 'button', data: { toggle: 'offcanvas' }, aria: { expanded: 'false', label: 'Toggle navigation' } }
        %i.fas.fa-times
  .d-flex.flex-column.ml-auto.pt-0.text-nowrap.menu-options
    = render partial: 'layouts/webui/responsive_ux/menu_items'
