.navbar-collapse.watchlist-collapse.navbar-dark
  .nav.justify-content-end.py-2.px-3
    %button.navbar-toggler{ 'type': 'button', data: { toggle: 'watchlist' }, aria: { expanded: 'false', label: 'Toggle navigation' } }
      %i.fas.fa-times

  - if params[:project]
    .d-flex.flex-column.mb-4.border-bottom.border-gray-500
      .h6.px-3.text-word-break-all Project #{params[:project]}
      %a.menu-link#toggle-watch{ href: project_toggle_watch_path(params[:project]) }
        - if User.session!.watches? params[:project]
          %i.fas.fa-times-circle
          %span Remove this project from Watchlist
        - else
          %i.fas.fa-plus-circle
          %span Watch this project

  .h5.pt-2.px-3 Projects you are watching

  .d-flex.flex-column
    - User.session!.watched_project_names.each do |project|
      = link_to project_show_path(project), class: 'd-flex text-word-break-all menu-link' do
        %i.fas.fa-cubes.mt-1.mr-2.ml-3
        #{project}
