.form-group.ui-front
  = label_tag(html_id, label)
  .input-group
    .input-group-prepend
      %span.input-group-text
        %i.fas.fa-search
    = text_field_tag(html_id, '', required: true, placeholder: 'Type to autocomplete...',
                                  class: 'obs-autocomplete form-control', data: { source: source })
