.modal.fade#create-staging-projects-modal{ tabindex: -1, role: 'dialog', aria: { labelledby: 'create-staging-projects-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      = form_tag(staging_workflow_staging_project_index_path(staging_workflow.project), method: :post) do
        .modal-header
          %h5.modal-title#create-staging-projects-modal-label Create Staging Project
        .modal-body
          = render partial: 'webui/shared/search_box', locals: { html_id: 'staging_project_name',
                                                                   label: 'Please enter a project you have permissions to',
                                                                   data: { source: autocomplete_projects_path } }
          %small.text-muted
            %i.fa.fa-info-circle.text-info{ title: 'Info' }
            If the project already exists, it will simply be assigned to the Staging.

        .modal-footer
          = render partial: 'webui/shared/dialog_action_buttons', locals: { submit_tag_text: 'Create' }
