%div{ class: "overall-state staging-project state-#{staging_project.overall_state}" }
  .letter
    = link_to(staging_project.staging_nick, staging_workflow_staging_project_path(staging_workflow, staging_project.name))
  .state
    - state = staging_project.overall_state
    - state = 'broken' if state == :unacceptable
    = state
  .staging-progress
    = progress(staging_project)
