%span.badge{ class: "state-#{staging_project.overall_state}" }
  %span.badge.badge-light
    = render StagingProjectLinkComponent.new(staging_project: staging_project, staging_workflow: staging_workflow,
                                             link_options: { data: { content: staging_project.description,
                                                                     placement: 'bottom',
                                                                     toggle: 'popover' } })
  %span
    %br
    = staging_project.overall_state
    %br
    = progress(staging_project)
