%li.nav-item
  = link_to('#', class: 'nav-link', data: { toggle: 'modal', target: '#delete-project-modal' }, title: 'Delete Project') do
    %i.fas.fa-times-circle.fa-lg.mr-2
    %span.nav-item-name Delete Project
