
<% unless flash.empty? %>
  <div id="flash-messages" class="container_16" >
    <% if flash[:success] or flash[:note] %>
      <div class="ui-widget grid_16 alpha omega">
        <div class="ui-state-highlight ui-corner-all ui-widget-shadow">
          <p>
            <span class="ui-icon ui-icon-info"/>
            <%=h flash[:success] %><%=h flash[:note] %>
          </p>
        </div>
      </div>
    <% end %>

    <% if flash[:warn] or flash[:error] %>
      <div class="ui-widget grid_16 alpha omega">
        <div class="ui-state-error ui-corner-all ui-widget-shadow">
          <p>
            <span class="ui-icon ui-icon-alert" />
            <%=h flash[:warn] %><%=h flash[:error] %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
