
<% unless flash.blank? %>

  <div id="flash-messages" class="container_16" >
    <div class="ui-widget grid_16 alpha omega">

      <% [:success, :error, :warn, :note].each do |flash_type|
        if (flash[flash_type] && !flash[flash_type].empty?)
          case flash_type
          when :error
            flash_icon = "ui-icon-alert"
            flash_header = 'ui-state-error'
          when :warn
            flash_icon = "ui-icon-alert"
            flash_header = 'ui-state-error'
          when :success
            flash_icon = "ui-icon-info"
            flash_header = 'ui-state-highlight'
          when :note
            flash_icon = "ui-icon-info"
            flash_header = 'ui-state-highlight'
          end %>

          <%
          body = flash[flash_type].gsub(/\n/, '<br/>')
          body = sanitize body, :tags => %w(a b ul li br u), :attributes => %w(href title)
          %>

          <div class="<%= flash_header %> ui-corner-all ui-widget-shadow">
            <p>
              <span class="ui-icon <%= flash_icon %>"/>
              <%= body %>
            </p>
          </div>

        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
