
<% if flash[:success] %>
  <div class="message success"><%=h flash[:success] %></div>
<% end %>
<% if flash[:note] %>
  <div class="message info"><%=h flash[:note] %></div>
<% end %>
<% if flash[:warn] %>
  <div class="message warn"><%=h flash[:warn] %></div>
<% end %>
<% if flash[:error] %>
  <div class="message error"><%=h flash[:error] %></div>
<% end %>