    <!-- Start: Header -->
    <div id="header">

      <div id="header-content" class="container_12">

        <%= link_to image_tag( "obs-logo_small.png", :height => 26 ) , { :controller => 'main',
              :action => :index }, { :id => "header-logo"} -%>

        <ul id="global-navigation">
        <li></li>
	    <% if user -%>
              <li id="item-favorites" style="float: right;"><a href="#">">Watchlist</a></li>
            <% end -%>
        </ul>

        <%= render :partial => "layouts/watch_and_search" %>

      </div>
    </div>
    <!-- End: Header -->

