
 <% if user -%>
  <ul class="global-navigation-menu global-navigation-menu-favorites" id="menu-favorites">
    <li>
      <span class="desc">List of projects you are watching</span>
    </li>
    <% if params[:project] -%>
    <li>
      <a id="toggle_watch" href="<%= url_for controller: "project", action: :toggle_watch, project: params[:project] %>">
        <% if user.watches? params[:project] -%>
        <span>Remove this project from Watchlist</span>
        <span class="desc">Do not watch this project anymore</span>
        <% else -%>
        <span>Add this project to Watchlist</span>
        <span class="desc">Watch this project</span>
        <% end -%>
      </a>
    </li>
    <% end -%>
    <% user.watched_projects.each do |project|-%>
    <li>
      
      <%= link_to( content_tag(:span, content_tag(:span, "", class:
          "icons-project") + elide(project,
          32), class: "project-link"), 
          controller: 'project', action: :show, project: project) %>
    </li>
    <% end -%>
  </ul>
<%- end -%>
  
  
<%= form_tag({controller: 'search', action: 'index'}, {:method => :post, :id => "global-search-form", :class => "label-overlay"}) do -%>
  <div style="display: inline">
    <label for="search" class="hidden">Search</label>
    <%= text_field_tag 'search_text', '', id: 'search'-%>
    <input type="submit" value="Search" class="hidden" />
  </div>
<% end %>

