.col
  = link_to(configuration_path, class: 'btn btn-default') do
    %i.fas.fa-cogs
    %br
    Configuration
.col
  = link_to(projects_path, class: 'btn btn-default') do
    %i.fas.fa-list
    %br
    All Projects
