.col
  = link_to(configuration_path, class: 'btn btn-default') do
    %i.fas.fa-cogs.fa-2x
    %br
    Configuration
.col
  = link_to(projects_path, class: 'btn btn-default') do
    %i.fas.fa-list.fa-2x
    %br
    All Projects
