- home_title = @configuration ? @configuration['title'] : 'Open Build Service'
- if current_page?(root_path)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    %i.fas.fa-home{ title: home_title }
- else
  %li.breadcrumb-item
    = link_to(root_path) do
      %i.fas.fa-home{ title: home_title }
