- home_title = @configuration ? @configuration['title'] : 'Open Build Service'
- unless current_page?(root_path)
  %li.breadcrumb-anchor
    = link_to(root_path, title: home_title) do
      %i.fas.fa-home.mr-2
