- if User.current.is_admin?
  = render partial: 'admin_proceed-list'
- else
  = render partial: 'user_proceed-list'
- unless @spider_bot
  .col
    = link_to(monitor_path, class: 'btn btn-default', title: 'See the status of the builds') do
      %i.fas.fa-heartbeat.fa-2x.text-danger
      %br
      Status Monitor
