- unless CONFIG['sponsors'].nil? or CONFIG['sponsors'].empty?
  - sponsor = CONFIG['sponsors'].sample
  .ui.raised.segment
    .ui.top.attached.label.center
      Sponsor
    .ui.center.aligned.grid
      = link_to(sprite_tag(sponsor['icon']), sponsor['url'], { title: sponsor['name'] })
      %p
        %em= sponsor['description']
