- unless CONFIG['sponsors'].blank?
  .box.with-header
    .box-header Sponsor
    .box-content.has-text-centered
      - sponsor = CONFIG['sponsors'].sample
      = link_to(sprite_tag(sponsor['icon']), sponsor['url'], { title: sponsor['name'] })
      %p
        %em= sponsor['description']
