- unless CONFIG['sponsors'].nil? or CONFIG['sponsors'].empty?
  - sponsor = CONFIG['sponsors'].sample
  .card
    %h5.card-header Sponsor
    .card-body
      = link_to(sprite_tag(sponsor['icon']), sponsor['url'], { title: sponsor['name'] })
      %p
        %em= sponsor['description']
