<% if defined? DOWNLOAD_URL %>
  <% url = "#{DOWNLOAD_URL}/#{project.to_s.gsub(/:/,':/')}/#{repository}" %>
  <p>
    <%= link_to(image_tag('icons/drive_web.png'), url) %>
    <%= link_to('Go to download repository', url) %>
  </p>
<% end %>
