<% incident_table_id ||= 'incident_table' %>

<% if incidents.blank? %>
  <p>No incidents.</p>
<% else %>
  <table id="<%= incident_table_id %>" class="tablesorter">
    <thead>
      <tr>
        <th rowspan="2" style="width: 1%">ID</th>
        <th rowspan="2" style="width: 40%">Summary</th>
        <th rowspan="2" style="width: 1%">Info</th>
        <th rowspan="2" style="width: 1%">Release Targets</th>
        <th colspan="3" style="width: 1%">Patchinfo</th>
        <th colspan="3" style="width: 1%">Packages</th>
      </tr>
      <tr>
        <th>Category</th>
        <th>Rating</th>
        <th colspan="2" style="width: 1%">Issues</th>
        <th>Names</th>
        <th>Build</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'shared/incident_table_entries', :locals => {:incidents => incidents} %>
    </tbody>
  </table>
<% end %>
