- if pending_announcement.present?
  .row.justify-content-center
    .col-12
      .alert.fade.show.alert-notice
        .row
          .col-md-10
            = pending_announcement.title
            = link_to('Read more...', announcement_path(pending_announcement), class: 'alert-link')
          .col-md-2
            - if User.session
              = form_tag(my_announcements_path(pending_announcement), remote: true, class: 'text-right') do
                = submit_tag 'Got it', class: 'btn btn-sm btn-secondary'
