.navbar-collapse.navbar-dark.bg-gray-800{ class: "#{collapse_type}-collapse" }
  .navbar-nav
    .nav.justify-content-end.py-2
      %button.navbar-toggler{ type: 'button', 'data-toggle': collapse_type, aria: { expanded: 'false', label: "Toggle #{collapse_type}" } }
        %i.fas.fa-times

  = render partial: "layouts/webui/#{collapse_type}", locals: { navigation: :bottom, spider_bot: spider_bot }
