/ Start: Header
#header
  #header-content.container_12
    = link_to image_tag('obs-logo_small.png', height: 26), root_path, { id: 'header-logo' }
    %ul#global-navigation
      %li
      - if User.current && !User.current.is_nobody?
        %li#item-favorites{ style: 'float: right;' }
          %a{ href: '#' } Watchlist
    = render partial: 'layouts/webui/watch_and_search'
/ End: Header
