#left-navigation
  = render partial: 'layouts/webui/places', locals: { navigation: :left, spider_bot: spider_bot }
  - if content_for(:actions)
    = render partial: 'layouts/webui/actions', locals: { navigation: :left }
