.modal.fade.access-modal#sign-up-modal{ tabindex: -1, role: 'dialog', aria: { hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-body
        %button.btn.btn-close.float-end{ type: 'button', data: { 'bs-dismiss': 'modal' } }
        = link_to(root_path, class: 'd-block text-center', alt: 'Logo') do
          = image_tag('favicon.svg', height: '60')
        .h2.text-center.py-2 Sign Up
        = render 'webui/users/sign_up'
