.notifications-counter
  %i.fas.fa-bell
  = turbo_frame_tag 'unread_notification_count', loading: 'lazy', src: count_for_unread_my_notifications_path do
    %i.fas.fa-spinner.fa-spin
  %span.d-block Notifications
