<div data-role=”header”>
	<h1>List Attributes</h1>
</div>


<div data-role=”content”>
<ul data-role=”listview”>
	<% @attributes.each do |attribute| -%>
	<li>
	<%= link_to package, {:controller => 'package', :action => :show, :project => @project.name, :package => @package}-%>
	</li>
	<% end %>

    <%- if @package %>
	      <%= render :partial => "package/tabs" %>
      <% else %>
	        <%= render :partial => "project/tabs" %>
	<% end %>

	<%= render :partial => "attributes" %>

