- if feature_enabled?(:responsive_ux)
  = render partial: 'webui/user/index_actions'
- else
  = link_to('#', data: { toggle: 'modal', target: '#password-modal' }, class: 'd-block') do
    %i.fas.fa-key
    Change your password
