%table.requests-datatable.compact{ 'data-source' => user_requests_path(@displayed_user), id: id, width: '100%'}
  %thead
    %tr
      %th Created
      %th Source
      %th Target
      %th Requester
      %th Type
      %th Priority
      %th
%tbody
