/* 
**
**  $Id: $
**
**  Funktion:  Provides all styles for build.openSUSE.org
**  Author:    Frank Sundermeyer <fs@opensuse.org>, Robert Lihm <rlihm@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

/*****************
* General Styles *
*****************/

#bodyContent {
  min-height: 33em;
  position: relative;
  
}
li,
.navlist {
    list-style-image:url(https://static.opensuse.org/c/css/common/images/liDot_double_darkgrey.png);
}
.skipLinks {
    display: none;
}
#searchbox {
    text-align: right;
}
#searchbox .topleft {
    background: #fff url(../../images/darkgrey_searchbox/top_left_corner.png) top left no-repeat;
}
#searchbox .topright {
  background: url(../../images/darkgrey_searchbox/top_right_corner.png) top right no-repeat;
}
#searchbox .bottomleft {
    background: url(../../images/darkgrey_searchbox/bottom_left_corner.png) bottom left no-repeat;
}
#searchbox .bottomright {
    background: url(../../images/darkgrey_searchbox/bottom_right_corner.png) bottom right no-repeat;
}
#pt-personal,
#pt-personal a {
  color: #ACB1B5;
}

#pt-personal a:hover,
#pt-personal div:hover {
/*  color: #690; */
  text-decoration: underline;
}

#pt-personal div {
  display: inline;
  cursor: pointer;
}

#pt-personal strong {}

h1, h2, h3, h4, h5, h6 {
    color: #5d666e;
}

.grey-medium {
  color: #666;  
}



/* login & logout */
#loginform,
#seachform_wrapper,
#logout {
  width: 13em;
  margin-top: 4%;
  margin-left: auto !important;
  margin-right: auto !important;
  /*background: #f9f;*/
}
#logout {
  margin-top: 7%;
  width: 19em;
}
#logout h2 {
  font-size: 3em;
  font-weight: bold;
}
#loginform #login_form input {
  width: 90%;
  margin: 0;
}
#loginform #login_form label {
 display: block;
 margin: 0.5em 0 0.2em;
 color: #666;
}
#seachform_wrapper {
  width: 20em;
}
#seachform_wrapper input {
  display: block;
  float:left;
  background: transparent;
  border: none;
}
#seachform_wrapper input#search_text {
  background:#FAFAFA;
  border:1px solid #CCC;
}
#seachform_wrapper a {
  display: block;
  float:left;
  width: 16px;
  height:16px;
  margin:6px;
}
#seachform_wrapper a img {}

#monitor-wrapper { /* a try to handle the long monitor-tabel */
  overflow: visible;
}

.dialog_wrapper .darkgrey_box .box_top_row,
.dialog_wrapper .darkgrey_box_double .box_top_row { 
background:transparent !important;
}

/* ### inplace watchlist ### */
#inplace_watchlist {
  display: block;
  position: absolute;
  z-index:2000;

  width: 20.5em;
  
  top: 2em;
  right: 2em;
  
  border-top: 1px solid #333;
  border-bottom: 1px solid #666;
  background: #eee;
  text-align: left;

}

  #inplace_watchlist a {
    color: #666;
    display:block;
    width: 100%;
    padding: 0.3em 0 0.5em 0.5em;
  }
  #inplace_watchlist a:hover {
    color :#F59F1A;
    background: #fafafa;
  }
  #inplace_watchlist div {
    display: block;
    position: relative;
  }
  
  div.inner_spacer,
  #inplace_watchlist div {
    margin: 0.5em;
  }
  
  .td_padding_r {
    padding-right: 1em !important;
  }
  
/* ### inplace watchlist ### */

/* Add Repo & DropZone **************************************************** */

#simple_targets_wrapper,
#project_list_wrapper {
  display: table; 
  display: block;
  height: auto;
  background:#f9f9f9;
}

  #simple_targets_wrapper div.distro_wrapper,
  div.col_wrapper {
  }
  
  #simple_targets_wrapper ul {
  }
  #simple_targets_wrapper li {
  }
 
  #opensuse_wrapper li,
  #debian_wrapper li,
  #fedora_wrapper li,
  #mandriva_wrapper li, 
  #xubuntu_wrapper li,
  #repository_wrapper li {
    border-right: 5px solid #ddd;
    border-left: 5px solid #ddd;
  }

  #opensuse_wrapper li {
    border-left-color: #669900;
    border-right-color: #669900;
  }
  #debian_wrapper li {
    border-left-color: #bf1238;
    border-right-color: #bf1238;
  }
  #fedora_wrapper li {
    border-left-color: #337ACC;
    border-right-color: #337ACC;
  }
  #mandriva_wrapper li {
    border-left-color: #FFA808;
    border-right-color: #FFA808;
  }
  #xubuntu_wrapper li {
    border-left-color: #255FB7;
    border-right-color: #255FB7;
  }



   
  .toggle_box_top,
  .toggle_box_bottom {
    background: #eee;
  }
  
  .toggle_box_top {
    display: block;
    height: 2em;
    border-bottom: 2px solid #e5e5e5;
    font-weight: bold;
    color: #999;
    cursor: pointer;
  }

  .toggle_box_bottom {
    border-top: 1px solid #ccc;
    height: 4px;
  }
 
  .toggle_box_top span {
    position: absolute;
    width: 95%;
    margin-left: 1.5em;
    padding-top: 0.5em;
    border-bottom: 0;
  } 
 
 
 
  .toggle_box_top,
  #drop_list div h4 {
    background:#eee url(/css/local/images/icons/folder-open.png) no-repeat scroll 1% 0.5em;
  }
  .toggle_box_top:hover,
  #drop_list div h4:hover {
    background-image: url(/css/local/images/icons/folder-open_over.png);     
    color: #666;
    
  }
  #repository_wrapper .toggle_box_top,
  #repository_wrapper .toggle_box_bottom {
   position: relative;
  }
  #repository_wrapper .toggle_box_top {}



/********************/
  
#selection_wrapper {
/*  width: 95%;*/
  width: 100%;
  height: auto;
  border-collapse: separate;
  clear: left;
}

#selection_wrapper td {
  width: 49%;
  padding: 0 1em 0 0;
  margin: 0;
}

/* Repo List */
#repository_wrapper {
  vertical-align: top;
  background: white;
}
#repository_wrapper ul,
#repository_wrapper ul ul {
/*  max-width: 23em;*/
  margin: 0 1em 0 0;
  margin: 0;
}

  #repository_wrapper .sub_item {
    margin: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 0.2em;
  }

#filter_wrapper {
  margin: 0.5em 0;
/*  padding-left: 50px;*/
  background: #eee url('/css/local/images/icons/system-search.png') no-repeat scroll 1%;
  border-bottom: 2px solid #e5e5e5;
}
  #filter_wrapper form {
/*    margin-left: 2em;*/
    margin-left: 10%;
  }

  #project_list_filter {
    width: 60%;
    min-width: 8em;
  }

#project_list {
  border-top: 1px solid #eee;
}

#drop_zone {}

.draggable_element,
.draggable_sub_element {
  list-style: none outside none;
  margin: 0.5em;
  cursor: pointer;
  color: #666;
  padding: 0.2em 0.5em;
  background: #f4f4f4;
  border: 1px solid #ddd;
}

#drop_list {
 position: fixed;
 top: 17em;
 min-height: 23em;
 width: 23em;
 
 padding-bottom: 3em; 
  
 text-align: left;
 background: #fafafa url('images/drop_zone_0.png') no-repeat scroll center 7em;
 border: 1px dashed #ddd;
}
  #drop_list h3 {
    padding-top: 0.5em;
    text-align: center;
    color: #ddd;
  }
#drop_list div {
  display: block;
  width: auto;
  /*margin: 0.5em 1px 0;*/
  right: 2em;

}
#drop_list div * {
  /*margin: 0;*/
}

.list_wrapper { /* e.g. used in #drop_list to wrap subrepos */
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  border-bottom:2px solid #E5E5E5; 
}
#drop_list div.repo_cnt {
  padding: 0.2em 0;
  margin: 0;
  border-bottom: 0;
  padding-left: 0.5em;
  cursor: pointer;
  color: #666;

  background-color: #fafafa;
}
  #drop_list div.repo_cnt:hover {
   color: #333;
   background-color: #f5f5f5; 
  }
#drop_list div a.remove_item {
  float:right;
  display: block;
  width: 16px;
  height: 17px;
  margin: 0.5em 0.4em 0 0;
  cursor: pointer;
  background: transparent url("/css/local/images/icons/edit-delete.png") no-repeat center center;
}

#drop_list div.repo_cnt  a.remove_item {
  margin: 0 0.4em 0 0;
  background: transparent url("/css/local/images/icons/edit-delete3.png") no-repeat center center;
}

  #drop_list div a.remove_item:hover {
    background-image:url("/css/local/images/icons/edit-delete_over.png");
    text-decoration:none;
  }
  #drop_list div.repo_cnt:hover a.remove_item, 
  #drop_list div.repo_cnt a.remove_item:hover {
    background-image:url("/css/local/images/icons/edit-delete_over2.png");
  }

  .draggable {}
  
  .draggable_sub_element {
    background: #fafafa;
    cursor: move;
    z-index: 999999!important;   
  }
  .draggable_element:hover,
  .draggable_sub_element:hover {
    color: #690;
    border-style: dashed;
  }
        
  .draggable_element:hover {
    background-color: #f8f8f8;
  }
  .draggable_sub_element:hover {
    background-color: #fcfcfc;
  }
  
.draggable_element {}
.draggable_sub_element {
  font-weight: bold;
}
/* /Repo List */  

.hover #drop_list {
  color: #ddd!important;
  border-color: #690!important;
  background-image: url('images/drop_zone_1.png')!important;
  }
/* /Add Repo & Repo DropZone ********************************************** */

/* obs-webclient 1st page */

#proceed_list { }
#proceed_list a {
  text-decoration: none;
}
#proceed_list .proceed_text {
  text-decoration: underline;
}

#proceed_list li {
  float: left;
  text-align: center;
  list-style: none;
  margin:0;
  width: 10em;
}
#proceed_list li img {
  margin-bottom: 0.5em;
}

/* /obs-webclient 1st page */

.nowrap {
  white-space: nowrap;
  display: inline;
  vertical-align: top;
}


