/* 
**
**  Funktion:  Provides all styles for build.openSUSE.org
**  Author:    Frank Sundermeyer <fs@opensuse.org>, Robert Lihm <rlihm@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

/* ### inplace watchlist ### */
#inplace_watchlist {
  display: block;
  position: absolute;
  z-index:2000;

  width: 20.5em;
  
  top: 2em;
  right: 2em;
  
  border-top: 1px solid #333;
  border-bottom: 1px solid #666;
  background: #eee;
  text-align: left;

}

  #inplace_watchlist a {
    color: #666;
    display:block;
    width: 100%;
    padding: 0.3em 0 0.5em 0.5em;
  }
  #inplace_watchlist a:hover {
    color :#F59F1A;
    background: #fafafa;
  }
  #inplace_watchlist div {
    display: block;
    position: relative;
  }
  
  div.inner_spacer,
  #inplace_watchlist div {
    margin: 0.5em;
  }
  
  .td_padding_r {
    padding-right: 1em !important;
  }
  
.nowrap {
  white-space: nowrap;
  display: inline;
  vertical-align: top;
}

textarea {
  width: 95%;
  margin-left: 2%;
}

.build_result_trigger {
  position: relative;
}

.ajax_large_loader { 
  width: 32px;
  height: 32px;
  background-image: url(../../../images/large-loader.gif);
}

#build_result_popup { 
  position: absolute; 
  background: white; 
  border: 1px solid black; 
  margin: 5px; 
  display: none; 
  z-index: 50;
}

span.build_result_title { 
  font-size: 110%;
}
