<h1>New product</h1>

<%= start_form_tag :action => 'create_tag' %>
  <%= render :partial => 'tag_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list_tag' %>
