<p>
<% form_id = "tag_form" %>
<% form_remote_tag :url => {:action => :add_tag, :controller => "project", :project => @project},
  :loading => "$('#spinner').show()",
  :complete => "$('#spinner').hide()" do -%>
  <%= text_field_tag( "tag", @tag , :size => 15) %>
  <%= image_submit_tag "ok"%>
  <%= image_tag 'rotating-tail.gif', :id => 'spinner', :style => "visibility:hidden;" -%>
  <% end %>
</p>
