<% 	flag = @project.send("#{flagtype}"+"flags")["#{repo}::#{arch.to_s}".to_sym]

	 if flag %>
		<span id="<%="#{flag.name}_#{flag.id}"%>" >
			<%= render :partial => "flag_status", :locals => {:flag => flag} %>
		</span>
  <% else %>
		n/a
  <% end %>