<table class="inner_flag_table">
	<tr>
		<td><%= flag_status(buildflag) %></td>
		<td><%= flag_status(publishflag) %></td>
		<td><%= flag_status(useforbuildflag) %></td>
		<td><%= flag_status(debuginfoflag) %></td>
	</tr>
</table>
