<h3>
  Project Flags  
</h3>

<span  id="error_message_flags" class="error_message" style="display:none"></span>

<% %>  
<%= render :partial => "outer_flag_table" unless @project.repositories.empty?%>
