<div id='repository-<%=@id%>' onclick="new Effect.toggle($('repo_cnt-<%=@id%>'), 'blind', {duration:0.15});">
  <h4>
  <a id='<%=@id%>' title='Remove Item From List' class='remove_item'>&nbsp;</a>
  <%=@id%>
  </h4>
  <div id='repo_cnt-<%=@id%>' class='repo_cnt'>
      <a id='<%=@id%>' title='Remove Item From List' class='remove_item'>&nbsp;</a>
       <%=@id%>
  </div>
</div>
