<ul class="sub_list">
  <%- repos.each do |repo| -%>
  <%- element_id = "repo_"+project+"/"+repo.name -%>
    <li id="<%= element_id%>" class="draggable_sub_element"><%= repo.name %></li>
    <%= draggable_element element_id, :zindex => 100000, :revert => true, :reverteffect => "function(element, top_offset, left_offset) {new Effect.Move( element, {x: -left_offset, y: -top_offset, duration: 0})}" %>
  <%- end -%>
</ul>
