<div id='repository-<%=@id%>' class="list_wrapper">
  <div class="toggle_box_top" onclick="new Effect.toggle($('cnt_<%=@id%>'), 'blind', {duration:0.15});">
  <a id='<%=@id%>' title='Remove Item From List' class='remove_item'>&nbsp;</a>
    <span><%=@id%></span>
  </div>
  <div id="cnt_<%=@id%>">
    <div id="" class='repo_cnt'>
      <a id='<%=@id%>' title='Remove Item From List' class='remove_item'>&nbsp;</a>
       <%=@id%>
    </div>
  </div>
</div>
