<div id="package_list">

  <% if @packages.length == 0 %>
    <p><i>This project does not contain any packages yet.</i></p>
  <% else %>
    <div id="pkg_container">
      <% if @packages.each.select{|p| /^_product/.match( p.name ) }.size > 0 %>
        <h3>Products</h3>
        <p>
          <% @packages.each.select{|p| /^_product/.match( p.name ) }.collect{|p| p.name }.each do |package| -%>
            | <%= link_to highlight( package.sub(/_product:/, ''), @filterstring ), { :controller => 'package', :action => :show, :project=> @project, :package => package}, :class => 'nowrap' %>
          <% end %>
        </p>
      <% end %>

      <% unless @patchinfo.empty? %>
        <h3>Patchinfos</h3>
        <p>
          <% @patchinfo.each do |info| -%>
            | <%= link_to highlight( info, @filterstring ), { :controller => 'patchinfo', :action => :show, :project => @project, :package => info}, :class => 'nowrap' %>
          <%end%>
        </p>
      <%end%>

      <h3>Packages</h3>
      <p>
        <% @packages.each.select{|p| !/^_product/.match( p.name ) and !/^_patchinfo/.match( p.name ) }.collect{|p| p.name }.each do |package| -%>
          <% if @current_char.blank? || @current_char != package[0,1]
            @current_char = package[0,1] %>
          </p><p><b><%= @current_char %></b>
          <% end %>
          | <%= link_to highlight( package, @filterstring ), { :controller => 'package', :action => :show, :project=> @project, :package => package}, :class => 'nowrap' %>
        <% end%>
      </p>
    </div>
  <% end %>

</div>
