<table class="grid packages_table" id="filtered_packages_table" >
</table>

<div id="pkg_container">
<table class="grid packages_table" id="packages_table">
  <tr id="nopackages" style="display: none"><td>No Packages</td></tr>
  <% @matching_packages.each do |package| -%>
    <tr id="pkg-<%= package.downcase %>">
      <td><%= link_to h(package), :controller => 'package', :action => :show, :project=> @project, :package => package %></td>
    </tr>
  <% end%>
</table>
</div>

