<h1>Add Repository</h1>

<div id="left_cnt_col">

  <div style="dropable_items">

    <div id="dummy">
      Dummy Item
    </div>
    


  <%= draggable_element "dummy", :revert => true %>

  </div>

</div>

<div id="right_cnt_col">
  <div id="drop_zone">
    <ul id="drop_list">
    </ul>
  </div>
  
</div>

<%= drop_receiving_element("drop_zone", :url => {:action => "receive_repository", :project => @project}) %>
