<% @pagetitle = "Attributes for Project #{@project}" %>
<% project_bread_crumb( 'Attributes' ) -%>

<%= render :partial => "tabs" %>

<% if @project.has_element? :remoteurl -%>
<h3>Remote OBS Instance:</h3>
<p><%= @project.remoteurl %></p>
<% end -%>

<h3>Attributes for Project <%= @project %>: </h3>

<!-- Attributes -->
<%= render :partial => "attribute/attributes" %>
