<% @pagetitle = "Comments for #{@project}" %>
<% @layouttype = 'custom' %>
<% project_bread_crumb('Comments') %>

<div class="grid_16 alpha omega box box-shadow">
	<%= render :partial => "project/tabs" %>
	<h3><%= @pagetitle %></h3>
</div>
<%=render :partial => "comment/show"%>
<%=render :partial => "comment/new"%>
