<h2>All Projects</h2>

<p><%= link_to '[Create New Project]', :action => :new %></p>

<table>
  <tr><th>Name</th>
  <% for project in @projects %>
  <tr><td>
    <%= link_to project, :action => :show, :project => project %>
  </td>
  </tr>
  <% end %>
</table>

<hr>
Pages <%= pagination_links( @project_pages ) %>