<% @pagetitle = "Requests for #{h(@project)}" %>
<% project_bread_crumb( "Requests" ) -%>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %></h3>

<%= render :partial => 'shared/select_requests', :locals => { :requests => @current_requests, :project => @project.to_s } %>

