<% @pagetitle = "Projects Maintained by #{@project}" %>
<% project_bread_crumb 'Maintained Projects' %>

<%= render :partial => 'tabs' %>

<h3>Maintained Projects</h3>
<% if @maintained_projects.length > 0 %>
  <ul>
    <% @maintained_projects.each do |maintained_project| %>
      <li>
        <%= link_to(maintained_project, :action => 'show', :project => maintained_project) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No projects in maintenance</p>
<% end %>
