<% @pagetitle = "Meta Configuration of #{@project}" %>
<% @metarobots = 'noindex' %>
<% project_bread_crumb('Meta') %>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %></h3>
<% if @project.can_edit?(@user) %>
  <%= render :partial => "shared/editor", :locals => {:text => @meta, :mode => 'xml', :save => {:url => {:controller => 'project', :action => 'save_meta'}, :method => 'POST', :data => {:project => @project, submit: 'meta'}}} %>
<% else %>
  <%= render :partial => "shared/editor", :locals => {:text => @meta, :mode => 'xml'} %>
<% end %>
