<% @pagetitle = "Project Configuration of #{@project}" %>
<% @metarobots = 'noindex' %>
<% project_bread_crumb 'Project Configuration' %>

<%= render :partial => "tabs" %>

<h3><%= @pagetitle %></h3>
<div style="margin-left: 15px; margin-right: 15px;">
  <% if @project.can_edit?(@user) %>
    <%= render :partial => "shared/editor", :locals => {:text => @config, :mode => 'prjconf', :save => {:url => {:controller => 'project', :action => 'save_prjconf'}, :method => 'POST', :data => {:project => @project, submit: 'config'}}} %>
  <% else %>
    <%= render :partial => "shared/editor", :locals => {:text => @config, :mode => 'prjconf', :read_only => true} %>
  <% end %>
</div>
