- @pagetitle = 'Maintenance Incidents'

.card.mb-3
  = render partial: 'tabs', locals: { project: @project }
  .card-body
    %h3
      Maintenance incidents
      %span.badge.badge-primary
        = @incidents.count

    -# haml-lint:disable MultilinePipe
    %table.w-100.responsive.table.table-sm.table-striped.table-bordered#incident-table{ data: { |
    source: project_maintenance_incidents_path(project_name: @project.name) } } |
      -# haml-lint:enable MultilinePipe
      %thead
        %tr
          %th
            Summary
          %th
            Category
          %th
            Packages
          %th
            Info
          %th
            Release Targets
          %th
            Build
      %tbody

- content_for :ready_function do
  :plain
    initializeRemoteDatatable('#incident-table', {
      lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
      responsive: true,
      searching: false,
      columns: [
        { data: 'summary', orderable: true },
        { data: 'category', orderable: false },
        { data: 'packages', orderable: false },
        { data: 'info', orderable: false },
        { data: 'release_targets', orderable: false },
        { data: 'build_results', orderable: false }
      ]
    });
