- if CONFIG['software_opensuse_url']
  %li
    = sprite_tag 'application_get'
    %a{ href: "#{CONFIG['software_opensuse_url']}/download.html?project=#{u @project.name}&package=#{u @package.name}" } Download package
