<h2>Editing group</h2>
<% form_for :group, :url => { :action => :update, :id => @group} do |form| %>
  <%= render(:partial => 'form') %>
  <%= submit_tag 'Apply Changes' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @group %> |
<%= link_to 'Back', :action => 'list' %>
