= render partial: 'webui/main/breadcrumb_items'
- if controller_name == 'project' && action_name == 'index'
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Projects
- else
  %li.breadcrumb-item
    = link_to 'Projects', projects_path
  %li.breadcrumb-item
    = link_to @project, project_show_path(@project)
  // This partial is re-used by breadcrumb partials of other controllers
  - if controller_name == 'project'
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      = active_breadcrumb_label
