%div

  - if error
    %i.fa.fa-exclamation-triangle.text-warning
    = error

  = render partial: 'webui2/webui/project/status_comment', locals: { package_name: package_name, editable: true, comment: comment, project: project }

