.card-body
  - if packages.present?
    .obs-dataTable
      %table.table.table-sm.table-fixed.table-striped.table-bordered#packages-table{ data: { source: package_index_path(project: project) } }
        %thead
          %tr
            %th.w-75 Name
            %th.w-25 Changed
        %tbody
  - else
    %p This project does not contain any packages

  - if User.current.can_modify?(project)
    - if show_package_actions?
      .pt-4
        %ul.list-inline
          %li.list-inline-item
            = link_to('#', class: 'nav-link', data: { toggle: 'modal', target: '#new-package-modal' }) do
              %i.fas.fa-plus-circle.text-primary
              Create Package
          %li.list-inline-item
            = link_to('#', class: 'nav-link', data: { toggle: 'modal', target: '#new-package-branch-modal' }) do
              %i.fas.fa-code-branch.text-primary
              Branch Existing Package

= content_for :ready_function do
  :plain
    initializeDataTable('#packages-table', {
      "processing": true,
      "serverSide": true,
      "ajax": $('#packages-table').data("source"),
      "pagingType": "full_numbers",
      "columns": [
        {"data": "name"},
        {"data": "changed"}
      ]
    });
