- locals_hash = { buildresults: @buildresults, project: @project, collapsed_repositories: @collapsed_repositories }
$('.build .result').html("#{escape_javascript(render(partial: 'buildstatus', locals: locals_hash))}");

$('.build .build-refresh i').removeClass('fa-spin');
$('[data-toggle="popover"]').popover({ trigger: 'hover click' });
