<div id="schedulerstatus">
  <h2>Scheduler Status</h2>
  <% if @workerstatus.has_key? "scheduler" -%>
    <ul>
      <% @workerstatus.elements("scheduler") do |sched| -%>
        <li>
          <strong><%= sched["arch"] %></strong>: <%= sched["state"] %>
          <% if sched.has_key? "starttime" -%>
            <% start_time = Time.at(sched["starttime"].to_i) -%>
            for <%= distance_of_time_in_words(@time_now, start_time, true) %> (last restart: <%= start_time.iso8601 %>)
          <% end -%>
        </li>
      <% end -%>
    </ul>
  <% else -%>
    <p><i>No schedulers configured!</i></p>
  <% end -%>
</div>
