<% @pagetitle = "Build Status Monitor" %>

<%
@crumb_list = [ 'Monitor' ]
-%>
<%= render :partial => 'status_messages' %>
<%= render :partial => 'scheduler' %>
<%= render :partial => 'building' %>
<%= render :partial => 'idle' %>
<%= render :partial => 'waiting' %>
<%= render :partial => 'blocked' %>
<%= render :partial => 'average' %>
