<% @pagetitle = "Build Status Monitor" %>

<%
@crumb_list = [ 'Monitor' ]
-%>
<%= render :partial => 'status_messages' %>
<% if @workerstatus %>
  <%= render :partial => 'scheduler' %>
  <%= render :partial => 'building' %>
  <%= render :partial => 'idle' %>
  <%= render :partial => 'stats' %>
<% else -%>
  <div class="strong">Unable to determine status of workers</div>
<% end -%>

