.card.mb-3
  %h5.card-header Legend
  .card-body.legend
    .row
      .col-xs-12.col-sm-4.col-xl-12
        %p.mb-1 Requests
        %ul.list-unstyled.small
          %li
            %span.request-ready
            Ready
          %li
            %span.request-review
            In review
          %li
            %span.request-obsolete
            Obsolete
          %li
            %span
            %del Delete

