.card.mb-3
  %h5.card-header Legend
  .card-body.legend.requests
    .col-4.col-xs-3.col-md-2.col-xl-12.col-xxl-9
      %p.mb-1 Requests
      .d-flex.flex-column.gap-1
        %span.badge.state-ready
          = link_to '#', class: 'request' do
            Ready
        %span.badge.state-review
          = link_to '#', class: 'request' do
            In review
        %span.badge.state-obsolete
          = link_to '#', class: 'request' do
            Obsolete
        %span.badge.delete
          = link_to '#', class: 'request' do
            Delete
