<% @pagetitle = "Search" %>
<%
@crumb_list = [
  'Search'
]
-%>

<div id="seachform_wrapper">
<h1>Search</h1>
<p id="search_form">
  <%= render :partial => 'search_form' %>
</p>

<!-- Set Focus to the input box -->
<script type="text/javascript">
  <!--
    document.getElementById('search_text').focus();
  //-->
</script>
</div>
