<% @pagetitle = "Change Password" %>

<% if session[:login] -%>
<h2>Change Your Password</h2>

<%= form_tag :controller => 'user', :action => 'change_password', :method => :post do %>
<table border='0' cellspacing='0' cellpadding='5'>
  <tr>
    <td>Current Password:</td>
    <td><input type="password" name="current_password" id="current_password" size="20"/></td>
  </tr><tr>
    <td>New Password:</td>
    <td><input type="password" name="new_password" id="new_password" size="20"/></td>
  </tr><tr>
    <td>Repeat New Password:</td>
    <td><input type="password" name="password_confirmation" id="password_confirmation" size="20"/></td>
  </tr>
</table>
<p><%= submit_tag %></p>
<% end %>
<% else %>
<p>You need to be logged in to be able to change your password.</p>
<% end %>

