<% @pagetitle = "Edit User Data" %>

<h2>Editing User Data for User <%=h @user.login %></h2>

<% form_tag :action => :save do -%>
  <strong>Real Name:</strong><br/>
  <%= text_field_tag( "realname", @user.realname, :size => 80 ) %><br/>
  <p><%= submit_tag %></p>
<% end -%>
