<% @pagetitle = "Edit User Data" %>

<h2>Editing User Data for User <%= @user.login %></h2>

<%= form_tag :action => :save do -%>
   <div>
	 <p><strong>Real Name:</strong></p>
	<p><%= text_field_tag( "realname", @user.realname, :size => 80 ) %></p>
  <p><%= submit_tag %></p>
   </div>
<% end -%>
