<% @pagetitle = "Account Registration" %>

<h2>Your account has been registered</h2>
<p>Please stay tuned until somebody of the openSUSE build service team
has approved your request. You will receive email.</p>

