!!! XML
%urlset{ xmlns: 'http://www.sitemaps.org/schemas/sitemap/0.9',
         'xmlns:xsi': 'http://www.w3.org/2001/XMLSchema-instance',
         'xsi:schemalocation': 'http://www.sitemaps.org/schemas/sitemap/0.9\n            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd' }
  - @packages.each do |project, package|
    %url
      %loc= package_show_url(project: project, package: package)
      %priority 0.6
