- css_class = 'btn-light' if seen_by_user

= link_to(toggle_action_seen_by_user_request_path(action_id: @action.id),
    class: "btn #{css_class}",
    title: 'Wether the action has been marked "as seen" or not yet',
    method: :put, remote: true) do
  - if seen_by_user
    %i.fa-solid.fa-square-check
  - else
    %i.fa-regular.fa-square
  Action seen
