- timeline.each do |comment_or_history_element|
  .timeline-item
    - if comment_or_history_element.is_a?(Comment)
      .comments-thread
        = render BsRequestCommentComponent.new(comment: comment_or_history_element, level: 1, commentable: comment_or_history_element.commentable,
                                               diff: diff_for_ref(comment_or_history_element))
    - else
      = render BsRequestHistoryElementComponent.new(element: comment_or_history_element,
                                                    request_reviews_for_non_staging_projects: request_reviews_for_non_staging_projects)
