.card
  .card-header.d-flex.justify-content-between
    = header
    - if delete_button?
      .ms-4
        = delete_button
  .card-body
    = content

  .card-footer.bg-transparent.border-0
    - if actions?
      .nav.justify-content-end
        - actions.each do |action|
          .nav-item
            = action
