= text_field_tag(nil, @input_text, readonly: true, id: @readonly_input_id, class: 'form-control')
.input-group-append{ id: @input_id }
  %span.input-group-text
    %i.fas.fa-clipboard

- content_for :ready_function do
  :plain
    // Definition of the tooltip and click event handler for the "Copy to clipboard" icon
    $('##{@input_id}').tooltip({ title: 'Copy to clipboard' }).on('click', function () {
      document.getElementById("#{@readonly_input_id}").select();
      document.execCommand('copy');

      // Shows "Copied!" tooltip. Later on shows the previous message 'Copy to clipboard' as tooltip.
      $(this).tooltip('dispose').tooltip({ title: 'Copied!' }).tooltip('show').on('hidden.bs.tooltip', function () {
        $(this).tooltip('dispose').tooltip({ title: 'Copy to clipboard' });
      });
    });
