= link_to(update_path, id: helpers.dom_id(@notification, :update),
          method: :put, class: 'btn btn-sm btn-outline-success px-3', title: title,
          data: { remote: true, 'disable-with': tag.i(class: 'fas fa-spinner fa-spin') }) do
  %i.fas{ class: icon }
