.card.sticky-top#notification-action-bar
  .card-body.py-3
    .d-flex.px-0.px-md-1
      .form-check
        = check_box_tag('select-all-notifications', 1, false, class: 'form-check-input')
        %label.form-check-label.align-middle.me-4#select-all-label{ for: 'select-all-notifications' } Select All
      .me-auto
        = button_tag(type: 'submit', class: 'btn btn-sm btn-outline-success px-3', id: 'done-button', disabled: 'disabled',
                     'data-disable-with': disable_with_content) do
          = button_text
      - if @show_read_all_button
        .ms-4
          = link_to(button_text(all: true), @update_path, method: :put, remote: true,
                    class: 'btn btn-sm btn-outline-secondary px-3', 'data-disable-with': disable_with_content(all: true))
