- if sponsors?
  .sponsors-header #{obs_title} is sponsored by
  .container-fluid#sponsor
    .container-xxl.sponsors.d-flex.flex-wrap.justify-content-center
      - sponsors.each do |sponsor|
        .sponsor-item
          = link_to_sponsor(sponsor)
