%label.form-check-label.form-group.px-4.py-1.d-flex.justify-content-between{ for: @filter_name }
  .form-check
    = check_box_tag @filter_name, 1, checked = workflow_run_filter_matches?, class: 'form-check-input me-2'
    %span
      = icon_tag
      = @text
  - if @amount.positive?
    %span= @amount
