= form_with(url: token_workflow_runs_path(@token_id), method: :get, local: true, class: 'row row-cols-auto') do
  = hidden_field_tag('generic_event_type', @generic_event_type)
  = label_tag('request_action', 'Action', class: 'visually-hidden')
  .input-group.me-sm-2
    .input-group-text
      Action
    = select_tag('request_action',
                  options_for_select(@filter_options, @request_action),
                  class: 'form-control form-select')
  %button.btn.btn-primary#filter-button{ type: :submit }
    Apply
