.form-group.px-4.py-1.d-flex.justify-content-between
  = label_tag(@filter_name, 'Action', class: 'visually-hidden')
  = select_tag(@filter_name,
               options_for_select(@filter_options, @selected_value),
               class: 'form-control form-select')
