.form-group.px-4.py-1.d-flex.justify-content-between
  = label_tag('request_action', 'Action', class: 'visually-hidden')
  .input-group
    .input-group-text
      Action
    = select_tag('request_action',
                  options_for_select(@filter_options, @request_action),
                  class: 'form-control form-select')
