.form-group.px-4.py-1.d-flex.justify-content-between
  = label_tag(@filter_item, 'Action', class: 'visually-hidden')
  .input-group
    .input-group-text
      Action
    = select_tag(@filter_item,
                  options_for_select(@filter_options, @request_action),
                  class: 'form-control form-select')
