.card.write-and-preview{ data: { preview_message_url: preview_message_url, message_body_param: message_body_param } }
  %ul.nav.nav-tabs.px-3.pt-2.disable-link-generation{ role: 'tablist' }
    %li.nav-item
      = link_to('Write', '#write_message', class: 'nav-link active', data: { 'bs-toggle': 'tab' }, role: 'tab',
      aria: { controls: 'write-message-tab', selected: 'true' })
    %li.nav-item
      = link_to('Preview', '#preview_message', class: 'nav-link preview-message-tab',
      data: { 'bs-toggle': 'tab', preview_message_url: preview_message_url },
      role: 'tab', aria: { controls: 'preview-message-tab', selected: 'false' })
  .tab-content.px-3
    .tab-pane.fade.show.active.my-3{ id: 'write_message', role: 'tabpanel', 'aria-labelledby': 'write-message-tab' }
      ~ form.text_area(text_area_attributes[:object_name], rows: text_area_attributes[:rows], required: text_area_attributes[:required],
        placeholder: text_area_attributes[:placeholder],
        class: 'w-100 form-control message-field')
    .tab-pane.fade{ id: 'preview_message', role: 'tabpanel', 'aria-labelledby': 'preview-message-tab' }
      .message-preview.my-3

:javascript
  attachPreviewMessageOnCommentBoxes();
