<h2>New role</h2>

<% form_for :role, :url => { :action => :create } do |form| %>
  <%= render(:partial => 'form') %>
  <%= submit_tag "Create Role" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>