%h4 Actions:
- event['actions'].each do |a|
  - if %w(submit maintenance_incident maintenance_release release).include?(a['type'])
    = render partial: 'event_mailer/submit_action', formats: [:html], locals: { a: a }
  - else
    = render partial: "event_mailer/#{a['type']}_action", formats: [:html], locals: { a: a }
