%div{ style: 'margin-bottom: 1em; padding: 0.5em; background-color: #f5f5f5; border-left: 3px solid #ffc107;' }
  %strong set_bugowner
  - if a['group'].blank?
    set the bugowner of #{project_or_package_text(a['targetproject'], a['targetpackage'])} to #{a['person']}
  - else
    set the bugowner of #{project_or_package_text(a['targetproject'], a['targetpackage'])} to group #{a['group']}
