%p
  Visit #{link_to(*[url_for(project: event['project'], controller: 'webui/project', action: :show, only_path: false, host: @host)]*2)}
%p
  = event['commenter'].realname
  wrote in project #{event['project']}:
%div= render_as_markdown(event['comment_body'])
