%p
  Visit #{link_to(*[url_for(controller: 'webui/request', action: :show, number: event['number'], host: @host, only_path: false)]*2)}
%p
  = event['commenter'].realname
  wrote in request #{event['number']}:
%div= render_as_markdown(event['comment_body'])
