<p>Visit <%= link_to(*[url_for(project: @e['project'], controller: 'webui/project', action: :show, only_path: false, host: @host)]*2) %></p>

<p><%= @e['commenter'].realname %> wrote in project <%= @e['project'] %>:</p>

<div><%= comment_body(@e['comment_body']) %></div>
