%p
  A workflow run failed for #{ event['summary'] }
  = succeed '.' do
    - if event['repository_full_name']
      on repository #{ event['repository_full_name'] }

%p
  Check the details about this #{link_to('Workflow Run', token_workflow_run_url(event['token_id'], event['id'], only_path: false, host: @host)) }.
