.modal.fade{ id: 'delete-user-modal', tabindex: -1, role: 'dialog',
             aria: { labelledby: 'delete-user-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title
          Delete User?
      .modal-body
        %p
          Please confirm deletion of '
          %span.user-login>
          '

        = form_tag nil, method: :delete do
          .modal-footer
            %button.btn.btn-sm.btn-outline-secondary.px-4{ data: { 'bs-dismiss': 'modal' } }
              Cancel
            = submit_tag('Delete', class: 'btn btn-sm btn-danger px-4')
