- @pagetitle = 'Manage Users'

.card.mb-3
  = render partial: 'webui/configuration/tabs'
  .card-body
    %h3= @pagetitle
    %table.responsive.table.table-sm.table-bordered.table-hover#user-table{ data: { source: users_path } }
      %thead
        %tr
          %th
            User
          %th
            Real Name
          %th
            Local User
          %th
            State
          %th
            Actions
      %tbody

    .pt-4
      = link_to(new_user_path(pagetitle: 'create user', submit_btn_text: 'create', title: 'Create User')) do
        %i.fas.fa-plus-circle.text-primary
        Create User

- content_for :ready_function do
  initializeUserConfigurationDatatable("#{::Configuration.ldap_enabled?}");
