.card.mb-3
  .card-body
    .col-lg-6.ps-0
      - if can_register?
        %h3= @pagetitle.titleize
        = render 'webui/users/sign_up', submit_btn_text: 'Create'
      - else
        %p Sorry, sign up is disabled
