<% if @workerstatus.elements("waiting").size == 0 %>
	<p><i>No scheduler statistics</i></p>
<% else %>
<table class="building">
  <thead>
    <tr>
      <th>Host Arch</th>
      <th>Packages in waiting queue</th>
      <th>Packages in blocked queue</th>
      <th><span class="aligncenter">Average Job time</span></th>
     </tr>
  </thead>
  <tbody>
    <% @workerstatus.elements("waiting").sort {|a,b| a["arch"] <=> b["arch"] }.each do |entrywaiting| %>
      <% outblocked = nil %>
      <% outbuildavg = nil %>
      <tr>
        <td class="arch">
          <%= entrywaiting["arch"] %>
        </td>
          <td class="waiting">
          <span class="aligncenter"><%= entrywaiting["jobs"] %></span>
        </td>
        <td class="blocked">
          <% @workerstatus.elements("blocked") do |b|
               outblocked = b["jobs"] if b["arch"] == entrywaiting["arch"]
	     end %>
          <span class="aligncenter"><%= outblocked || " - "%></span>
        </td>
        <td class="avgjobtime">
          <% @workerstatus.elements("buildavg") do |b|
            if b["arch"] == entrywaiting["arch"]
              outbuildavg = distance_of_time_in_words(Time.at(b["buildavg"].to_i), Time.at(0), include_seconds: true)
            end
          end %>
          <span class="aligncenter"><%= outbuildavg || " - " %> </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end -%>
