- @pagetitle = 'Build Status Monitor'
- @crumb_list = [link_to('Monitor', controller: 'monitor', action: :index), "Detailed"]
- @metarobots = 'nofollow'
= render partial: 'building'
= render partial: 'idle'
= render partial: 'stats'
