:ruby
  required = local_assigns.fetch(:required, true)
  value = local_assigns.fetch(:value, '')
  disabled = local_assigns.fetch(:disabled, false)
  data = local_assigns.fetch(:data, {})
  html_name = local_assigns.fetch(:html_name, html_id)

.form-group.ui-front
  = label_tag(html_id, label)
  - if required
    %abbr.text-danger{ title: 'required' } *
  .input-group
    .input-group-prepend
      %span.input-group-text
        %i.fas.fa-search
    = text_field_tag(html_id, value, required: required, disabled: disabled, placeholder: 'Type to autocomplete...',
                     class: 'obs-autocomplete form-control', data: data, name: html_name)
