%i.fa-regular.fa-question-circle.text-info{ data: { 'bs-placement': position,
                                                    'bs-toggle': 'popover',
                                                    'bs-html': 'true',
                                                    'bs-content': text } }
