- if Flipper.enabled?(:labels, User.session)
  = render partial: 'webui/shared/label', collection: project.label_globals, as: :label, locals: { global_label: true }
  - if policy(project).update?
    = render partial: 'webui/shared/label_global_form', locals: { project: }
