%table.requests-datatable.compact{ 'data-source' => source_url, id: id, width: '100%'}
  %thead
    %tr
      %th Created
      %th Source
      %th Target
      %th Requester
      %th Type
      %th Priority
      %th
%tbody
