%table.responsive.requests-datatable.table.table-sm.table-bordered.table-hover.w-100{ data: { source: source_url,
  'page-length': local_assigns[:page_length] }, id: id }
  %thead
    %tr
      %th Created
      %th Source
      %th Target
      %th Requester
      %th Type
      %th Priority
      %th
  %tbody
