.alert.alert-warning{ role: :alert }
  %i.fa.fa-exclamation-triangle.text-warning
  We truncated the diff of some files because they were too big.
  If you want to see the full diff for every file, #{link_to 'click here', path}.
