<h2>Deleting User &quot;<%= @user.login %>&quot;</h2>

<p>
Are you sure you want to delete the user <%= @user.login %>? All role assignments
will be taken away from this user. There could be problems with other objects
depending on this user (articles, for example).
<strong>This action cannot be reverted!</strong>
</p>

<% form_for :group, :url => { :action => :delete, :id => @user } do |form| %>
  <%= submit_tag 'Yes', :name => 'yes' %>
  <%= submit_tag 'No', :name => 'no' %>
<% end %>