- @pagetitle = "Group #{@group.title}"
%h2= @pagetitle
- unless @group.users.empty?
  %table#group_members_table
    %thead
      %tr
        %th Group members
    %tbody
      - @group.users.each do |user|
        %tr
          %td= link_to(user.login, user_show_path(user))
- else
  %p
    %i This group does not contain users
- content_for :ready_function do
  $('#group_members_table').dataTable();
