<%= error_messages_for 'permission' %>

<!--[form:permission]-->
<dl>
  <dt><label for="permission_title">Title</label></dt>
  <dd>
    <%= text_field 'permission', 'title'  %>
  </dd>
</dl>
<!--[eoform:permission]-->
