%li.nav-item
  = link_to('#',
            class: 'nav-link',
            title: 'Delete Project',
            data: { 'bs-toggle': 'modal',
                    'bs-target': '#delete-project-modal' }) do
    %i.fas.fa-times-circle.fa-fw.me-2
    %span.nav-item-name Delete Project
