- unless has_patchinfo
  %li.nav-item
    = link_to(patchinfo_path(project: project), method: :post, class: 'nav-link', title: 'Create Patchinfo') do
      %span.fa-stack
        %i.fas.fa-band-aid.fa-lg.fa-stack-1x
        %i.fas.fa-plus-circle.fa-stack-1x.top-icon
      %span.nav-item-name Create Patchinfo
