%li.nav-item
  = link_to('#', class: 'nav-link', id: "js-project-#{project.id}",
        data: { 'bs-toggle': 'modal',
                'bs-target': '#report-modal',
                'modal-title': "Report #{project.name}",
                'reportable-type': project.class.name,
                'reportable-id': project.id }) do
    %i.fas.fa-regular.fa-flag.fa-fw.me-2
    %span.nav-item-name Report Project
