%li.nav-item
  = link_to(new_project_role_addition_path(project), class: 'nav-link', title: 'Request Role Addition') do
    %i.fas.fa-plus-circle.fa-fw.me-2
    %span.nav-item-name Request Role Addition
%li.nav-item
  = link_to(new_project_deletion_path(project), class: 'nav-link', title: 'Request Deletion') do
    %i.fas.fa-times-circle.fa-fw.me-2
    %span.nav-item-name Request Deletion
