%li.nav-item
  = link_to('#', class: 'nav-link', data: { 'bs-toggle': 'modal', 'bs-target': '#unlock-project-modal' }, title: 'Unlock Project') do
    %i.fas.fa-unlock.fa-fw.me-2
    %span.nav-item-name Unlock Project
