<% if @user %>
	<%= form_tag :action => "save_comment" do %>
	<p>	  
	  <%= text_field_tag 'title',@title, :placeholder => "Comment Title"%>
	</p>
	<p> 
	  <%= text_area_tag 'body', nil, :size => "80x1", :onkeyup => "sz(this);", :onclick => "sz(this);", :style => "width: 90%;", :placeholder => "Comment Text" %>	  
	</p>
	<p><%= submit_tag "Add comment"%></p>
	<%end%>
<% end %>
