/* 
**
**  $Id: basemod_opensuse.css 21268 2007-06-11 12:15:30Z fs $
**
**  Function : Modifications of the basic YAML styles and structural
**             additions for the openSUSE layout
**  Author:    Frank Sundermeyer <fs@opensuse.org>
**  License:   see copyright/COPYRIGHT
**
*/

@media screen {

/* ----------------*/
/* Page formatting */
/* ----------------*/

body {
    background: #fff;
    min-width: 800px;
    /*max-width: 1400px;*/
}

/* ----------------- */
/* Header formatting */
/* ----------------- */

#logo {
    margin-bottom: 10px;
}
#logo_content {
    min-height: 85px;
    height: 3em;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
#logo_content img {
    border: 0;
    margin:0;
    padding:0;
    width: 100%;
    max-width: 129px;
}
#banner_green,
#banner_orange,
#banner_darkgrey,
#banner_blue {
    position: relative;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
#banner_content {
    min-height: 85px;
    height: 3em;
    border: 0;
}
#slogan {
    padding: 26px 0 26px 20px; 
}   
#pt-personal {
    text-align: right;
    font-weight: bold;
    font-size: 90%;
    margin-right: 15px;
    white-space: nowrap;
}
#pt-personal a {
    text-decoration: none;
}
#searchbox {
    margin: 10px 15px 0 0;
    white-space: nowrap;
    float:right;
}
#searchbox .button {
    margin: 13px 0 0 0;
    padding: 0;
    border: 0;
}
#searchInput {
    width: 142px;
    border: 0;
    background: #FFF;
    margin: 0 9px;
    padding: 0;
    min-height: 18px;
}

#page_actions {
    width:auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 11em 0 0;
    text-align: left;
    font-weight: normal;
    font-size: 85%;
    padding: 0;
}
#page_actions ul {
   list-style: none none;
   padding: 0;
   margin: 0 0 0 10px;
}
#page_actions ul li {
   padding: 0 7px 0 0;
   margin: 0;
   display: inline;
}
#langsel.show {
    width: 11em;
    float:right;
    display: inline;
    font-size: 85%;
    text-align: right;
}
#langsel.hide {
    display: none;
}
#langsel select {
    border: none;
}
/* ----------------------- */
/* Content area formatting */
/* ----------------------- */

/* (en) Centering layout in old IE-versions */
/* (de) Zentrierung des Layouts in alten IE-versionen */
body {
  text-align: center;
}

#page_margins {
  text-align: left;
}

#main {
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
} 

/* left column */
#col1 {
    width: 14em;
}
#col1_content {	
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    background: #fff;
}

#col2,
#col2_content {
  display:none;
}

/* right column */
#col3 {
    margin-left: 14em;
    margin-right: 10px;
    min-width: 20em;
}
#col3_content {
    margin-left: 10px;
    margin-right: 10px;
    margin: 0;
    color: #000;
    background: #fff;
}
#contentarea {
    position: relative; 
    padding-left: 4px;
    float: left;
    width: 99.3%;
}
#page_footer {
    text-align: center !important;
    font-size: smaller !important;
}

} 
