<div class="box box-shadow">
  <h2 class="box-header">Contact</h2>
  <p class="description">Please join our <a href="mailto:opensuse-buildservice+subscribe@opensuse.org">mailing list</a>
    (<%= link_to 'Archives', 'http://lists.opensuse.org/opensuse-buildservice/' %>) for discussions around the Open Build Service.
  </p>
  <p class="description">An alternative discussion place can be found at the <a href="http://forums.opensuse.org/english/other-forums/development/open-build-service-obs/">web forum</a>.
  </p>
  <p class="description">
    We also have an active IRC channel <a href="irc://irc.opensuse.org/opensuse-buildservice">#opensuse-buildservice</a> running on Freenode.<br/>
  </p>
  <p class="description">
    Community and commercial support, trainings and consulting offerings <a href="http://www.open-build-service.org/support/">are listed here.</a><br/>
  </p>
</div>
