<div class="box box-shadow">
  <div class="box-header centered">
    Contact
  </div>
  <p class="description">Please join our <a href="mailto:opensuse-buildservice+subscribe@opensuse.org">mailing list</a>
    (<%= link_to 'Archives', 'http://lists.opensuse.org/opensuse-buildservice/' %>) for discussions around the Build Service.
  </p>
  <p class="description">
    We also have an active IRC channel <a href="irc://irc.opensuse.org/opensuse-buildservice">#opensuse-buildservice</a> running on Freenode.<br/>
  </p>
</div>
