<div class="ui-oo-box-shadow">
<p class="description">If you would like to discuss the Build Service please use the
  <a href="mailto:opensuse-buildservice+subscribe@opensuse.org">opensuse-buildservice@opensuse.org</a> mailing list
  (<%= link_to 'Archives', 'http://lists.opensuse.org/opensuse-buildservice/' %>).<br/>
  We also have an active IRC channel <a href="irc://irc.opensuse.org/opensuse-buildservice">#opensuse-buildservice</a> running on Freenode.<br/>
</p>
</div>
<div class="clear"></div>
