<div class="box box-shadow">
  <div class="box-header aligncenter">
    Job Offering
  </div>
  <%= image_tag('security.png') %> <%= link_to 'OBS Team looks for new member', 'http://www.open-build-service.org/2012/05/25/the-open-build-service-team-at-suse-looks-for-a-new-member/' %>
</div>
