<div class="box box-shadow">
  <div class="box-header aligncenter">Latest Updates</div>

  <table style="width: 90%">
    <tbody>
      <% @latest_updates.each do |update| %>
        <tr>
          <td>
            <% if update.data.name == 'package' %>
              <%= image_tag 'package.png' %>
              <% project, package = update.project, update.name %>
            <% elsif update.data.name == 'project' %>
              <%= image_tag 'project.png' %>
              <% project, package = update.name, nil %>
            <% end %>

            <%= link_to(elide(update.name, 20), :controller => 'project', :action => 'show', :project => project, :package => package) %>
          </td>
          <td class="nowrap" style="width: 1%"><%= fuzzy_time_string(update.updated) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
