
<%= start_form_tag :controller => 'main', :action => 'search_result' -%>
<%= text_field_tag 'search_text', params[:search_text], :size => 8, :style => 'width: 8em;'-%>
<%= image_submit_tag 'system-search', :title => 'Search' -%>
<%= link_to (image_tag 'search-advanced', :border => 0, :title => 'Advanced Search'),
  :controller => 'main', :action => 'search_advanced' -%>
<%= end_form_tag -%>

