<div class="darkgrey_box"  id="tagcloud_container" style="margin-left:1em;">
           <div class="box_top_row">
            <div class="box_left"></div>
            <div class="box_right"></div>
           </div>
           <div class="box_title_row">
            <div class="box_title">
            Sponsored by
            </div>
           </div>
           <div class="box_content" id="platin_sponsor">
            <div style="text-align: center; padding: 7px 0; overflow: hidden;">
              <p style="color: #ccc; font-size: 0.8em;">Gold Sponsor</p>
              <p>
                <a href="http://en.opensuse.org/Sponsors"><img src="http://files.opensuse.org/opensuse/en/5/54/Amd.png" title="Sponsored by AMD" alt="Sponsored by AMD"/></a>
                <a href="http://en.opensuse.org/Sponsors"><img title="Sponsored by: IP Exchange" alt="Sponsored by: IP Exchange" src="http://files.opensuse.org/opensuse/en/b/b6/Ip-exchange.gif"/></a>
              </p>
              <p style="color: #ccc; font-size: 0.8em;">Silver Sponsor</p>
              <p>

              <a class="external text" rel="nofollow" title="http://en.opensuse.org/Sponsors" href="http://en.opensuse.org/Sponsors">
              <img alt="B1-systems.jpg" src="http://files.opensuse.org/opensuse/en/f/fc/B1-systems.jpg"/>
              </a>
              </p>
            </div>
           </div>
           <div class="box_bottom_row">
            <div class="box_left"></div>
            <div class="box_right"></div>
           </div>
          </div>
          <br />
 </div>
