<div class="ui-oo-box-shadow grid_6">
  <div class="box-header grid_3">
    Sponsored by
  </div>
  <div class="clear"></div>
  <div id="platin_sponsor">
    <div style="text-align: center; padding: 7px 0; overflow: hidden;">
      <p style="color: #ccc; font-size: 0.8em;">Gold Sponsor</p>
      <p>
        <a href="http://en.opensuse.org/Sponsors"><%= image_tag "common/sponsors/sponsor_amd.png", :alt => "AMD", :title => "AMD" %></a>
        <a href="http://en.opensuse.org/Sponsors"><%= image_tag "common/sponsors/sponsor_ip-exchange.png", :alt => "IP Exchange", :title => "IP Exchange" %></a>
      </p>
      <p style="color: #ccc; font-size: 0.8em;">Silver Sponsor</p>
      <p>

        <a class="external text" rel="nofollow" title="http://en.opensuse.org/Sponsors" href="http://en.opensuse.org/Sponsors">
          <%= image_tag "common/sponsors/sponsor_b1-systems.png", :alt => "B1-systems", :alt => "B1-systems" %>
        </a>
      </p>
    </div>
  </div>
</div>
 <div class="clear"></div>