<% @pagetitle = "About" %>

<h2>About</h2>

<p>This is the web interface for the <%= OBS_INSTANCE_NAME %> Open Build Service (OBS).</p>
<p>Check the <a href="http://openbuildservice.org">Open Build Service project page</a> for details.</p>

