<h2>About</h2>

<p>This is the web client for the openSUSE build service.</p>
<p>Check the openSUSE <a href="http://en.opensuse.org/Build_Service">
   openSUSE Build Service wiki page</a> for details.</p>
<p>SVN Revision: $Revision: 509 $</p>
