<% @pagetitle = "Advanced Search" %>
<%
@crumb_list = [
  'Advanced Search'
]
-%>

<h1>Advanced Search</h1>
<p id="search_form">
  <%= render :partial => 'search_form_advanced' %>
</p>

<!-- Set Focus to the input box -->
<% content_for :ready_function do %>
    $('#search_text').focus();
<% end %>

