<%
@crumb_list = [
  'Advanced Search'
]
-%>

<h1>Advanced Search</h1>
<p id="search_form">
  <%= render :partial => 'search_form_advanced' %>
</p>

<!-- Set Focus to the input box -->
<script type="text/javascript">
  <!--
    document.getElementById('search_text').focus();
  //-->
</script>

