<% @pagetitle = "Search" %>
<%
@crumb_list = [
  'Search'
]
-%>

<div id="seachform_wrapper">
<h1>Search</h1>
<p id="search_form">
  <%= render :partial => 'search_form' %>
</p>
</div>

<% content_for :ready_function do %>
<!-- Set Focus to the input box -->
   $('#search_text').focus();
<% end %>

