- if text.present?
  .obs-collapsible-textbox
    - if text.length > threshold
      .obs-collapsible-text.obs-collapsed
        = simple_format(text, class: 'm-0 p-0')
      %a.obs-collapsible-link.obs-collapsed.text-center.d-block{ title: 'Show more' }
    - else
      = simple_format(text, class: 'm-0 p-0')
