---
http_interactions:
- request:
    method: get
    uri: https://pmbs-api.links2linux.de/public/distributions.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.38410117849707603,"db":0.5667409859597683,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.10.10
      Etag:
      - W/"3b4f25197b32d45e6f04f017f956bb09"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<distributions/>\n"
  recorded_at: Tue, 08 Jun 2021 14:16:32 GMT
- request:
    method: get
    uri: http://backend:5352/build/custom_packman/_result?code=unresolvable&view=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: project 'custom_packman' does not exist
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <status code="404">
          <summary>project 'custom_packman' does not exist</summary>
          <details>404 project 'custom_packman' does not exist</details>
        </status>
  recorded_at: Tue, 08 Jun 2021 14:16:32 GMT
- request:
    method: get
    uri: http://backend:5352/build/custom_packman/_result?view=summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: project 'custom_packman' does not exist
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <status code="404">
          <summary>project 'custom_packman' does not exist</summary>
          <details>404 project 'custom_packman' does not exist</details>
        </status>
  recorded_at: Tue, 08 Jun 2021 14:16:32 GMT
recorded_with: VCR 6.0.0
