---
http_interactions:
- request:
    method: get
    uri: https://api.opensuse.org/public/distributions.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":22.576807998120785,"db":11.108079925179482,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20210608T091701.79aaf33c2f
      Etag:
      - W/"b14ae4eb3a91cfffc7d4fd0bf614e280"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <distributions>
          <distribution vendor="openEuler" version="20.03" id="18648">
            <name>openEuler 20.03</name>
            <project>openEuler:20.03</project>
            <reponame>openEuler_20.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" height="8"/>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="16" height="16"/>
            <architecture>x86_64</architecture>
            <architecture>aarch64</architecture>
          </distribution>
          <distribution vendor="openEuler" version="21.03" id="18651">
            <name>openEuler 21.03</name>
            <project>openEuler:21.03</project>
            <reponame>openEuler_21.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" he[...]
