%li.list-inline-item
  = link_to(package_trigger_rebuild_path(arch: result[:arch], project: project, package: package, repository: repository),
  title: 'Trigger rebuild', method: :post, class: 'nav-link') do
    %i.fas.fa-redo
    Trigger rebuild
%li.list-inline-item
  - unless result[:binaries].empty?
    = link_to('#', title: 'Delete binaries',
      data: { toggle: 'modal', target: '#delete-binaries-modal', arch: result[:arch],
      action: package_wipe_binaries_path(arch: result[:arch], project: project, package: package, repository: repository) }) do
      %i.fas.fa-times-circle.text-danger
      Delete binaries
