- if current_page?(users_path)
  -# This page is only reachable from the configuration, so it's based on configuration
  = render partial: 'webui/configuration/breadcrumb_items'
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Manage Users
- else
  = render partial: 'webui/main/breadcrumb_items'
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Home of #{@displayed_user}
