:ruby
  @pagetitle = 'Create User'

.card
  .card-body
    .row
      .col-lg-6
        - if can_register
          %h5.card-title  Create User
          = render partial: 'webui2/shared/sign_up', locals: { submit_btn_text: 'Create' }
        - else
          %p Sorry, sign up is disabled
