/*
    CSS for KIWI DocBook documentation
*/


div.authorgroup,
div.authorgroup *
{
  font-size:small;
}

div.authorgroup div.author h3,
div.authorgroup div.othercredit h3
{
  margin-bottom: 0em;
}

div.legalnotice 
{
  font-size:small;
  border: 1pt dotted gray;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  padding-bottom:0em;
}

div.legalnotice p.legalnotice-title b
{
  margin-bottom:0em;
}


div.refentry div.refnamediv h2,
div.refentry div.refsynopsisdiv h2,
div.refentry div.refsect1 h2
{
  margin-top: 2em;
  margin-bottom:-0em;
}



div.sect2 div.titlepage, 
div.refentry div.refnamediv h2
{
  background-color: #629900;
  color:white;
  padding-left: 2pt;
  padding-top:0pt;
  padding-right: 2pt;
  margin-top:1em;
}

div.sect2
{
  border-top: 1pt dotted gray;
}

p.releaseinfo 
{
  font-size:small;
  /* font-family:monospace; */
}

.type {
  font-family:monospace;
}