- if comments.any?
  And
  - people = comments.group(:user_name).count
  %b
    = pluralize(people.count, 'person')
  added
  = link_to('#pulse-collaboration') do
    = pluralize(comments.count, 'comment')
  in here.
- else
  And no one commented in here.
