%li.breadcrumb-item
  = link_to('Your Profile', user_path(User.session))

- case action_name
- when 'index'
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Tokens
- when 'new', 'create'
  %li.breadcrumb-item
    = link_to 'Tokens', tokens_path
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Create Token
- when 'edit'
  %li.breadcrumb-item
    = link_to 'Tokens', tokens_path
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Edit Token
- when 'show'
  %li.breadcrumb-item
    = link_to 'Tokens', tokens_path
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Show Token
