<h2>All Platforms</h2>

<% if @platforms and @platforms.length > 0 %>
<table>
<% for platform in @platforms %>
<tr>
  <td><%= link_to platform.name, :action => :show,
    :name => name_from_path( platform.name.to_s ),
    :project => project_from_path( platform.name.to_s ) %></td>
  <td><%= platform %></td>
</tr>
<% end %>
</table>
<% else %>
No platforms defined yet.
<% end %>
<!--
<p><%= link_to '[Create New Platform]', :action => :new %></p>
-->
