<% @pagetitle = "New Platform" %>
<h2>New Platform</h2>

<%= form_tag :action => :create %>
<b>Project:</b>
<%= select_tag 'project', options_for_select(@projects) %><br/>
<b>Name:</b><br/>
<%= text_field_tag 'name', '', :size => 80 %><br/>
<b>Title:</b><br/>
<%= text_field_tag 'title', '', :size => 80 %><br/>
<b>Description:</b><br/>
<%= text_area_tag 'description', '', :cols => 80,
  :rows => 10 %>
<p><%= submit_tag %></p>
<%= end_form_tag %>
