# the web ui only uses the database to store jobs to do

production:
  adapter: mysql
  database: webui_production
  username: root
  password: opensuse

development:
  adapter: sqlite3
  database: db/database-devel.db

stage:
  adapter: sqlite3
  database: db/database-stage.db

test:
  adapter: sqlite3
  database: db/database-test.db
