# Config options for the buildservice webclient
version: 1.0

# change this option to use a customized theme. See README.theme
theme: neutral
# this is build.opensuse.org's theme
#theme: bento

# Set this when the webclient runs from a subdirectory
#relative_url_root: /stage

# Set this when the api runs from a subdirectory
#api_relative_url_root: /stage

# Exceptions get mailed to these addresses:
#exception_recipients: ['webclient_noreply@opensuse.org']
exception_recipients: []

#exception_sender: webrun@domain

# Use static.opensuse.org for static style content
#use_static: build.o.o

# Download base URL of published binaries
#download_url: http://myhost:82/

# Bugzilla link url for creating bugreports for projects or packages
#bugzilla_host: http://bugzilla.myproject.org

# Hide private options in webui, like source or binary protection 
# hide_private_options: true

# Make use of mod_xforward module in apache
#use_xforward: true

# make use of http://blog.lighttpd.net/articles/2006/07/22/x-sendfiles-new-friend-x-rewrite
# note that you need to enable the proxy-core option to allow this
#use_lighttpd_x_rewrite: true

# Show option to change password (not possible if passwords are controlled by proxy)
#change_passwd: on

# if your users access the hosts through a proxy (or just a different name, use this to
# overwrite the settings for users)
#external_frontend_host: api.opensuse.org
#external_frontend_port: 443
#external_frontend_protocol: https

# used for redirects after login
#external_webui_host: build.opensuse.org
#external_webui_protocol: https

# if the api runs against ldap (:on && :off)
#frontend_ldap_mode: :on

# enable gravatar icons in webui. This contacts www.gravatar.com and may tell the email adresses
# of your users if they are registered there.
#use_gravatar: :off

# Use this http_proxy (currently only used to download garavatar images)
#http_proxy: 

# hostname of API
frontend_host: api.opensuse.org
# port of API
frontend_port: 443
frontend_protocol: https

# Do not show options to make projects private
#hide_private_options: true

# old name for proxy_auth_mode
#ichain_mode: :off
# old name for proxy_auth_test_user
#ichain_test_user

proxy_auth_mode: :off
#proxy_auth_host: https://build.opensuse.org
#proxy_auth_login_page: https://build.opensuse.org/ICSLogin
#proxy_auth_logout_page: /cmd/ICSLogout
#proxy_auth_register_page: https://en.opensuse.org/ICSLogin

# use those to fake ichain against the API 
#proxy_auth_test_email: coolguy@example.com
#proxy_auth_test_user: coolguy

