%li.nav-item
  = link_to(new_package_branches_path(project: project, package_name: package, revision: revision),
            class: 'nav-link', title: 'Branch Package') do
    %i.fas.fa-code-branch.fa-fw.me-2
    %span.nav-item-name Branch Package
