%li.nav-item
  = link_to(new_project_package_checkupgrade_path(project, package), class: 'nav-link',
            title: 'Check Upgrade') do
    %i.fas.fa-sync.fa-lg.mr-2
    %span.nav-item-name Check Upgrade

