%li.nav-item
  = link_to('#', class: 'nav-link', data: { 'bs-toggle': 'modal', 'bs-target': '#delete-modal' }, title: 'Delete Package') do
    %i.fas.fa-times-circle.fa-fw.me-2
    %span.nav-item-name Delete Package
