%li.nav-item
  = link_to(mergeservice_project_package_trigger_path(project_name: project, package_name: package), method: :post, class: 'nav-link',
            title: 'Merge Services') do
    %i.fas.fa-object-group.fa-fw.me-2
    %span.nav-item-name Merge Services
