%li.nav-item
  = link_to(new_project_package_deletion_path(project, package), class: 'nav-link', title: 'Request Deletion') do
    %i.fas.fa-times-circle.fa-fw.me-2
    %span.nav-item-name Request Deletion
