%li.nav-item
  = link_to(new_project_package_devel_project_change_path(package.project, package), class: 'nav-link',
            title: 'Request Devel Project Change') do
    %i.fas.fa-exchange-alt.fa-fw.me-2
    %span.nav-item-name Request Devel Project Change
