%li.nav-item
  = link_to(new_project_package_role_addition_path(project, package), class: 'nav-link', title: 'Request Role Addition') do
    %i.fas.fa-plus-circle.fa-fw.me-2
    %span.nav-item-name Request Role Addition
