%li.nav-item
  = link_to(new_project_package_submission_path(project, package, revision: revision), class: 'nav-link',
            title: 'Submit Package') do
    %i.fas.fa-share-square.fa-fw.me-2
    %span.nav-item-name Submit Package
