%li.nav-item

  = link_to(package_show_path(package: package, project: project, checkupgrade: true), 
    method: :get, class: 'nav-link', title: 'Check upgrade') do
    %i.fas.fa-project-diagram.fa-lg.mr-2
    %span.nav-item-name Check upgrade
