- content_for :actions do
  - if User.session
    %li.nav-item
      = link_to(new_project_path, class: 'nav-link', title: 'Create Project') do
        %i.fas.fa-plus-circle.fa-fw.me-2
        %span.nav-item-name Create Project
    %li.nav-item
      = link_to(image_templates_path, class: 'nav-link', title: 'New Image') do
        %i.fas.fa-compact-disc.fa-fw.me-2
        %span.nav-item-name New Image
