.card.mb-3
  .card-header.d-flex.justify-content-between
    %h5
      News
    .float-right
      = link_to(news_feed_path(format: 'rss'), title: 'RSS Feed') do
        %i.fa.fa-rss
  .list-group.list-group-flush
    = render StatusMessageComponent.with_collection(status_messages)
  - if policy(StatusMessage.new).create?
    .card-footer
      = link_to(new_status_message_path, class: 'nav-link') do
        %i.fas.fa-plus-circle.text-primary
        Create Status Message

- if policy(StatusMessage.new).destroy?
  = render DeleteConfirmationDialogComponent.new(modal_id: 'delete-status-message-modal',
                                                 method: :delete,
                                                 options: { modal_title: 'Do you want to remove this status message?',
                                                            confirmation_text: 'Please confirm the deletion of this status message' })
