- @pagetitle = 'About'
%h2= @pagetitle
%p
  This is the web interface for the #{@configuration['title']}.
%p
  Check the
  %a{ href: 'http://openbuildservice.org' } Open Build Service project page
  for details about the software behind it.
