!!! XML
%urlset{ xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9",
         "xmlns:xsi": "http://www.w3.org/2001/XMLSchema-instance",
         "xsi:schemalocation": "http://www.sitemaps.org/schemas/sitemap/0.9\n            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" }
  / created with Free Online Sitemap Generator www.xml-sitemaps.com
  - @projects.each do |project|
    %url
      %loc= url_for(controller: :project, action: action, project: project, only_path: false)
      %priority= priority
