- if defined?(@package)
  = render partial: 'webui/package/breadcrumb_items'
- else
  = render partial: 'webui/project/breadcrumb_items'

%li.breadcrumb-item.active{ 'aria-current' => 'page' }
  Add a Distribution

