.form#loginform{ title: "Account login" }
  %h1= @pagetitle
  %p
    %label{ for: "user-login" } Username:
    %input#user-login{ name: "username", size: "30", type: "text", value: "" }/
    %br/
    %br/
    %label{ for: "user-password" } Password:
    %input#user-password{ name: "password", size: "30", type: "password" }/
  %p
    %input.primary#log-in-button{ name: "login", type: "submit", value: "Log In »" }/
%p
  - if CONFIG['proxy_auth_mode'] == :on
    Or
    \#{link_to 'register', CONFIG['proxy_auth_register_page'] + '?%22'}
    as a new user.
  - else
    - unless CONFIG['frontend_ldap_mode'] == :on
      Or
      = link_to("sign up", controller: :user, action: :register_user)
      as a new user.
