= render partial: 'webui/project/breadcrumb_items'
%li.breadcrumb-item
  = link_to @package, package_show_path(@project, @package)
- if current_page?(package_view_revisions_path)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Revisions
- if current_page?(package_requests_path)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Requests
- if current_page?(package_show_path)
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Overview
