.modal-dialog.modal-dialog-centered{ role: 'document' }
  .modal-content
    .modal-header
      %h5.modal-title Derived Packages
    .modal-body
      %ul.list-unstyled
        - @package.linking_packages.each do |linking_package|
          :ruby
            # FIXME: get rid of these helpers
            if linking_package.name != @package.name
              name = elide_two(linking_package.project.name, linking_package.name, 46).join(' / ')
            else
              name = elide(linking_package.project.name, 46)
            end
          %li= link_to(name, package_show_path(project: linking_package.project.name, package: linking_package.name))
    .modal-footer
      %button.btn.btn-sm.btn-outline-danger.px-4{ data: { dismiss: 'modal' } }
        Cancel
