%li
  %i.fas.fa-times-circle.text-danger{ title: 'Errors' }
  = failures
  = link_to "error#{failures == 1 ? '' : 's'}", project_monitor_path(project: project, pkgname: package_name, succeeded: 0,
                                                                     blocked: 0, finished: 0, signing: 0, dispatching: 0,
                                                                     scheduled: 0, building: 0)
