var index = #{@index}

- if @project.repositories.any?
  - locals_hash = { buildresults: @buildresults, index: @index, project: @project,
                    package: @package, collapsed_repositories: @collapsed_repositories }
  $('#build' + index + ' .result').html("#{escape_javascript(render(partial: 'buildstatus', locals: locals_hash))}");
  $('#build' + index + ' .build-refresh').data('params', 'show_all=#{@buildresults.show_all}');
- else
  $('#build' + index + ' .result').html("#{escape_javascript(render(partial: 'no_repositories', locals: { project: @project }))}");

$('#build' + index + ' .build-refresh i').removeClass('fa-spin');
$('[data-toggle="popover"]').popover({ trigger: 'hover click' });

