.card
  %h5.card-header
    Add Download on Demand for #{repository.name}
  = render partial: 'webui/download_on_demand/form', locals: { project: project, repository: repository, download_on_demand: download_on_demand }
