<h1>New product</h1>

<% form_tag :action => 'create_blacklist_tag' do -%>
  <%= render :partial => 'tag_form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list_blacklist_tag' %>
