- url = "#{download_url}/#{project.to_s.gsub(/:/, ':/')}/#{repository}"
%li.list-inline-item
  = link_to(url, title: 'Go to download repository', class: 'nav-link') do
    %i.fas.fa-download
    Go to download repository
