:ruby
  flag = flags.effective_flag(repository, architecture)
  is_flag_set_by_user = flags.set_by_user?(repository, architecture)
  title = flag.status.capitalize
  icon_class = flag.status == 'disable' ? 'fa-ban text-danger' : 'fa-check text-success'
  data = { status: flag.status, flag: flag.flag, repository: repository,
           architecture: architecture }
  if is_flag_set_by_user
    title += ' (set by user)'
    icon_class += ' ml-0_6'
    data['default'] = flags.default_flag(repository, architecture).status
    data['user-set'] = 1
  else
    title += ' (calculated)'
  end

%div
  = link_to('javascript:;', title: title, class: 'flag-popup', data: data) do
    %span.text-nowrap.current_flag_state
      %i.fas{ class: icon_class }
      - if is_flag_set_by_user
        %i.fas.fa-circle.text-gray-500.text-40p-size
  %i.fas.fa-spinner.fa-spin.d-none
