:ruby
  is_flag_set_by_user = !flag.new_record?
  title = flag.effective_status == 'disable' ? 'Disabled' : 'Enabled'
  title += is_flag_set_by_user ? ' (set by user)' : ' (calculated)'
  if user_can_set_flags
    content = render(partial: 'shared/flag_popover',
                     locals: { flag: flag, project: project, package: package, remote: !flag.has_children })
  end
  icon_class = flag.effective_status == 'disable' ? 'fa-ban text-danger' : 'fa-check text-success'
  icon_class += ' ml-0_6' if is_flag_set_by_user

%div{ id: flag.fullname }
  = link_to('javascript:void(0)', title: title,
                                  data: { html: 'true', toggle: user_can_set_flags ? 'popover' : '', placement: 'left', content: "#{content}" } ) do
    %span.text-nowrap.current_flag_state
      %i.fas{ class: icon_class }
      - if is_flag_set_by_user
        %i.fas.fa-circle.text-gray-500.text-40p-size
  %i.fas.fa-spinner.fa-spin.d-none
