.btn.btn-sm.btn-outline-primary.mb-2.result_reload{ title: 'Refresh', 'data-table': id }
  Refresh
  %i.fas.fa-sm.fa-sync-alt

%table.responsive.requests-datatable.table.table-sm.table-striped.table-bordered.w-100{ data: { source: source_url,
  'page-length': local_assigns[:page_length] }, id: id }
  %thead
    %tr
      %th Created
      %th Source
      %th Target
      %th Requester
      %th Type
      %th Priority
      %th
  %tbody
