- if CONFIG['proxy_auth_mode'] == :on
  - if CONFIG['proxy_auth_register_page'].blank?
    %p Sorry, signing up is currently disabled
  - else
    %p= link_to 'Use this link to Sign Up', CONFIG['proxy_auth_register_page']
- else
  = form_tag({ controller: 'user', action: 'register', method: :post }, class: 'sign-up', autocomplete: 'off') do
    = yield
