:ruby
  buildable = package || project

- if buildable
  :ruby
    ajax_data = {}
    ajax_data['project'] = h(project) if project
    ajax_data['package'] = h(package) if package

  .build-results-content{ data: ajax_data }
    .d-flex.justify-content-end
      .btn.btn-outline-primary.build-refresh{ onclick: 'updateBuildResultBeta()',
                                              accesskey: 'r', title: 'Refresh Build Results',
                                              data: { build_results_url: package_buildresult_path } }
        Refresh
        %i.fas.fa-sync-alt{ id: 'build-reload' }
    -# For a request staged in a staging project, we display the Build Results / RPM Lint from the staging project instead
    - if is_staged_request
      %p.font-italic
        From staging project
        = link_to(project, project_show_path(project))
    .result
      // The content of this div is set by JavaScript which calls the partial ../_build_status.html.haml

  :javascript
    updateBuildResultBeta();

- else
  .build-results-content
    .result
      %i No build results available
