- if package
  :ruby
    ajax_data = {}
    ajax_data['project'] = h(project) if project
    ajax_data['package'] = h(package) if package
    ajax_data['is_staged_request'] = h(is_staged_request) if is_staged_request

  .rpm-lint-content{ data: ajax_data }
    .pt-1.bg-white.d-flex.flex-wrap-reverse.align-items-baseline.sticky-top
      .result
      .btn.btn-outline-primary.rpm-lint-refresh.ms-auto.mb-3{ onclick: 'updateRpmLintResultBeta()',
                                                              accesskey: 'r', title: 'Refresh Rpm Lint Results',
                                                              data: { rpm_lint_results_url: rpmlint_result_path } }
        Refresh
        %i.fas.fa-sync-alt{ id: 'rpm-lint-reload' }
    -# For a request staged in a staging project, we display the Build Results / RPM Lint from the staging project instead
    - if is_staged_request
      %p.font-italic
        From staging project
        = link_to(project, project_show_path(project))
    %pre.rpmlint-result.text-pre-wrap

  :javascript
    updateRpmLintResultBeta();

- else
  .rpm-lint-content
    .result
      %i No RPM lint results available
