/*
**
**  Funktion:  Provides all styles for build.openSUSE.org
**  Author:    Frank Sundermeyer <fs@opensuse.org>, Robert Lihm <rlihm@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/


/* A <pre> tag that looks like a <p>: */
pre.plain {
  background-color: white;
  border: 0px;
  font-family: sans-serif;
}
/* Remove default margin/padding when put into tables: */
td pre.plain {
  margin: 0px;
  padding: 0px;
  background-color: #F6F6F6;
}

.error {
  color: red;
}

.inlineblock {
  display: inline-block;
}

#breadcrump .icons-home_grey {
  float: left;
  margin-right: 5px;
}
/*
.dataTable th.sorting_disabled { display: none; }
*/
.global-navigation-menu li span.global-navigation-icon {
    background-image: image-url("globalnav-im.png");
}

.global-navigation-menu.global-navigation-menu-favorites li span.icons-project {
  padding-top: 0px;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.global-navigation-menu.global-navigation-menu-favorites li a.project-link {
  padding-top: 0px;
  display: inline;
  margin-left: 0px;
  margin-right: 0px;
}

.sign-up input {
  padding: 8px 8px;
}

.news-sender {
  margin-left: 5px;
}

.news-message {
 margin-top: 4px;
 margin-bottom: 20px;
 margin-left: 22px;
 padding: 5px;
}

.news-message img {
  float: right;
}

// Some general stuff for avoiding inline css
.padding-10pt {
  padding: 10pt;
}

#subheader #breadcrump {
  line-height: 1.3em;
}
