%li
  :ruby
    path = if requests.size == 1
             request_show_path(requests.first)
           elsif package
             package_requests_path(project, package)
           else
             project_requests_path(project)
           end
  %i.fa.fa-info-circle.text-info
  = link_to(path) do
    = pluralize(requests.size, 'open request')
