[Unit]
Description=OBS scheduler service
After=network.target

[Service]
EnvironmentFile=/etc/default/obs-server
ExecStart=/usr/lib/obs/server/bs_sched $i
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
