[Unit]
Description=OBS api delayed jobs, Start the delayed job handler for OBS api
After=network.target

[Service]
EnvironmentFile=/etc/default/obs-server
ExecStart=/usr/lib/obs/server/bs_apidelayed
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
