%ul.list-inline
  - unless User.current.is_nobody?
    %li.list-inline-item.togglable_comment{ "data-toggle": "reply_form_of_#{comment.id}" }
      %span.btn.btn-sm.btn-outline-secondary{ id: "reply_link_id_#{comment.id}" }
        Reply
  - if policy(comment).destroy?
    %li.list-inline-item
      = link_to('Delete', comment, method: :delete, id: "delete_link_id_#{comment.id}", class: 'delete_link btn btn-sm btn-outline-danger', remote: true,
        'data-confirm': 'Do you really want delete this comment?')
