- unless User.current.is_nobody?
  .card-body
    = form_for @comment, method: :post, remote: true do |f|
      = hidden_field_tag :commentable_type, commentable.class
      = hidden_field_tag :commentable_id, commentable.id
      ~ f.text_area :body, size: '80x4', onkeyup: 'sz(this);', onclick: 'sz(this);', placeholder: 'Add a new comment (markdown markup supported)', required: 'required', class: 'form-control mb-2'
      = f.submit 'Add comment', class: 'btn btn-success'
