.comments
  - commentable.comments.without_parent.each do |comment|
    = render partial: 'webui2/webui/comment/content', locals: { comment: comment, commentable: commentable, level: 1 }

  .comment_new
    = render partial: 'webui2/webui/comment/new', locals: { commentable: commentable }
