:plain
  $('#flash').html("#{escape_javascript(render(layout: false, partial: 'layouts/webui2/flash', object: flash))}");
  $('#delete-comment-modal-#{params[:id]}').modal('toggle');
  $('#delete-comment-modal-#{params[:id]}').on('hidden.bs.modal', function (e) {
    $('#comments').html("#{escape_javascript(render(partial: 'webui2/webui/comment/show', locals: { commentable: @commentable }))}");
    reloadCommentBindings();
  })

