<p>
<%= link_to "openSUSE API Documentation", { :controller => "apidocs" } %>
</p>

<% if http_user.has_role "Admin" %>
<p>
  <%= link_to "Admin Interface", { :controller => "admin" } %>
</p>
<p>
  <%= link_to "User Management", { :controller => "arbac/user", :action => "list" } %>
</p>
<% end %>




