%li.nav-item
  = link_to('#', data: { 'bs-toggle': 'modal', 'bs-target': '#password-modal' }, class: 'nav-link', title: 'Change Your Password') do
    %i.fas.fa-fw.me-2.fa-exchange-alt
    %span.nav-item-name Change Your Password
