%li.nav-item
  = link_to('#', data: { toggle: 'modal', target: '#password-modal' }, class: 'nav-link', title: 'Change Your Password') do
    %i.fas.fa-lg.mr-2.fa-exchange-alt
    %span.nav-item-name Change Your Password
