-# Behind a proxy or not, we go to the edit account form.
%li.nav-item
  = link_to(edit_account_user_path(user), class: 'nav-link', remote: true, title: 'Edit Your Account') do
    %i.fas.fa-fw.me-2.fa-user-edit
    %span.nav-item-name Edit Your Account
