%li
  %i.fas.fa-info-circle.text-info
  Has a
  = link_to 'patchinfo', show_patchinfo_path(package: package, project: project)
  for
  = link_to 'maintenance updates', 'http://en.opensuse.org/Portal:Maintenance'
