- @pagetitle = 'Build Status Monitor'
- @metarobots = 'nofollow'
.card
  .card-body
    - if @workerstatus
      = render partial: 'lights'
      = render partial: 'workers_table'
      = render partial: 'events', locals: { available_arch_list: @available_arch_list, default_architecture: @default_architecture }
    - else
      %p.font-weight-bold Unable to determine status of workers
