- @pagetitle = 'Build Status Monitor'
- @metarobots = 'nofollow'
.card
  .card-body
    - if @workerstatus
      = render partial: 'lights', locals: { workerstatus: @workerstatus }
      = render partial: 'workers_table'
      = render partial: 'events'
    - else
      %p.font-weight-bold Unable to determine status of workers
