:ruby
  info_text = "<p>Filter the requests by when they where created.</p>
               <p>If you omit one of the dates you filter for older/newer than.</p>"

= render partial: 'webui/shared/info_popover', locals: { position: 'bottom', text: info_text }
