<div class="box" style="margin: 1em">
  <h2 class="box-header">
    Add Download on Demand for <%= repository.name %>
  </h2>
  <%= render partial: 'webui/download_on_demand/form', locals: { project: project, repository: repository, download_on_demand: download_on_demand } %>
</div>
