<div class="box" style="margin: 1em">
  <h2 class="box-header">
    Edit Download on Demand for <%= repository.name %> / <%= download_on_demand.arch %>
  </h2>
  <%= render partial: 'webui/download_on_demand/form', locals: { project: project, repository: repository, download_on_demand: download_on_demand } %>
</div>
