%li.list-inline-item
  = link_to(new_project_role_addition_path(project), class: 'nav-link') do
    %i.fas.fa-plus-circle.text-primary
    Request Role Addition
%li.list-inline-item
  = link_to('#', class: 'nav-link', data: { toggle: 'modal', target: '#delete-request-modal' }) do
    %i.fas.fa-times-circle.text-danger
    Request Deletion
