- if !project.is_maintenance_incident? && release_targets.present?
  %li.list-inline-item
    = link_to(new_project_maintenance_incident_request_path(project), class: 'nav-link') do
      %i.fas.fa-share-square.text-warning
      Submit as Update
