.grid_8.alpha
  %h3 Provides
  %table
    %thead
      %tr
        %th{ style: 'width: 40%' } Symbol
        %th Required by
    %tbody
      - @fileinfo.elements('provides_ext') do |package_file|
        %tr
          %td
            %span.nowrap{ title: package_file['dep'] }
              = truncate(package_file['dep'], length: 30)
          %td
            - package_file.elements('requiredby') do |package_binary|
              = link_to package_binary['name'], action:               :dependency,
                                                project:              @project,
                                                package:              @package,
                                                repository:           @repository.try(:name) || @repository,
                                                arch:                 @arch.try(:name) || @arch,
                                                dependant_project:    package_binary['project'],
                                                dependant_repository: package_binary['repository'],
                                                dependant_name:       package_binary['name'],
                                                filename:             @filename
      - unless @fileinfo['provides_ext']
        %tr
          %td{ colspan: '2' }
            %em No provides

.grid_8.alpha
  %h3 Requires
  %table
    %thead
      %tr
        %th{ style: 'width: 40%' } Symbol
        %th Provided by
    %tbody
      - @fileinfo.elements('requires_ext') do |package_file|
        %tr
          %td
            %span.nowrap{ title: package_file['dep'] }
              = truncate(package_file['dep'], length: 30)
          %td
            - package_file.elements('providedby') do |package_binary|
              = link_to package_binary['name'], action:               :dependency,
                                                project:              @project,
                                                package:              @package,
                                                repository:           @repository.try(:name) || @repository,
                                                arch:                 @arch.try(:name) || @arch,
                                                dependant_project:    package_binary['project'],
                                                dependant_repository: package_binary['repository'],
                                                dependant_name:       package_binary['name'],
                                                filename:             @filename
      - unless @fileinfo['requires_ext']
        %tr
          %td{ colspan: '2' }
            %em No requires

