<div id="package_buildstatus">
  <% if !@project.repositories.any? %>
    <p><i>The project this package belongs to currently has no <%= link_to 'build targets', repositories_distributions_path(@project) %> defined. </i></p>
  <% else %>
    <p><i>No build results available</i></p>
  <% end %>
</div>
