- @log.lines.each do |line|
  - if line =~ /\w+(?:\.\w+)+: W: /
    = content_tag(:span, line.strip, style: 'color: olive;')
  - elsif line =~ /\w+(?:\.\w+)+: E: /
    = content_tag(:span, line.strip, style: 'color: red;')
  - else
    = line.strip
