<% @pagetitle = "Attributes of #{@package} (Project #{@project})" %>
<% package_bread_crumb 'Attributes' %>

<%= render :partial => 'tabs' %>

<h3><%= @pagetitle %></h3>

<%= render :partial => "webui/attribute/attributes" %>
