<% @pagetitle = "Requests for #{@package}" %>
<% package_bread_crumb('Requests') %>

<%= render :partial => 'tabs'  %>

<h3><%= @pagetitle %></h3>

<%= render :partial => 'shared/select_requests', :locals => {:project => @project.name, :package => @package.name, :no_target => true}  %>

