- if action_name == 'index'
  %li.breadcrumb-item.active{ 'aria-current' => 'page' }
    Cloud Upload
- else
  %li.breadcrumb-item
    = link_to 'Cloud Upload', cloud_upload_index_path
  %li.breadcrumb-item.active
    Choose your Cloud
