/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require dataTables/jquery.dataTables
 *= require token-input
 *= require token-input-facebook
 *= require codemirror
 *= require webui/application/bento.css.scss
 *= require webui/application/cm2.css.scss
 *= require webui/application/icons.css.scss
 *= require webui/application/style.css.scss
 *= require webui/application/our-own-jquery-ui.css.scss
 *= require webui/application/monitor.css.scss
 *= require webui/application/package.css.scss
 *= require webui/application/project.css.scss
 *= require webui/application/search.css.scss
 *= require webui/application/home.css.scss
 *= require webui/application/comments.css.scss
 *= require webui/application/notifications.css.scss
 *= require webui/application/attribute.css.scss
 *= require webui/application/request.css.scss
 *= require webui/application/image_templates.css.sass
*/

table.dataTable tbody tr {
  background-color: #eeeeee;
}
/* table.dataTable tbody tr.selected { */
table.dataTable tbody tr.odd td.sorting_1 {
  background-color: #d3d6ff;
}

table.dataTable.compact {
  border-collapse: collapse;
}

a.paginate_button.next {
  width: 51px;
}
