.border-dotted {
  border-style: dotted !important;
}

.border-2 {
  border-width: 2px !important;
}

// NOTE: part of responsive-ux
.border-gray-500 { border-color: $gray-500 !important; }
.border-gray-400 { border-color: $gray-400 !important; }