#comments {
  .media .media-body {
    @extend .text-break;

    p:not(:first-child) {
      max-width: $seventy-five-chars;
    }

    pre {
      @extend .p-2;
      @extend .bg-light;
      @extend .text-pre-wrap;
    }
    code { line-height: 1.5rem; }
  }

  blockquote {
    color: $gray-500;
    padding: 0 1rem;
    border-left: .25rem solid $gray-300;
  }
}

.comment-preview {
  min-height: 6.9rem;
}
