@import 'datatables/dataTables.bootstrap5';
@import 'datatables/extensions/Responsive/responsive.bootstrap5';
@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap5';

table.table-fixed {
  table-layout: fixed
}

// TODO: Delete when bug is fixed: https://github.com/mkhairi/jquery-datatables/issues/17
table.dataTable.table-sm {
  min-width: 100%;
  // This added margin breaks layout
  margin: 0!important;

  td {
    white-space: normal !important;
    @extend .text-break;
  }
  // Fixed columns need a solid background to work properly
  &.DTFC_Cloned {
    background: $card-bg;
    thead.header th {
      &:before, &:after { display: none }
    }
  }
}

.table-hover tbody tr:hover {
  background-color: $custom-gray-100;
}

#projects-datatable_wrapper .dataTables_paginate {
  @extend .d-flex;
  @extend .justify-content-center;
}

// Enhance visibility of expandable rows in responsive DataTables
// Fix for issue #15610: Make it clear that attributes can be expanded
#attributes {
  // Show visual cue that rows are expandable when in collapsed responsive mode
  &.dtr-inline.collapsed > tbody > tr > td.dtr-control {
    // Ensure pointer cursor for clickable rows
    cursor: pointer;

    // Style the expand icon to be more prominent
    &:before {
      font-weight: bold;
      box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
    }

    // Add hover effect to indicate interactivity
    &:hover:before {
      transform: scale(1.1);
      box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4);
    }
  }

  // Add hover highlight for entire row when expandable
  &.dtr-inline.collapsed > tbody > tr:hover {
    background-color: $custom-gray-100;

    td.dtr-control:before {
      background-color: darken(#0d6efd, 10%);
    }
  }

  // Style for expanded rows (parent class is added when row is expanded)
  &.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control {
    &:hover:before {
      background-color: darken(#d33333, 10%);
    }
  }
}
