.diff-card-header {
  inline-size: 75%;
  display: inline-block
}

.diff-menu-buttons {
  position: absolute;
  top: 0.65rem;
  right: 0.55rem;
  z-index: 4;
}

.pre.scroll {
  --line-index-digits: 6ch;
  @for $i from 1 through 10 {
    .digits-#{$i} {
      --line-index-digits: #{$i}ch;
    }
    
  }
  overflow: auto;
  border-bottom-left-radius: calc(#{$card-border-radius} - #{$card-border-width});
  border-bottom-right-radius: calc(#{$card-border-radius} - #{$card-border-width});
  .diff {
    min-width: 100%;
    width: max-content;
    font-family: $font-family-monospace;
    .line {
      display: flex;
      .character {
        width: 1ch;
        white-space: pre;
        padding-left: 1rem
      }
      a {
        flex-shrink: 0;
        position: sticky;
        left: 0;
        .number {
          color: $text-muted;
          font-family: monospace;
          width: calc(var(--line-index-digits) + 2rem + #{$card-border-width});
          text-align: right;
          padding: 0 1rem 0 0;
          border-right: $card-border-width solid $card-border-color;
          user-select: none;
          background-color: $card-bg;
        }
      }
      &.added, &.added .number {
        background-color: rgba(mix($card-bg, rgba($success, 0.2)), 1)
      }
      &.removed, &.removed .number {
        background-color: rgba(mix($card-bg, rgba($danger, 0.2)), 1)
      }
      &.range, &.comment {
        border-bottom: $card-border-width solid $card-border-color;
        border-top: $card-border-width solid $card-border-color;
        .offset {
          font-family: monospace;
          padding-left: calc(4rem + (2 * var(--line-index-digits)) + #{$card-border-width});
          position: sticky;
          left: 0;
          .text {
            padding-left: 1rem;
            border-left: $card-border-width solid $card-border-color;
          }
        }
      }
      .content {
        margin-left: 1rem;
        white-space: pre;
      }
      &:target {
        .number {
          background-color: rgba(mix($card-bg, rgba($warning, 0.5)), 1)
        }
        .value {
          background-color: rgba($warning, 0.1);
          width: 100%
        }
      }
    }
  }
}
