// Define colors used in editors
$editor-blue: #069;
$editor-green: #008000;
$editor-pink: #708;
$editor-indigo: #219;
$editor-purple: #30a;
$editor-teal: #164;
$editor-orange: #a50;
$editor-yellow: #f0ad4e;

$editor-primary: $editor-green;
$editor-warning: $editor-yellow;
$editor-success: $editor-green;

$editor-link-color: $editor-blue;
