.icons-accept { width: 16px; height: 16px; background: image-url('icons_sprite.png') -350px -231px no-repeat; }
.icons-accessories-text-editor { width: 16px; height: 16px; background: image-url('icons_sprite.png') -350px -273px no-repeat; }
.icons-application_get { width: 16px; height: 16px; background: image-url('icons_sprite.png') -224px -301px no-repeat; }
.icons-architecture { width: 16px; height: 16px; background: image-url('icons_sprite.png') -244px -301px no-repeat; }
.icons-arrow_branch { width: 16px; height: 16px; background: image-url('icons_sprite.png') -264px -301px no-repeat; }
.icons-arrow_down { width: 16px; height: 16px; background: image-url('icons_sprite.png') -284px -301px no-repeat; }
.icons-arrow_redo { width: 16px; height: 16px; background: image-url('icons_sprite.png') -304px -301px no-repeat; }
.icons-arrow_refresh { width: 16px; height: 16px; background: image-url('icons_sprite.png') -324px -301px no-repeat; }
.icons-arrow_switch { width: 16px; height: 16px; background: image-url('icons_sprite.png') -344px -301px no-repeat; }
.icons-arrow_undo { width: 16px; height: 16px; background: image-url('icons_sprite.png') -364px -301px no-repeat; }
.icons-arrow_up { width: 16px; height: 16px; background: image-url('icons_sprite.png') -384px -301px no-repeat; }
.icons-back_disabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -2px -337px no-repeat; }
.icons-back_enabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -25px -337px no-repeat; }
.icons-back_enabled_hover { width: 19px; height: 19px; background: image-url('icons_sprite.png') -48px -337px no-repeat; }
.icons-brick { width: 16px; height: 16px; background: image-url('icons_sprite.png') -404px -301px no-repeat; }
.icons-brick_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -424px -301px no-repeat; }
.icons-brick_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -255px -337px no-repeat; }
.icons-brick_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -275px -337px no-repeat; }
.icons-brick_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -295px -337px no-repeat; }
.icons-bug_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -315px -337px no-repeat; }
.icons-bug_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -335px -337px no-repeat; }
.icons-build_disable { width: 20px; height: 16px; background: image-url('icons_sprite.png') -176px -301px no-repeat; }
.icons-build_disable_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -420px -144px no-repeat; }
.icons-build_disable_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -335px -54px no-repeat; }
.icons-build_enable { width: 20px; height: 16px; background: image-url('icons_sprite.png') -200px -301px no-repeat; }
.icons-build_enable_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -335px -82px no-repeat; }
.icons-build_enable_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -335px -110px no-repeat; }
.icons-cancel { width: 16px; height: 16px; background: image-url('icons_sprite.png') -355px -337px no-repeat; }
.icons-clear { width: 16px; height: 16px; background: image-url('icons_sprite.png') -375px -337px no-repeat; }
.icons-clear_active { width: 16px; height: 16px; background: image-url('icons_sprite.png') -395px -337px no-repeat; }
.icons-clock { width: 16px; height: 16px; background: image-url('icons_sprite.png') -415px -337px no-repeat; }
.icons-cog { width: 16px; height: 16px; background: image-url('icons_sprite.png') -435px -337px no-repeat; }
.icons-cog_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -2px -360px no-repeat; }
.icons-cog_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -22px -360px no-repeat; }
.icons-cog_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -42px -360px no-repeat; }
.icons-cog_error { width: 16px; height: 16px; background: image-url('icons_sprite.png') -62px -360px no-repeat; }
.icons-cog_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -82px -360px no-repeat; }
.icons-comment_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -102px -360px no-repeat; }
.icons-comment_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -122px -360px no-repeat; }
.icons-comment_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -142px -360px no-repeat; }
.icons-configure { width: 32px; height: 32px; background: image-url('icons_sprite.png') -422px -92px no-repeat; }
.icons-debuginfo_disable_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -126px -273px no-repeat; }
.icons-debuginfo_disable_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -154px -273px no-repeat; }
.icons-debuginfo_enable_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -182px -273px no-repeat; }
.icons-debuginfo_enable_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -210px -273px no-repeat; }
.icons-delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -162px -360px no-repeat; }
.icons-dialog-warning { width: 22px; height: 22px; background: image-url('icons_sprite.png') -150px -301px no-repeat; }
.icons-distributions-arch { width: 40px; height: 39px; background: image-url('icons_sprite.png') -308px -177px no-repeat; }
.icons-distributions-centos { width: 40px; height: 40px; background: image-url('icons_sprite.png') -370px -219px no-repeat; }
.icons-distributions-debian { width: 40px; height: 34px; background: image-url('icons_sprite.png') -370px -263px no-repeat; }
.icons-distributions-fedora { width: 40px; height: 40px; background: image-url('icons_sprite.png') -414px -219px no-repeat; }
.icons-distributions-kiwi { width: 40px; height: 38px; background: image-url('icons_sprite.png') -126px -231px no-repeat; }
.icons-distributions-mandriva { width: 40px; height: 40px; background: image-url('icons_sprite.png') -220px -177px no-repeat; }
.icons-distributions-meego { width: 40px; height: 11px; background: image-url('icons_sprite.png') -230px -138px no-repeat; }
.icons-distributions-opensuse { width: 40px; height: 26px; background: image-url('icons_sprite.png') -414px -263px no-repeat; }
.icons-distributions-redhat { width: 40px; height: 40px; background: image-url('icons_sprite.png') -264px -177px no-repeat; }
.icons-distributions-scientificlinux { width: 40px; height: 41px; background: image-url('icons_sprite.png') -370px -174px no-repeat; }
.icons-distributions-suse { width: 40px; height: 18px; background: image-url('icons_sprite.png') -186px -138px no-repeat; }
.icons-distributions-ubuntu { width: 40px; height: 41px; background: image-url('icons_sprite.png') -414px -174px no-repeat; }
.icons-document-new { width: 32px; height: 32px; background: image-url('icons_sprite.png') -170px -231px no-repeat; }
.icons-dontwatch { width: 16px; height: 16px; background: image-url('icons_sprite.png') -182px -360px no-repeat; }
.icons-drive-optical-32 { width: 32px; height: 32px; background: image-url('icons_sprite.png') -206px -231px no-repeat; }
.icons-drive-optical-48 { width: 48px; height: 48px; background: image-url('icons_sprite.png') -370px -92px no-repeat; }
.icons-drive_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -202px -360px no-repeat; }
.icons-drive_burn { width: 16px; height: 16px; background: image-url('icons_sprite.png') -222px -360px no-repeat; }
.icons-drive_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -242px -360px no-repeat; }
.icons-drive_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -262px -360px no-repeat; }
.icons-drive_web { width: 16px; height: 16px; background: image-url('icons_sprite.png') -282px -360px no-repeat; }
.icons-edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -302px -360px no-repeat; }
.icons-email { width: 16px; height: 16px; background: image-url('icons_sprite.png') -322px -360px no-repeat; }
.icons-error { width: 16px; height: 16px; background: image-url('icons_sprite.png') -342px -360px no-repeat; }
.icons-exclamation { width: 16px; height: 16px; background: image-url('icons_sprite.png') -362px -360px no-repeat; }
.icons-eye { width: 16px; height: 16px; background: image-url('icons_sprite.png') -382px -360px no-repeat; }
.icons-feeds { width: 16px; height: 16px; background: image-url('icons_sprite.png') -402px -360px no-repeat; }
.icons-filter { width: 16px; height: 16px; background: image-url('icons_sprite.png') -422px -360px no-repeat; }
.icons-find { width: 16px; height: 16px; background: image-url('icons_sprite.png') -2px -380px no-repeat; }
.icons-flag_green { width: 16px; height: 16px; background: image-url('icons_sprite.png') -22px -380px no-repeat; }
.icons-flag_red { width: 16px; height: 16px; background: image-url('icons_sprite.png') -42px -380px no-repeat; }
.icons-flag_yellow { width: 16px; height: 16px; background: image-url('icons_sprite.png') -62px -380px no-repeat; }
.icons-folder_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -82px -380px no-repeat; }
.icons-forward_disabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -71px -337px no-repeat; }
.icons-forward_enabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -94px -337px no-repeat; }
.icons-forward_enabled_hover { width: 19px; height: 19px; background: image-url('icons_sprite.png') -117px -337px no-repeat; }
.icons-group_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -102px -380px no-repeat; }
.icons-group_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -122px -380px no-repeat; }
.icons-header-logo { width: 46px; height: 26px; background: image-url('icons_sprite.png') -370px -144px no-repeat; }
.icons-help { width: 16px; height: 16px; background: image-url('icons_sprite.png') -142px -380px no-repeat; }
.icons-home_grey { width: 16px; height: 16px; background: image-url('icons_sprite.png') -162px -380px no-repeat; }
.icons-icon-search-black { width: 16px; height: 16px; background: image-url('icons_sprite.png') -182px -380px no-repeat; }
.icons-info { width: 16px; height: 16px; background: image-url('icons_sprite.png') -202px -380px no-repeat; }
.icons-info_light { width: 16px; height: 16px; background: image-url('icons_sprite.png') -222px -380px no-repeat; }
.icons-information { width: 16px; height: 16px; background: image-url('icons_sprite.png') -242px -380px no-repeat; }
.icons-key { width: 16px; height: 16px; background: image-url('icons_sprite.png') -262px -380px no-repeat; }
.icons-list { width: 32px; height: 32px; background: image-url('icons_sprite.png') -242px -231px no-repeat; }
.icons-list-add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -282px -380px no-repeat; }
.icons-list-remove { width: 16px; height: 16px; background: image-url('icons_sprite.png') -302px -380px no-repeat; }
.icons-lock { width: 16px; height: 16px; background: image-url('icons_sprite.png') -322px -380px no-repeat; }
.icons-lock_open { width: 16px; height: 16px; background: image-url('icons_sprite.png') -342px -380px no-repeat; }
.icons-login { width: 16px; height: 16px; background: image-url('icons_sprite.png') -362px -380px no-repeat; }
.icons-lorry { width: 16px; height: 16px; background: image-url('icons_sprite.png') -382px -380px no-repeat; }
.icons-lorry_error { width: 16px; height: 16px; background: image-url('icons_sprite.png') -402px -380px no-repeat; }
.icons-lorry_flatbed { width: 16px; height: 16px; background: image-url('icons_sprite.png') -422px -380px no-repeat; }
.icons-magnifier_zoom_in { width: 16px; height: 16px; background: image-url('icons_sprite.png') -2px -400px no-repeat; }
.icons-magnifier_zoom_out { width: 16px; height: 16px; background: image-url('icons_sprite.png') -22px -400px no-repeat; }
.icons-mail_generic { width: 16px; height: 16px; background: image-url('icons_sprite.png') -42px -400px no-repeat; }
.icons-monitor { width: 16px; height: 16px; background: image-url('icons_sprite.png') -62px -400px no-repeat; }
.icons-note_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -82px -400px no-repeat; }
.icons-note_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -102px -400px no-repeat; }
.icons-note_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -122px -400px no-repeat; }
.icons-ok { width: 16px; height: 16px; background: image-url('icons_sprite.png') -142px -400px no-repeat; }
.icons-package { width: 16px; height: 16px; background: image-url('icons_sprite.png') -162px -400px no-repeat; }
.icons-package_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -182px -400px no-repeat; }
.icons-package_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -202px -400px no-repeat; }
.icons-package_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -222px -400px no-repeat; }
.icons-package_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -242px -400px no-repeat; }
.icons-package_link { width: 16px; height: 16px; background: image-url('icons_sprite.png') -262px -400px no-repeat; }
.icons-page_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -282px -400px no-repeat; }
.icons-page_refresh { width: 16px; height: 16px; background: image-url('icons_sprite.png') -302px -400px no-repeat; }
.icons-page_save { width: 16px; height: 16px; background: image-url('icons_sprite.png') -322px -400px no-repeat; }
.icons-page_white_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -342px -400px no-repeat; }
.icons-page_white_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -362px -400px no-repeat; }
.icons-page_white_get { width: 16px; height: 16px; background: image-url('icons_sprite.png') -382px -400px no-repeat; }
.icons-page_white_put { width: 16px; height: 16px; background: image-url('icons_sprite.png') -402px -400px no-repeat; }
.icons-plugin_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -422px -400px no-repeat; }
.icons-project { width: 16px; height: 16px; background: image-url('icons_sprite.png') -2px -420px no-repeat; }
.icons-publish_disable_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -238px -273px no-repeat; }
.icons-publish_disable_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -266px -273px no-repeat; }
.icons-publish_enable_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -294px -273px no-repeat; }
.icons-publish_enable_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -322px -273px no-repeat; }
.icons-rebuild { width: 16px; height: 16px; background: image-url('icons_sprite.png') -22px -420px no-repeat; }
.icons-rebuild-light { width: 16px; height: 16px; background: image-url('icons_sprite.png') -42px -420px no-repeat; }
.icons-reload { width: 14px; height: 16px; background: image-url('icons_sprite.png') -352px -177px no-repeat; }
.icons-remove_filter { width: 16px; height: 16px; background: image-url('icons_sprite.png') -62px -420px no-repeat; }
.icons-repository { width: 16px; height: 16px; background: image-url('icons_sprite.png') -82px -420px no-repeat; }
.icons-req-accept { width: 16px; height: 16px; background: image-url('icons_sprite.png') -102px -420px no-repeat; }
.icons-req-decline { width: 16px; height: 16px; background: image-url('icons_sprite.png') -122px -420px no-repeat; }
.icons-req-revoke { width: 16px; height: 16px; background: image-url('icons_sprite.png') -142px -420px no-repeat; }
.icons-req-showdiff { width: 16px; height: 16px; background: image-url('icons_sprite.png') -162px -420px no-repeat; }
.icons-script { width: 16px; height: 16px; background: image-url('icons_sprite.png') -182px -420px no-repeat; }
.icons-script_lightning { width: 16px; height: 16px; background: image-url('icons_sprite.png') -202px -420px no-repeat; }
.icons-script_link { width: 16px; height: 16px; background: image-url('icons_sprite.png') -222px -420px no-repeat; }
.icons-search-advanced { width: 16px; height: 16px; background: image-url('icons_sprite.png') -242px -420px no-repeat; }
.icons-server_chart { width: 16px; height: 16px; background: image-url('icons_sprite.png') -262px -420px no-repeat; }
.icons-sort_asc { width: 19px; height: 19px; background: image-url('icons_sprite.png') -140px -337px no-repeat; }
.icons-sort_asc_disabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -163px -337px no-repeat; }
.icons-sort_both { width: 19px; height: 19px; background: image-url('icons_sprite.png') -186px -337px no-repeat; }
.icons-sort_desc { width: 19px; height: 19px; background: image-url('icons_sprite.png') -209px -337px no-repeat; }
.icons-sort_desc_disabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -232px -337px no-repeat; }
.icons-sponsor_amd { width: 90px; height: 50px; background: image-url('icons_sprite.png') -126px -177px no-repeat; }
.icons-sponsor_apm { width: 180px; height: 82px; background: image-url('icons_sprite.png') -2px -91px no-repeat; }
.icons-sponsor_b1-systems { width: 86px; height: 86px; background: image-url('icons_sprite.png') -370px -2px no-repeat; }
.icons-sponsor_heinlein { width: 180px; height: 48px; background: image-url('icons_sprite.png') -186px -2px no-repeat; }
.icons-sponsor_ip-exchange { width: 180px; height: 85px; background: image-url('icons_sprite.png') -2px -2px no-repeat; }
.icons-sponsor_ip-exchange2 { width: 120px; height: 120px; background: image-url('icons_sprite.png') -2px -177px no-repeat; }
.icons-sponsor_suse { width: 145px; height: 80px; background: image-url('icons_sprite.png') -186px -54px no-repeat; }
.icons-start { width: 16px; height: 16px; background: image-url('icons_sprite.png') -282px -420px no-repeat; }
.icons-start-here { width: 32px; height: 32px; background: image-url('icons_sprite.png') -278px -231px no-repeat; }
.icons-stop { width: 16px; height: 16px; background: image-url('icons_sprite.png') -302px -420px no-repeat; }
.icons-system-search { width: 32px; height: 32px; background: image-url('icons_sprite.png') -314px -231px no-repeat; }
.icons-text_indent { width: 16px; height: 16px; background: image-url('icons_sprite.png') -322px -420px no-repeat; }
.icons-tick { width: 16px; height: 16px; background: image-url('icons_sprite.png') -342px -420px no-repeat; }
.icons-time { width: 16px; height: 16px; background: image-url('icons_sprite.png') -362px -420px no-repeat; }
.icons-time_error { width: 16px; height: 16px; background: image-url('icons_sprite.png') -382px -420px no-repeat; }
.icons-tools-report-bug { width: 16px; height: 16px; background: image-url('icons_sprite.png') -402px -420px no-repeat; }
.icons-useforbuild_disable_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -38px -301px no-repeat; }
.icons-useforbuild_disable_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -66px -301px no-repeat; }
.icons-useforbuild_enable_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -94px -301px no-repeat; }
.icons-useforbuild_enable_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -122px -301px no-repeat; }
.icons-user_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -422px -420px no-repeat; }
.icons-user_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -2px -440px no-repeat; }
.icons-user_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -22px -440px no-repeat; }
.icons-user_green { width: 16px; height: 16px; background: image-url('icons_sprite.png') -42px -440px no-repeat; }
.icons-utilities-system-monitor { width: 32px; height: 32px; background: image-url('icons_sprite.png') -2px -301px no-repeat; }
.icons-watch { width: 16px; height: 16px; background: image-url('icons_sprite.png') -62px -440px no-repeat; }
.delete-attribute { width: 16px; height: 16px; background: image-url('icons_sprite.png') -102px -400px no-repeat !important; }
