#log-space-wrapper {
  #log-info {
    top: 0;
    cursor: pointer;

    .finished { cursor: default; }
   }
}

.live-link-action {
  @extend .px-2;
  @extend .me-3;
  @extend .mb-2;
  @extend .btn;
  @extend .btn-sm;
}

@include media-breakpoint-down(md) {
  #log-space-wrapper {
    pre {
      font-size: 40%;
    }
  }
}

@include media-breakpoint-up(sm) {
  #log-space-wrapper {
    pre {
      font-size: 50%;
    }
  }
}

@include media-breakpoint-up(md) {
  #log-space-wrapper {
    pre {
      font-size: 60%;
    }
  }
}

@include media-breakpoint-up(lg) {
  #log-space-wrapper {
    pre {
      font-size: 70%;
    }
  }
}
