.modal {
  font-size: var(--bs-body-font-size);
  color: $body-color;

  .modal-header h5 {
    color: $body-color;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }

  .bg-modal {
    background-color: var(--bs-modal-bg)
  }
}
