$notifications-filter-box-height: 3.5rem;
$avatars-counter-size: 1.4375rem;

.avatars-counter, .simulated-avatar {
  display: inline-block;
  text-align: center;
  width: $avatars-counter-size;
  height: $avatars-counter-size;
  line-height: 1.4rem;
  cursor: default;
}

.avatars-counter { font-size: 0.6rem; }

ul.avatars{
  li {
    margin-right: 0;
    &:not(:first-child) { margin-right: -.25rem; }
  }
}

#notifications-filter-desktop {
  strong { cursor: pointer; }
  .collapse {
    &.show { border-top: 1px solid $gray-300;}
  }
}
#notification-action-bar {
  &.sticky-top { top: $top-navigation-height; }
}

@include media-breakpoint-up(md) {
  #notifications-filter-desktop {
    .collapse { display: block !important; }
  }
}

@include media-breakpoint-between(xs, md) {
  #notifications-filter-desktop {
    &.show { border-top: 1px solid $gray-300; }
    &.sticky-top { top: $top-navigation-height; }
    height: $notifications-filter-box-height;
    // To not overlap with the notification action bar
    z-index: calc(#{$zindex-sticky} + 1);

    #filters {
      max-height: 100vw; overflow: auto;
      -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
      -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
      box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    }
  }
  #notification-action-bar {
    &.sticky-top { top: calc(#{$top-navigation-height} + #{$notifications-filter-box-height}); }
  }

  @media (orientation: landscape) {
    #notifications-filter-desktop {
      #filters { max-height: 20vw; }
    }
  }
}

.notifications-counter {
  position: relative;
  margin: 0 auto;
  width: 6rem;
  .badge {
    position: absolute;
    top: -0.4rem;
    left: 3.1rem;
    border: 0.1rem solid $dark;
    padding: 0.1rem 0.3rem;
  }
}
