.notification-toolbar.sticky-top {
  z-index: $zindex-fixed;
  top: $top-navigation-height;
}

.notification-toolbar ~ .container-xxl .flash-and-announcement {
  top: $top-navigation-height + $notification-toolbar-height + .25rem !important;
  z-index: calc(#{$zindex-fixed} - 5);
}
