#project-monitor-repositories-dropdown, #project-monitor-architectures-dropdown, #project-monitor-status-dropdown {
    .dropdown-menu {
        z-index: $zindex-modal;
    }
    .dropdown-menu.limit-height {
      max-height: 50vh;
      overflow-y: auto;
    }
}
