body.responsive-ux {
  // open space to not overlap top navigation with content
  padding-top: 3.5rem !important;

  @import 'responsive_ux/layout';
}

// FIXME: move to somewhere else?

@include media-breakpoint-up(md) {
  body.responsive-ux {
    // START LAYOUT
    #navigation {
      .watchlist-collapse, .offcanvas-collapse {
        position: absolute;
        top: 49px;
        right: 0;
        bottom: initial;
        left: initial;
        width: initial;
        max-width: 380px;
        max-height: 560px;
        padding: 1rem;
        transition: none;

        &.open {
          transform: none;
          border-radius: 0 0 .2rem .2rem;
          overflow-y: auto;

          // Firefox
          scrollbar-color: $gray-500 $dark;
          scrollbar-width: thin;

          // Chrome
          &::-webkit-scrollbar { width: .4rem; }
          &::-webkit-scrollbar-track { background: $dark }
          &::-webkit-scrollbar-thumb {
            background-color: $gray-500 ;
            border: 0;
          }
        }
      }
    }

    #footer {
      .footer-logged { padding-bottom: 0; }
    }
    // END LAYOUT
  }
}
