// Variables
// TODO: move to app/assets/stylesheets/webui/bootstrap_variables/sizes.scss
$top-bar-height: 57px;
$bottom-bar-height: 69px;
$md-top-bar-height: 69px;

body.responsive-ux {
  // open space to not overlap top navigation with content
  padding-top: 3.5rem !important;

  @import 'responsive_ux/layout';
  @import 'responsive_ux/build-result';
  @import 'responsive_ux/sponsors';

  .build-results .sticky-top { top: $top-bar-height; }
}

// FIXME: move to somewhere else?

@include media-breakpoint-up(md) {

  body.responsive-ux {
    // START LAYOUT
    .flash-and-announcement.sticky-top { top: $md-top-bar-height + 4px; }
    #top_0.sticky-top { top: $md-top-bar-height; }

    #navigation {
      .fixed-top { height: $md-top-bar-height; }
      .navbar-brand img { height: 42px; }
    }

    .watchlist-collapse, .offcanvas-collapse {
      top: $md-top-bar-height; /* Height of navbar */
      bottom: 0;
      width: 380px;

      .navbar-nav {
        width: 100%;
        padding-top: 1rem;
        margin-left: 0 !important;
        -webkit-box-orient: vertical;
        flex-direction: column;
        align-self: flex-start;
      }
      .navbar-toggler { display: none; }
    }

    #footer {
      .footer-logged { padding-bottom: 0; }
    }
    // END LAYOUT

    .build-info .triangle {
      &.left { left: .25rem; }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  body.responsive-ux {
    .build-info .triangle {
      &.center { margin-left: calc(38% + .75rem); }
      &.left { left: .5rem; }
    }

  }
}
