body.responsive-ux {
  // open space to not overlap top navigation with content
  padding-top: 3.5rem !important;

  @import 'responsive_ux/layout';
}

// FIXME: move to somewhere else?

@include media-breakpoint-up(md) {
  body.responsive-ux {
    // START LAYOUT
    .watchlist-collapse, .offcanvas-collapse {
      top: 57px; /* Height of navbar */
      bottom: 0;
      width: 380px;

      .navbar-nav {
        width: 100%;
        padding-top: 1rem;
        margin-left: 0 !important;
        -webkit-box-orient: vertical;
        flex-direction: column;
        align-self: flex-start;
      }
      .navbar-toggler { display: none; }
    }

    #footer {
      .footer-logged { padding-bottom: 0; }
    }
    // END LAYOUT
  }
}
