body.responsive-ux {

  // START LAYOUT

  // open space to not overlap top navigation with content
  padding-top: 3.5rem !important;

  .border-gray-500 {
    border-color: $gray-500 !important;
  }

  .navbar-dark .navbar-toggler {
    color: $gray-300;
  }

  #navigation {
    .fixed-top { height: 57px; }
    .toggler {
      @extend .ml-3;
      @extend .d-none;
      @extend .d-md-block;
      cursor: pointer;
    }

    button.navbar-toggler {
      .fas.fa-times {
        display: none;
        width: 20px;
      }
      .fas.fa-bars {
        display: block;
        width: 20px;
      }
      &.open {
        .fas.fa-times {
          display: block;
        }
        .fas.fa-bars {
          display: none;
        }
      }
    }
    .navbar-nav .nav-link {
      color: $gray-300;

      &:hover {
        color: white;
      }
    }

    .menu-right { cursor: pointer; }

    .watchlist-dropdown {
      .dropdown-menu.dropdown-menu-right {
        z-index: 1050;
      }
    }
  }

  .offcanvas-collapse {
    top: 57px; /* Height of navbar */
    bottom: 0;

    .navbar-nav {
      padding-top: 1rem;
    }
  }

  .watchlist-collapse {
    top: 0;
    bottom: 58px; /* Height of navbar */

    button.navbar-toggler {
      line-height: 1.875rem;
      .fas.fa-times {
        width: 20px;
      }
    }
  }

  .watchlist-collapse, .offcanvas-collapse {
    position: fixed;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 9000;
    color: $gray-400;

    & a {
      color: $gray-300;

      &:hover {
        color: white;
      }
    }

    &.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      z-index: 9000;
    }
  }

  #footer {
    li { @extend .my-2; }

    #footer-legal {
      font-size: .9rem;

      p { color: $gray-400; }
      & a { color: $gray-300; }
    }

    .footer-logged { padding-bottom: 58px; }
  }

  #bottom-navigation {
    height: 58px;
  }

  .breadcrumb {
    padding-bottom: 0;
    @extend .mt-2;
    .breadcrumb-item { line-height: 1.5rem; }
    .breadcrumb-item::after {
      display: inline-block;
      padding: 0 0.5rem 0 0.25rem;
      color: #6c757d;
      content: "/";
    }
    .breadcrumb-item:last-child::after { content: ''; }
    .breadcrumb-item + .breadcrumb-item { padding-left: 0; }

    // FIXME: This could be done overriding the variable $breadcrumb-divider: none;
    .breadcrumb-item + .breadcrumb-item::before { display: none; }
  }
  // END LAYOUT
}

@include media-breakpoint-up(md) {
  body.responsive-ux {
    .watchlist-collapse, .offcanvas-collapse {
      top: 57px; /* Height of navbar */
      bottom: 0;
      width: 380px;

      .navbar-nav {
        width: 100%;
        padding-top: 1rem;
        margin-left: 0 !important;
        -webkit-box-orient: vertical;
        flex-direction: column;
        align-self: flex-start;
      }
      .navbar-toggler { display: none; }
    }

    #footer {
      .footer-logged { padding-bottom: 0; }
    }
  }
}
