.sponsors-header {
    @extend .text-center;
    @extend .mb-2;

    font-size: 0.9rem;
    text-transform: uppercase;
    color: $gray-700;
    font-weight: bold;
}

.sponsors {
    flex-direction: column;
    justify-content: space-between;

    .sponsor-item {
        text-align: center;
        padding: 1em;

        a img {
            height: 50px;
        }
    }
}

@include media-breakpoint-up(sm) {
    .sponsors {
        flex-direction: row;

        .sponsor-item {
            flex-basis: 20%;
        }
    }
}

@include media-breakpoint-up(md) {
    .sponsors .sponsor-item {
        flex-basis: 13%;
    }
}
