// Scrollable tabs

// When the scrollable tabs are formed  by div and many a.
.scrollable-tabs {
  overflow: auto;
  white-space: nowrap;
  padding: 0.5rem 1rem 0rem 1rem;
  margin-bottom: -1px; // border-width

  a.scrollable-tab-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    &.active {
      font-weight: 600;
      border: 1px solid;
      border-color: $gray-300;
      border-bottom-color: $white;
      background-color: $white;
    }
  }
}

// When the scrollable tabs are formed  by ul and many li.
ul.scrollable-tabs {
  display: block;
  overflow-y: hidden;
  margin-bottom: -1px;

  li.scrollable-tab-link {
    display: inline-block;
    padding: 0.5rem 0 0 0;
    text-align: center;
    & > a.active {
      font-weight: 600;
      border: 1px solid;
      border-color: $gray-300;
      border-bottom-color: $white;
      background-color: $white;
    }
  }
}

// Non-scrollable tabs

ul.nav.nav-tabs li.nav-item {
  & a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }

    &.dropdown-item.active,
    &.dropdown-item:active {
      color: $white;

      span.badge {
        color: $link-hover-color;
        background-color: $white;
      }
    }
  }
}
