#tokens {
  .card {
    max-width: 19.7rem;

    .card-title {
      @extend .text-break;
    }

    @include media-breakpoint-up(xl) {
      max-width: 21.7rem;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 22.4rem;
    }
  }
}
