.modal.fade{ id: 'delete-excluded-request-modal',
             tabindex: -1, role: 'dialog', aria: { labelledby: 'delete-modal-label', hidden: true } }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title
          Stop excluding this request?
      .modal-body
        %p Please confirm that you want to stop excluding this request
        = form_tag nil, method: :delete do
          .modal-footer
            %a.btn.btn-sm.btn-outline-secondary.px-4{ data: { dismiss: 'modal' } }
              Cancel
            = submit_tag('Accept', class: 'btn btn-sm btn-danger px-4')
- content_for :ready_function do
  :plain
    $('#delete-excluded-request-modal').on('show.bs.modal', function (event) {
      var link = $(event.relatedTarget);
      $(this).find('form').attr('action', link.data('action'));
    });
