.form-group
  .card.mt-2.collapse#advanced-container
    .card-body
      %label Search in:
      .form-group
        .custom-control.custom-checkbox
          = check_box_tag('name', 1, params[:name].nil? || params[:name] == '1', class: 'custom-control-input')
          %label.custom-control-label{ for: 'name' } Name
        .custom-control.custom-checkbox
          = check_box_tag('title', 1, params[:title] == '1', class: 'custom-control-input')
          %label.custom-control-label{ for: 'title' } Title
        .custom-control.custom-checkbox
          = check_box_tag('description', 1, params[:description] == '1', class: 'custom-control-input')
          %label.custom-control-label{ for: 'description' } Description
      .form-group.row
        .col-12.col-md-6
          %label.d-block{ for: 'attrib_list' } Require attribute:
          = select_tag(:attrib_type_id, options_for_select(attrib_type_list, params[:attrib_type_id]),
                       id: 'attribute_list', class: 'custom-select')
