<% @pagetitle = 'XHTML Errors' %>

<h2>XML errors</h2>
<ul>
  <% errors.each do |msg| %>
    <li><%= h msg %></li>
  <% end -%>
</ul>

<h2>HTML Code</h2>
<%= render :partial => "shared/syntaxhighlighter", :locals => {:code => h(oldbody), :type => 'xml'} %>
