<%
@crumb_list = [
  link_to( 'Projects', :action => :list_public),
  @project.name
]
-%>
<li id="error_message_flags" style="display:none;"></li>
<h3>
  Flags for Experts
</h3>
<%= render :partial => "project/project_flags" unless @project.repositories.empty? %>