<h2>Listing Users</h2>

<div class="commands">
<%= link_to 'New user', :action => 'new' %>
</div>

<%= render :partial => '/active_rbac/shared/pagination', :locals => { :pages => @user_pages } %>

<table>
<thead>
  <tr>
    <th style="width: 50px;">id</th>
    <th style="width: 100px;">login</th>
    <th style="width: 100px;">email</th>
    <th style="width: 100px;">state</th>
    <th style="width: 50px;">&nbsp;</th>
  </tr>
</thead>
<tbody>
<% for user in @users %>
  <tr>
    <td><%= user.id %></td>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td><%= case user.state
            when 1 then 'unconfirmed'
            when 2 then 'confirmed'
            when 3 then 'locked'
            when 4 then 'deleted'
            end
            %></td>
    
    <td>
      (<%= link_to 'S', {:action => 'show', :id => user }, :title => 'Show' %>
       <%= link_to 'E', { :action => 'edit', :id => user }, :title => 'Edit' %>
       <%= link_to 'D', { :action => 'delete', :id => user}, :title => 'Delete' %>)
    </td>
  </tr>
<% end %>
</tbody>
</table>

<%= render :partial => '/active_rbac/shared/pagination', :locals => { :pages => @user_pages } %>


<div class="commands">
<%= link_to 'New user', :action => 'new' %>
</div>

