:ruby
  - @pagetitle = "Saved replies #{User.session!}"

.overview
  .comments
    .card#comments-list
      .card-body#comments
      = render(partial: 'webui/comment_snippets/comment_snippets_list', locals: { comment_snippets: comment_snippets })
