/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.2
**  Dateiversion: 01.11.06  
**  Datei       : basemod_3col_fixed.css
**  Funktion    : Variation des Basislayouts (3-Spalten-Layout mit fixer Gesamtbreite 
**                                            und grafikfreien Spaltentrennern)
**
*/

@media screen
{
/* Festlegung der Layoutbreite und Zentrierung*/
#page_margins { 
	width:1020px; 
	margin-left: auto;
 	margin-right: auto;
	max-width:none;  /* min-width für fixes Layout abschalten */
	min-width:inherit;  /* max-width für fixes Layout abschalten */

}
/* Korrektur von Randabständen */
#footer {margin:0; padding: 1em; border-color: #aaa; }

/* Himtergrundgrafik für linke Spalte - Grafikbreite 250 Pixel */
#main { background: #fff url(../../img/bg_left2.gif) repeat-y top left; }

/* ######################################################################################################
** ### Spaltenanordnung 2-1-3 für fixes Layout ##########################################################
** ######################################################################################################
*/

#main {margin: 0; padding: 0;}

#col1_content, #col2_content, #col3_content {margin: 0 1em 0 1em; }

/* #col1 wird zur mittleren Spalte */
#col1 { width: 516px; float:left; margin-left: 250px;  }

/* #col2 wird zur linken Spalte */
#col2 { width: 250px; float:left;  margin-left: -766px; }

/* #col3 wird zur rechten Spalte */
#col3 {  margin-left: 766px; margin-right: 0%; }

} 
