<%
@crumb_list = [
  link_to( 'Projects', :action => :list_public),
  link_to (@project.name, :action => :show, :project => @project.name),
  "Flags for Experts"
]
-%>
<li id="error_message_flags" style="display:none;"></li>
<h3>
  Flags for Experts
</h3>
<%= render :partial => "project/project_flags" unless @project.repositories.empty? %>