.comment_collapse{
  float: right;
}

.comment_links {
  float: right;
  padding: 3px;
}

.comment_thread{
  margin-bottom: 20px;
}

.comment{
  padding: 0px 20px 20px 0; 
}

.comment_child{
  background: #fff;
  padding: 20px 0 0 0;
  border-top: 3px solid grey;
}

.comment_odd{
  background: #EEEEEE;
}

.comment_image{
  float: left;
  margin: 0px 10px 10px 5px;
  border: 2px solid grey;
}

.comment_time{
  font-size: 0.8em;
}

