img {
    vertical-align: middle;
}

.ui-li-has-thumb .ui-btn-inner {
    min-height: 25px;
    padding-left: 30px;
}

.ui-li-thumb, .ui-li-icon, .ui-li-content {
    margin: 3px;
}

.centered {
    text-align:center;
}

.ui-li .ui-btn-inner {
    padding-right: 35px;
}

/* A <pre> tag that looks like a <p>: */
pre.plain {
  background-color: white;
  border: 0px;
  font-family: sans-serif;
}

/*@import "jquery.mobile";*/
