/* 
**
**  Funktion:  Provides all styles for build.openSUSE.org
**  Author:    Frank Sundermeyer <fs@opensuse.org>, Robert Lihm <rlihm@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

@import "dialog"; /* style for dialog boxes */

.nowrap {
    white-space: nowrap;
}

textarea {
    width: 95%;
}

.build_result_trigger {
    position: relative;
}

.ajax_large_loader { 
    width: 32px;
    height: 32px;
    background-image: url(large-loader.gif);
}

#build_result_popup { 
    position: absolute;
    background: white;
    border: 1px solid black;
    margin: 5px;
    display: none;
    z-index: 50;
}

span.build_result_title { 
    font-size: 110%;
}


/* build status monitor for projects */
.buildstatus tr:hover {
    background:#e4f4dc;
    border: 0;
}

.grey-medium {
    color: #666;
}

/* used in package and project build status */
.status_blocked a,
.status_blocked a:visited,
.status_blocked a:hover
{
    color: #fff;
    background-color: #bbb;
}
.status_scheduled a,
.status_scheduled a:visited,
.status_scheduled a:hover
{
    color: #11d;
    background-color: #bbb;
}
.status_building a,
.status_building a:visited,
.status_building a:hover
{
    color: #00f;
    background-color: #bbb;
}
.status_signing a,
.status_signing a:visited,
.status_signing a:hover
{
    color: #666;
    background-color: #bbb;
}
.status_finished a,
.status_finished a:visited,
.status_finished a:hover
{
    color: #222;
    background-color: #bbb;
}
.status_disabled a,
.status_disabled a:hover,
.status_disabled a:visited {
    color: #bbb;
}
.status_succeeded a,
.status_succeeded a:hover,
.status_succeeded a:visited {
    color: #6EB927;
}
.status_broken a,
.status_broken a:hover,
.status_broken a:visited {
    color: #e00;
}
.status_failed a,
.status_failed a:hover,
.status_failed a:visited {
    color: #f00;
}
.status_unresolvable a,
.status_unresolvable a:hover,
.status_unresolvable a:visited {
    color: #c00;
}
.status_unknown a,
.status_unknown a:hover,
.status_unknown a:visited {
    color: #e55;
}

.centered {
    text-align: center;
}

/* live build log */
div#log_space_wrapper p {
    background-color: #eee;
}

div#log_space_wrapper pre {
    line-height: 150%;
}

/* main page (/) */
#proceed_list { height: 2em; margin-bottom: 40px;  }
#proceed_list li {
    float: left;
    text-align: center;
    list-style: none;
    margin: 0;
    width: 115px;
}
#proceed_list li a:hover img {
    text-decoration: none;
}
#proceed_list li img {
    margin-bottom: 0.5em;
}

.feedbox li {
    list-style: none;
}

#involved_users li {
    list-style: none;
}

/* repositories */
.flag_table tr { text-align: center; }
.flag_table td.reponame { text-align: left; width: 21ex; }

.flag_table .allcow { background-color: #cfc; }
.flag_table .allrow { background-color: #cfc; }

.flagimage {
    position:relative;
}

.flagimage:hover {
  z-index:25; 

  div.flagtoggle {
    display: block;
    background: white;
    border: 1px solid black; 
    position:absolute;
    top:10px; 
    left:5ex; 
    padding: 5px;
    text-align: left;

    div.iconwrapper {
      position: relative;
    }

    div.icon_24 {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    a { 
      margin-left: 30px;
      min-height: 27px;
      display: block;
    }
  }

}

.flagerror {
    text-align: right;
    color: red;
}

.global-navigation-menu-favorites li a {
    min-height: 0px;
}

/* package and project view */
.show_left  { margin-left: 10px; }
.show_right { margin-right: 10px; }

table.patchinfo td { vertical-align: middle; }

.flot_legend table { 
  display: inline;
}

.y1Axis .tickLabel { 
  min-width: 15px;
}

.plotspinner { 
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 3;
}

#advanced_tabs { display: none; }

.clean_list {
  list-style: none inside;
}

.horizontal-list {
  list-style: none inside;

  li {
    float: left;
    margin-right: 1em;
    margin-left: 0;

    span.inlineblock {
      margin-right: 2px;
      vertical-align: middle;
    }
  }
} 

.horizontal-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Our own jQueryUI styles. We can't use the upstream ones (currently) as they
 * collide quite heavily with Bento ;-) */

.ui-corner-all {
  border-radius: 0px; /* Bento's round corners look ugly */
}
.ui-autocomplete {
  position: absolute;
  cursor: default;
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: auto; /* We want a vertical scrollbar... */
  max-height: 180px;
}
.ui-menu-item {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /*
  if width will be 100% horizontal scrollbar will apear
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /*
  it is very important, if line-height not setted or setted
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
}
.ui-menu-item > a {
  color: #444444;
}

/*
 * jQuery UI Menu 1.8.18
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0;
  display:block;
  float: left;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

/* A <pre> tag that looks like a <p>: */
pre.plain {
  background-color: white;
  border: 0px;
  font-family: sans-serif;
}
/* Remove default margin/padding when put into tables: */
td pre.plain {
  margin: 0px;
  padding: 0px;
  background-color: #F6F6F6;
}

.error {
  color: red;
}

div.dataTables_wrapper {
  margin-left: 10px;
  margin-right: 10px;
}
/* jquery.dataTables adds a wrapper div around every table, but fails to clear floats:
 */
div.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content:"\0020";
  clear: both;
  height: 0;
}

$icons-layout:smart;
$icons-sprite-dimensions:true;
@import "icons/*.png"; 
@include all-icons-sprites;

.icon_24 {
  width: 24px;
  height: 24px;
}

.inlineblock {
  display: inline-block;
}

#add-new-message {
  margin-left: 5px;
}

.attribute-values {
  form,div {
    display: inline; 
  }
}

.delete-attribute {
 display: inline;
 cursor:pointer;
 border: none;
 text-indent: -1000em;
 background: sprite($icons-sprites, note_delete) no-repeat !important;
 @include sprite-dimensions($icons-sprites, note_delete);
}

#breadcrump .icons-home_grey {
  float: left;
  margin-right: 5px;
}

.dataTable th.sorting_disabled { display: none; }
