/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.2
**  Dateiversion: 01.11.06  
**  Datei       : print_120.css
**  Funktion    : Druck-Stylesheet - druckt die Spalten #col1 und #col2
**
*/

@media print
{
body * {font-size: 12pt; font-family: "Times New Roman", Times, serif}
blockquote { font-family: "Times New Roman", Times, serif; }
code.css, code.xhtml, em.file { font-family:"Courier New", Courier, mono;}

h1 {font-size: 16pt; font-weight:bold; color: #336699;  background:inherit;  margin:0.4em 0 0.5em 0; border-bottom: 1px #ccc solid;}
h2 {font-size: 14pt; font-weight:bold; color: #666; background: inherit;   margin:0.2em 0 0.5em 0; padding: 0.3em; }
h3 {font-size: 12pt; font-weight:bold; margin:0.4em 0 0.3em 0;}

/* Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
h1,h2,h3 { page-break-after:avoid; }

abbr[title]:after, acronym[title]:after { content: '(' attr(title) ')'; }

/* Sichtbare Auszeichnung der URLs von Links */
a[href]:after {
 content:" <URL: "attr(href)">";
 color:#444;
 background-color:inherit;
 font-style:italic;
} 

#col1_content:before {
 content:" [ Linke Spalte ]";
 color:#888;
 display:block;
 background-color:inherit;
 font-weight:bold;
 font-size:1.5em;
 border-bottom: 2px #888 solid;
 margin-bottom: 1em;
} 

#col2_content:before {
 content:" [ Rechte Spalte ]";
 color:#888;
 display:block;
 background-color:inherit;
 font-weight:bold;
 font-size:1.5em;
 border-bottom: 2px #888 solid;
 margin-bottom: 1em;
} 

#col3_content:before {
 content:" [ Mittlere Spalte ]";
 color:#888;
 display:block;
 background-color:inherit;
 font-weight:bold;
 font-size:1.5em;
 border-bottom: 2px #888 solid;
 margin-bottom: 1em;
} 

/* Umformatierung der Layoutboxen */
body {margin:0; padding: 0;}
#page_margins, #page {margin:0; padding: 0; border: 0; } 
#topnav {display: none;}

#header {height: auto;}
#header img {position:relative; top:0; left:0; padding:0; }
#nav_main, #teaser {display:none;}

#main {margin: 0; padding: 0;}

#col1 {float:none; width: auto; margin: 0; padding: 0; }
#col1_content {float:none; width: auto; margin: 0; padding: 0; page-break-after:always;}

#col2 {float:none; width: auto; margin: 0; padding: 0; }
#col2_content {float:none; width: auto; margin: 0; padding: 0;}

#col3 {display:none;}
#col3_content {display:none;}

#footer {display: none;}
}
