<% @pagetitle = "Comments for #{@package}" %>
<% @layouttype = 'custom' %>
<% package_bread_crumb('Comments') %>

<div class="grid_16 alpha omega box box-shadow">
	<%= render :partial => "package/tabs" %>
	<h3><%= @pagetitle %></h3>
</div>
<%= render partial: "comment/show" %>
<%= render partial: "comment/new" %>
