- content_for :actions do
  %li.nav-item
    = link_to('#', data: { toggle: 'modal', target: '#add-user-role-modal' }, id: 'add-user', class: 'nav-link', title: 'Add User') do
      %span.fa-stack
        %i.fas.fa-user.fa-lg.fa-stack-1x
        %i.fas.fa-plus-circle.fa-stack-1x.top-icon
      %span.nav-item-name Add User
  %li.nav-item
    = link_to('#', data: { toggle: 'modal', target: '#add-group-role-modal' }, id: 'add-group', class: 'nav-link', title: 'Add Group') do
      %span.fa-stack
        %i.fas.fa-users.fa-lg.fa-stack-1x
        %i.fas.fa-plus-circle.fa-stack-1x.top-icon
      %span.nav-item-name Add Group
