<% ok = project.openqa_jobs.all? {|j| j.result == 'passed' } -%>
<dt><%= sprite_tag(ok ? 'accept' : 'error', alt: ok ? 'Ok' : 'Fail') %>openQA Jobs</dt>
<dd>
<% if project.openqa_jobs.empty? %>
  None.
<% else %>
  <ul>
    <% project.openqa_jobs.each do |job| %>
      <li class="openqa_job"><%= render(template: 'webui/obs_factory/openqa_jobs/_openqa_job', locals: { openqa_job: job }) %></li>
    <% end %>
  </ul>
<% end %>
</dd>
