<% if requests.blank? %>
  <p>No requests.</p>
<% else %>
  <table width="100%" id="request_table" class="compact">
    <thead>
    <tr>
      <th>Created</th>
      <th>Source</th>
      <th>Requester</th>
      <th>Type</th>
      <th>State</th>
      <th>Priority</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% requests.each do |req| -%>
      <%= render partial: 'shared/single_request', locals: { req: req } %>
    <% end %>
    </tbody>
  </table>
  <script>
    $('#request_table').dataTable({
      'order': [[0,'desc']],
      'columns': [ null, null, null, null, null, null, null ],
      'info': false,
      'paging': 25,
      pagingType: "full_numbers",
    });
  </script>
<% end %>
