- if requests.blank?
  %p No requests.
- else
  %table.compact#request-table{width: '100%'}
    %thead
      %tr
        %th Created
        %th Source
        %th Requester
        %th Type
        %th State
        %th Priority
        %th
    %tbody
      - requests.each do |req|
        = render partial: 'shared/single_request', locals: { req: req }
  :javascript
    $('#request-table').dataTable({
      'order': [[0,'desc']],
      'columns': [ null, null, null, null, null, null, null ],
      'info': false,
      'paging': 25,
      pagingType: 'full_numbers',
    });
