
<% @buildresult.each do |repo, archarray| %>

  <div data-role="collapsible" data-collapsed="true">
    <h3><%= h repo %></h3>
    <% archarray.each do |arch| -%>
      <%= repo_status_icon @repostatushash[repo][arch] %> <b><%= h(arch) %>:</b>
      <%= status_for( repo, arch, @package.name ).code %>
      <br/>
    <% end %>
  </div>
<% end %>


