<% unless @files.empty? %>
  <h3>Files (<%= @files.size %>)</h3>
  <ul data-role="listview" data-inset="true">
    <% @files.each do |file| -%>
      <li><%= file[:name] %> (<%=h human_readable_fsize( file[:size] )%>)</li>
    <% end -%>
  </ul>
<% else %>
  <p><i>This package has no files yet</i></p>
<% end %>


