<table class="grid">
  <% @matching_packages.each do |package| -%>
    <tr>
      <td><%= link_to package, :controller => 'package', :action => :show, :project=> @project, :package => package %></td>
    </tr>
  <% end%>
</table>

