<% @pagetitle = "List all Projects" %>
<%
@crumb_list = [
  'Projects'
]
-%>

<%= render :partial => 'filter_projects', :locals => {:filter_observer_action => 'list_all'}%>
<p><%= link_to "[Exclude home projects]", :action => :list_public %></p>

<h2>All Projects</h2>

<div id="project_list">
  <%= render :partial => 'search_project', :locals => {:project_list => @projects} %>
</div>

<p><%= link_to '[Create New Project]', :action => :new %></p>
