<ul data-role="listview" data-theme="a">
  <% i = 0 %>
  <% @projects.each do |project| -%>
    <%- next if project == 'deleted' -%>
    <% i = i + 1 %>
    <% if i > 800 %>
      <li data-role="list-divider" data-theme="a">... only showing the first 800</li>
      <% break
    end -%>

    <%- if @current_char.blank? || @current_char != project.downcase[0,1]
      @current_char = project.downcase[0,1] %>
      <li data-role="list-divider" data-theme="a"><%= @current_char %></li>
    <%- end -%>

    <li><%= link_to project, {:action => :show, :project => project }, :class => 'nowrap' -%></li>
  <% end %>
</ul>