<div id="__watchlist">
  <% if @user and @user.watched_projects.size > 0 %>
    <table id="watched_projects-table" class="grid" title="Watched Projects">
      <tr>
        <th>Project</th>
        <th style="width: 1%">Actions</th>
      </tr>
      <% @user.watched_projects.each do |project|%>
        <tr>
          <td><%= link_to elide(project, 60), :action => :show, :project => project, :controller => :project %></td>
          <td>
            <%= link_to image_tag('monitor.png', :size => '16x16', :alt => 'Monitor', :title => 'Monitor'), 
                :controller => :project, :action => :monitor, :project => project %>
            <%= link_to(image_tag('list-remove.png', :size => '16x16', :alt => 'Remove', :title => 'Remove'), 
                        {:action => :remove_watched_project, :project => project}, {:class => 'x', :remote => true}) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p><em>No projects marked to be watched.</em></p>
    <p>Add a project in watchlist menu to watch a project.</p>
  <% end %>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('.x').bind('ajax:success', function (event, data, status, xhr) {
      $("#__watchlist").html(data);
    });
  });
<% end %>
