<% @pagetitle = "Requests of #{user}" %>
<% @pagetitle = "My Requests" if user.to_s == session[:login] %>
<% @crumb_list = [@pagetitle] -%>

<h2><%= h @pagetitle %></h2>

<%= render :partial => 'shared/list_requests',
  :locals => { :requests => @requests, :hide_package => true, :hide_project => false } %>
