.comment-area {
  width: 100%;
  margin-bottom: 1rem;
}

.thread_level_1{
  margin-left: 1.5em;
}

.thread_level_2{
  margin-left: 3em;
}

.thread_level_3{
  margin-left: 4.5em;
}

.thread_level_4{
  margin-left: 6em;
}
