.icons-sponsor_amd { width: 90px; height: 50px; background: image-url('icons_sprite.png') -126px -177px no-repeat; }
.icons-sponsor_apm { width: 180px; height: 82px; background: image-url('icons_sprite.png') -2px -91px no-repeat; }
.icons-sponsor_b1-systems { width: 86px; height: 86px; background: image-url('icons_sprite.png') -370px -2px no-repeat; }
.icons-sponsor_heinlein { width: 180px; height: 48px; background: image-url('icons_sprite.png') -186px -2px no-repeat; }
.icons-sponsor_ip-exchange { width: 180px; height: 85px; background: image-url('icons_sprite.png') -2px -2px no-repeat; }
.icons-sponsor_ip-exchange2 { width: 120px; height: 120px; background: image-url('icons_sprite.png') -2px -177px no-repeat; }
.icons-sponsor_suse { width: 145px; height: 80px; background: image-url('icons_sprite.png') -186px -54px no-repeat; }
