.patchinfo-category-recommended {
  color: $green;
}

.patchinfo-category-security {
  color: $red;
}

.patchinfo-category-optional {
  color: $cyan;
}

.patchinfo-category-feature {
  color: $purple;
}
