#personal-navigation {
    & .nav-item a {
        font-size: 0.9rem;
        color: $main_green;

        &:hover {
            color: $main_blue;
        }
    }

    & .nav-link {
        padding: 0.5rem 0.6rem;
    }

    .nav-pills .show > .nav-link {
        color: #fff !important;
    }
}
