#pulse {
  .request-state-new {
    color: $obs_blue;
  }

  .request-state-review {
    color: $obs_yellow;
  }

  .request-state-accepted {
    color: $obs_green;
  }

  .request-state-declined {
    color: $red;
  }

  .request-state-revoked {
    color: $dark;
  }

  .request-state-superseded {
    color: $orange;
  }

  .progress-state-new {
    background-color: $obs_blue;
  }

  .progress-state-review {
    background-color: $obs_yellow;
  }

  .progress-state-accepted {
    background-color: $obs_green;
  }

  .progress-state-declined {
    background-color: $red;
  }

  .progress-state-revoked {
    background-color: $dark;
  }

  .progress-state-superseded {
    background-color: $orange;
  }
}