.badge-added {
  color: $white;
  background-color: $green;
}

.badge-deleted {
  color: $white;
  background-color: $red;
}

.badge-changed {
  color: $white;
  background-color: $cyan;
}

.req-description-box {
  word-break: break-all;
  white-space: pre-line;
  font-size: 14px;
  padding-right: 1em;
}
