- if User.session
  = link_to(request_inline_comment_path(commentable.bs_request, request_action_id: commentable,
                                        diff_file_index:, diff_line_number:, source_rev:, target_rev:),
            class: 'btn btn-sm btn-primary line-new-comment', remote: true, title: 'Add comment') do
    %i.fas.fa-comment-medical
    .visually-hidden
      Add comment
