- if Flipper.enabled?(:request_index, User.session)
  - if action_name == 'index'
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Requests
  - else
    %li.breadcrumb-item
      = link_to('Requests', my_requests_path)
- if @bs_request.present?
  :ruby
    current_page = current_page?(request_show_path(@bs_request.number, params[:request_action_id])) ||
                  current_page?(request_build_results_path(@bs_request.number, params[:request_action_id])) ||
                  current_page?(request_rpm_lint_path(@bs_request.number, params[:request_action_id])) ||
                  current_page?(request_changes_path(@bs_request.number, params[:request_action_id])) ||
                  current_page?(request_mentioned_issues_path(@bs_request.number, params[:request_action_id]))
  - if current_page
    %li.breadcrumb-item.active{ 'aria-current' => 'page' }
      Request #{@bs_request.number}
