= turbo_frame_tag "file-#{file_index}" do
  = render(DiffComponent.new(diff:, file_index:, commentable:, commented_lines:,
                             source_file:, target_file:, source_rev:, target_rev:))
