:ruby
  parameters = { project: action.target_project, request_action_id: action.id, notification_id: current_notification }
  roles_link = if action.target_package
                  package_users_path(parameters.merge!(package: action.target_package))
                else
                  project_users_path(parameters)
                end
%p
  You might want to
  = link_to(roles_link) do
    check the current roles
  of
  %span<
    = project_or_package_text(action.target_project, action.target_package)
    \.
