.comments-list
  .comments-thread
    = render(partial: 'webui/comment/comment_field',
    locals: { form_method: :post, comment: Comment.new, commentable: commentable, file_name: file_name,
              line: diff_ref, element_suffix: "new_comment_#{diff_ref}", has_cancel: true })
