- commentable.comments.where(diff_file_index: file_index, diff_line_number: line_number,
                             source_rev: [source_rev, nil], target_rev: [target_rev, nil]).each do |comment|
  .comments-thread
    = render BsRequestCommentComponent.new(comment: comment, level: 1, commentable: commentable)
.comments-thread
  = render(partial: 'webui/comment/comment_field',
  locals: { form_method: :post, comment: Comment.new, commentable: commentable,
            file_index:, line_number:, source_rev:, target_rev:,
            element_suffix: "new_comment_#{diff_ref}", has_cancel: true })
