%h3
  Request #{bs_request.number}
  %span.badge.ml-1{ class: "badge-#{request_badge_color(bs_request.state)}" }
    = bs_request.state

#description-text
  - if bs_request.description.present?
    = render partial: 'webui/shared/collapsible_text', locals: { text: bs_request.description }
  - else
    %i No description set
