/*
in this file I override the old styles.
*/

#logo {
  margin-top: 0;
}

#main {
  border-top: none;
}

body {
  margin: 0;
  padding: 0;
}

/* Tag Cloud */
/* TODO 
 * The link stuff should be handled in the common section.
 */
a,
a:link,
#contentarea a {
  text-decoration: none;
}
#contentarea a:hover {
  text-decoration: underline;
}

#contentarea a,
#contentarea a:visited,
#contentarea a:hover,
#contentarea a:active,
a:link, .inlets li a strong,
a:hover, .inlets li a strong,
a:focus, .inlets li a strong,
a:visited, .inlets li a:visited strong {
  color:#777;
}

#tagcloud{
  border-color: #ccc;
}
.tag {
  color: #ccc;
}

/* build status monitor for projects */
#contentarea .buildstatus tr:hover {
  background:#e4f4dc;
  border: 0;
}
#contentarea .status_blocked a,
#contentarea .status_blocked a:visited {
  color: #fff;
  background-color: #bbb;
}
#contentarea .status_scheduled a,
#contentarea .status_blocked a:visited {
  color: #11d;
  background-color: #bbb;
}
#contentarea .status_building a,
#contentarea .status_blocked a:visited {
  color: #00f;
  background-color: #bbb;
}
#contentarea .status_disabled a,
#contentarea .status_disabled,
#contentarea .status_blocked a:visited {
  color: #bbb;
}
#contentarea .status_succeeded a,
#contentarea .status_blocked a:visited {
  color: #6EB927;
}
#contentarea .status_broken a,
#contentarea .status_blocked a:visited {
  color: #e00;
}
#contentarea .status_failed a,
#contentarea .status_blocked a:visited {
  color: #f00;
}
#contentarea .status_expansion_error a,
#contentarea .status_blocked a:visited {
  color: #c00;
}
#contentarea .status_unknown a,
#contentarea .status_blocked a:visited {
  color: #e55;
}
.overflow_wrapper { /* just a workaround for package on small screens */
  overflow: auto;  
}

.star-rating li {
  list-style-image: none;
}
