%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.m-0.p-0.bg-light
    - @breadcrumbs.each do |breadcrumb|
      %li.breadcrumb-item{class: @breadcrumbs.last == breadcrumb && 'active' , "aria-current" => "page"}
        - if breadcrumb == @breadcrumbs.first
          %i.fas.fa-home
        - if breadcrumb[:path]
          = link_to breadcrumb[:name], breadcrumb[:path]
        - else
          = breadcrumb[:name]
