%nav{ "aria-label" => "breadcrumb" }
  %ol.breadcrumb.bg-transparent
    - @breadcrumbs.each do |breadcrumb|
      %li.breadcrumb-item{ class: @breadcrumbs.last == breadcrumb && 'active' , "aria-current" => "page" }
        - if breadcrumb == @breadcrumbs.first
          %i.fas.fa-home
        - if breadcrumb.is_a?(Array)
          - breadcrumb.each_with_index do |sub_breadcrumb, index| 
            = ':' if index > 0
            = link_to(sub_breadcrumb[:name], sub_breadcrumb[:path])
        - elsif breadcrumb[:path]
          = link_to(breadcrumb[:name], breadcrumb[:path])
        - else
          = breadcrumb[:name]
