%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to root_path, { class: 'navbar-brand', alt: 'Logo' } do
    = image_tag('obs-logo', height: '30' )
  %button.navbar-toggler{ 'type': "button", 'data-toggle': "collapse", 'data-target': "#global-navigation", 'aria-controls': "global-navigation", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#global-navigation
    %ul.navbar-nav.ml-auto
      - unless User.current.is_nobody?
        %li.nav-item.dropdown
          = render partial: 'layouts/webui2/watchlist_dropdown'
    = render partial: 'layouts/webui2/search'
