%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  = link_to(root_path, class: 'navbar-brand', alt: 'Logo') do
    = image_tag('obs-logo_small.svg', height: '30')
  %button.navbar-toggler{ 'type': 'button', data: { toggle: 'collapse', target: '#global-navigation' },
                          aria: { controls: 'global-navigation', expanded: 'false', label: 'Toggle navigation' } }
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#global-navigation
    %ul.navbar-nav
      %li.nav-item
        = render partial: 'layouts/webui2/search'
    .col-auto.ml-auto#personal-navigation
      = render partial: 'layouts/webui2/personal_navigation'
