= form_tag(search_path(project: 1, package: 1, name: 1), { id: 'global-search-form', class: 'form-inline my-2 my-lg-0' }) do
  %label.hidden{ for: 'search', class: 'd-none' } Search
  = text_field_tag 'search_text', '', id: 'search', class: 'form-control'
  %input.hidden{ type: 'submit', value: 'Search', class: 'd-none' }
