= form_tag(search_path(project: 1, package: 1, name: 1), { id: 'global-search-form', class: 'form-inline' }) do
  %input.form-control.mr-sm-2{"aria-label": "Search", placeholder: "Search", type: "text"}/
