%button.btn.btn-link.nav-link.dropdown-toggle#watchlist{ aria: { expanded: false, haspopup: true }, data: { toggle: 'dropdown', offset: 150 } }
  Watchlist
.dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'watchlist' } }
  .dropdown-header
    List of projects you are watching
  .dropdown-divider
  - if params[:project]
    %a.dropdown-item{ href: project_toggle_watch_path(params[:project]) }
      - if User.current.watches? params[:project]
        %p.mb-0
          Remove this project from Watchlist
        %small.text-muted
          Do not watch this project anymore
      - else
        %p.mb-0
          Add this project to Watchlist
        %small.text-muted
          Watch this project
    .dropdown-divider
  - User.current.watched_project_names.each_with_index do |project, index|
    = link_to project_show_path(project), class: "dropdown-item text-wrap text-word-break-all #{'border-top' unless index.zero?}" do
      %i.fa.fa-cubes.fa.text-info.pt-2
      %span.small
        = project
