<% @pagetitle = "Group #{@group.title}" %>

<h2><%= @pagetitle %></h2>

<% unless @group.users.empty? %>
<table id="group_members_table">
  <thead>
    <tr>
      <th>Group members</th>
    </tr>
  </thead>
  <tbody>
    <% @group.users.each do |user| %>
      <tr>
        <td><%= link_to(user.login, :controller => 'home', :action => 'index', :user => user.login) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><i>This group does not contain users</i></p>
<% end %>

<% content_for :ready_function do %>
  $('#group_members_table').dataTable();
<% end %>
