<% @pagetitle = "Administrator Settings" %>

<h2>Administrator pages</h2>




<div id="adminoptions">
    <p><a href="<%= get_frontend_url_for( :controller => 'admin') %>">User and group management</a></p>
    <p><%#= link_to "Add connection to a remote OBS instance", :controller => "admin", :action => "connect_instance" %></p>
</div>

