<%
@crumb_list = [
  "Tag: #{params[:tag]}"
]
-%>

<%#= render :partial => 'filter_projects' %><br/>

    <% if @tagcloud %>
    <%= render :partial => 'tag/tagcloud_container'-%>
    <% end %>
 

  <%= render :partial => "tag/projects" %>

  <%= render :partial => "tag/packages" %>

