<?xml version="1.0" encoding="UTF-8"?>
<distributions>
 <distribution vendor="openSUSE" version="Factory" id="opensuse-Factory">
  <name>openSUSE Factory</name>
  <project>openSUSE.org:openSUSE:Factory</project>
  <reponame>openSUSE_Factory</reponame>
  <repository>snapshot</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/opensuse-Factory-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/opensuse-Factory-16.png"/>
  <link>http://www.opensuse.org/</link>
 </distribution>
 <distribution vendor="openSUSE" version="11.3" id="opensuse-11.3">
  <name>openSUSE 11.3</name>
  <project>openSUSE.org:openSUSE:11.3</project>
  <reponame>openSUSE_11.3</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/opensuse-11.3-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/opensuse-11.3-16.png"/>
  <link>http://www.opensuse.org/</link>
 </distribution>
 <distribution vendor="openSUSE" version="11.2" id="opensuse-11.2">
  <name>openSUSE 11.2</name>
  <project>openSUSE.org:openSUSE:11.2</project>
  <reponame>openSUSE_11.2</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/opensuse-11.2-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/opensuse-11.2-16.png"/>
  <link>http://www.opensuse.org/</link>
 </distribution>
 <distribution vendor="openSUSE" version="11.1" id="opensuse-11.1">
  <name>openSUSE 11.1</name>
  <project>openSUSE.org:openSUSE:11.1</project>
  <reponame>openSUSE_11.1</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/opensuse-11.1-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/opensuse-11.1-16.png"/>
  <link>http://www.opensuse.org/</link>
 </distribution>
 <distribution vendor="SUSE" version="SLE-11" id="suse-SLE-11">
  <name>SUSE SLE-11</name>
  <project>openSUSE.org:SUSE:SLE-11</project>
  <reponame>SLE_11</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/suse-SLE-11-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/suse-SLE-11-16.png"/>
  <link>http://www.suse.com/</link>
 </distribution>
 <distribution vendor="SUSE" version="SLE-10" id="suse-SLE-10">
  <name>SUSE SLE-10</name>
  <project>openSUSE.org:SUSE:SLE-10:SDK</project>
  <reponame>SLE_10_SDK</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/suse-SLE-10-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/suse-SLE-10-16.png"/>
  <link>http://www.suse.com/</link>
 </distribution>
 <distribution vendor="SUSE" version="SLES-9" id="suse-SLES-9">
  <name>SUSE SLES-9</name>
  <project>openSUSE.org:SUSE:SLES-9</project>
  <reponame>SLES_9</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/suse-SLES-9-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/suse-SLES-9-16.png"/>
  <link>http://www.suse.com/</link>
 </distribution>
 <distribution vendor="Debian" version="5.0" id="debian-5.0">
  <name>Debian 5.0</name>
  <project>openSUSE.org:Debian:5.0</project>
  <reponame>Debian_5.0</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/debian-5.0-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/debian-5.0-16.png"/>
  <link>http://www.debian.org/</link>
 </distribution>
 <distribution vendor="Fedora" version="13" id="fedora-13">
  <name>Fedora 13</name>
  <project>openSUSE.org:Fedora:13</project>
  <reponame>Fedora_13</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/fedora-13-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/fedora-13-16.png"/>
  <link>http://fedoraproject.org/</link>
 </distribution>
 <distribution vendor="Fedora" version="12" id="fedora-12">
  <name>Fedora 12</name>
  <project>openSUSE.org:Fedora:12</project>
  <reponame>Fedora_12</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/fedora-12-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/fedora-12-16.png"/>
  <link>http://fedoraproject.org/</link>
 </distribution>
 <distribution vendor="RedHat" version="RHEL-5" id="redhat-RHEL-5">
  <name>RedHat RHEL-5</name>
  <project>openSUSE.org:RedHat:RHEL-5</project>
  <reponame>RedHat_RHEL-5</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/redhat-RHEL-5-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/redhat-RHEL-5-16.png"/>
  <link>http://www.redhat.com/</link>
 </distribution>
 <distribution vendor="RedHat" version="RHEL-4" id="redhat-RHEL-4">
  <name>RedHat RHEL-4</name>
  <project>openSUSE.org:RedHat:RHEL-4</project>
  <reponame>RedHat_RHEL-4</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/redhat-RHEL-4-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/redhat-RHEL-4-16.png"/>
  <link>http://www.redhat.com/</link>
 </distribution>
 <distribution vendor="CentOS" version="CentOS-5" id="centos-CentOS-5">
  <name>CentOS CentOS-5</name>
  <project>openSUSE.org:CentOS:CentOS-5</project>
  <reponame>CentOS_CentOS-5</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/centos-CentOS-5-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/centos-CentOS-5-16.png"/>
  <link>http://www.centos.org/</link>
 </distribution>
 <distribution vendor="Mandriva" version="2010" id="mandriva-2010">
  <name>Mandriva 2010</name>
  <project>openSUSE.org:Mandriva:2010</project>
  <reponame>Mandriva_2010</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/mandriva-2010-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/mandriva-2010-16.png"/>
  <link>http://www.mandriva.com/</link>
 </distribution>
 <distribution vendor="Mandriva" version="2009.1" id="mandriva-2009.1">
  <name>Mandriva 2009.1</name>
  <project>openSUSE.org:Mandriva:2009.1</project>
  <reponame>Mandriva_2009.1</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/mandriva-2009.1-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/mandriva-2009.1-16.png"/>
  <link>http://www.mandriva.com/</link>
 </distribution>
 <distribution vendor="Ubuntu" version="10.04" id="ubuntu-10.04">
  <name>Ubuntu 10.04</name>
  <project>openSUSE.org:Ubuntu:10.04</project>
  <reponame>xUbuntu_10.04</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/ubuntu-10.04-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/ubuntu-10.04-16.png"/>
  <link>http://www.ubuntu.com/</link>
 </distribution>
 <distribution vendor="Ubuntu" version="9.10" id="ubuntu-9.10">
  <name>Ubuntu 9.10</name>
  <project>openSUSE.org:Ubuntu:9.10</project>
  <reponame>xUbuntu_9.10</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/ubuntu-9.10-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/ubuntu-9.10-16.png"/>
  <link>http://www.ubuntu.com/</link>
 </distribution>
 <distribution vendor="Ubuntu" version="9.04" id="ubuntu-9.04">
  <name>Ubuntu 9.04</name>
  <project>openSUSE.org:Ubuntu:9.04</project>
  <reponame>xUbuntu_9.04</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/ubuntu-9.04-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/ubuntu-9.04-16.png"/>
  <link>http://www.ubuntu.com/</link>
 </distribution>
 <distribution vendor="Ubuntu" version="8.04" id="ubuntu-8.04">
  <name>Ubuntu 8.04</name>
  <project>openSUSE.org:Ubuntu:8.04</project>
  <reponame>xUbuntu_8.04</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/ubuntu-8.04-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/ubuntu-8.04-16.png"/>
  <link>http://www.ubuntu.com/</link>
 </distribution>
 <distribution vendor="Ubuntu" version="6.06" id="ubuntu-6.06">
  <name>Ubuntu 6.06</name>
  <project>openSUSE.org:Ubuntu:6.06</project>
  <reponame>xUbuntu_6.06</reponame>
  <repository>standard</repository>
  <icon width="8" height="8" url="https://static.opensuse.org/distributions/logos/ubuntu-6.06-8.png"/>
  <icon width="16" height="16" url="https://static.opensuse.org/distributions/logos/ubuntu-6.06-16.png"/>
  <link>http://www.ubuntu.com/</link>
 </distribution>
</distributions>
