- flash.each do |type, message|
  %div{class: "alert alert-dismissable #{bootstrap_class_for(type)}", id: "flash"}
    .button.close{"data-dismiss" => "alert", "aria-hidden" => "true"}
      &times;
    %h3
      = message
