%p.text-muted.copyleft.text-center
  &copy;
  = Date.today.year
  Open Build Service
  This tool is
  = link_to "free software,", "http://www.gnu.org/philosophy/free-sw.html"
  you can run, copy, distribute, study, change and improve it.
  The source code and the developers are on
  = link_to "github.", "https://github.com/SUSE/hackweek"

