%b
  Submit
  = project_or_package_link project: action.source_project, package: action.source_package, rev: action.source_rev
  to
  = project_or_package_link project: action.target_project, package: action.target_package
