%h3
  %p #{pagetitle} (#{state})

#description-text
  - if description.blank?
    %i No description set
  - else
    = description_wrapper(toggle_sliced_text(description))
- if can_add_reviews
  %p
    = link_to(add_reviewer_dialog_path(number: number), data: { toggle: 'modal', target: '#add-reviewer-modal' }) do
      %i.fas.fa-plus-circle.text-primary
        Add a Review
