.alert.alert-warning
  You are a <strong>project maintainer</strong> but not a <strong>package maintainer</strong>. This package
  has <strong>#{pluralize(number_of_package_maintainers, 'package maintainer')}</strong> assigned. Please keep
  in mind that also package maintainers would like to review this request.
