.card.mb-3
  .card-header.d-flex.justify-content-between
    %h5
      Overview
  .card-body
    -# description content
.card.mb-3
  .card-header.d-flex.justify-content-between
    %h5
      Diff
  .card-body
    -# Diff content and build results
.row
  .col-md-8
    .card
      .card-header.d-flex.justify-content-between
        %h5
          Comments
      .card-body
        -# Commments partial
  .col-md-4
    .card
      .card-header.d-flex.justify-content-between
        %h5
          Request History
      .card-body
        -# History content
