/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.2
**  Dateiversion: 01.11.06  
**  Datei       : basemod_2-1-3.css
**  Funktion    : Variation des Basislayouts - Spaltenanordnung: 2-1-3
**
*/

@media screen
{
/* #col1 wird zur mittleren Spalte */
#col1 { width: 50%; float:left; margin-left: 25%; }

/* #col2 wird zur linken Spalte */
#col2 { width: 25%; float:left;  margin-left: -75%;}

/* #col3 wird zur rechten Spalte */
#col3 {  margin-left: 75%; margin-right: 0%; }

} 
