/* 
**
**  $Id: contentmod_opensuse.css 21194 2007-06-06 15:49:19Z fs $
**
**  Funktion:  Provides all general content modifications for openSUSE.org
**  Author:    Frank Sundermeyer <fs@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/


/******************
* General classes *
******************/

.navlist {
    /* set image in local css file */
    /* list-style-image: url(../images/liDot_double_darkgrey.png); */
    margin: 0;
    padding: .5em .3em 0 0;
}

/********
* Links *
********/

a {
    border: none; 
}
a, a:hover {
    color: #777;
}
a:hover, 
a:focus {
    background-color: transparent;
}
#main a[href^="http:"], #main a[href^="https:"] {
    padding-left: 0;
    background-image: none;
}
#contentarea a {
    color: #2A4D66;
    text-decoration: underline;
}
#contentarea a:visited {
    color: #4987B3;
}
#contentarea a:hover {
    color: #3D7094;
}

/*************
* blockquote *
*************/

blockquote {
    margin-left: 2em;
    margin-right: 2em;
    padding: .5em .7em;
    width: auto;
}

/*******
* Cite *
*******/

cite {
    margin: .4em 2em;
    padding-left: .7em;
}

/*******
* Code *
*******/

code {
    border: none;
}

/************
* Headlines *
************/

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 0;
}
h1 {
    font-size: 2em;
    color: #000;
    margin: 0 0 0.5em 0;
    padding: 0;
}
h2 {
    font-size: 1.6em;
    color: #000;
    margin: 0 0 0.5em 0;
    padding: 0;
}
h3 {
    font-size: 1.3em;
    color: #000;
    margin: 0 0 0.5em 0;
    padding: 0;
}
h4 {
    font-size: 1.1em;
    color: #000;
    margin: 0 0 0.4em 0;
    padding: 0;
}
h5 {
    font-size: .8em;
    color: #000;
    margin: 0 0 0.4em 0;
    font-style: italic;
}
h6 {
    font-size: .8em;
    color: #000;
    margin: 0 0 0.3em 0;
    font-style: italic;
}

/********
* Input *
********/

input {
    margin: 5px;
}
input[type=submit] {
    cursor: pointer;
}

/*********
* Images *
*********/

img {
    border: none;
    vertical-align: middle;
}

/***********
* textarea *
***********/

textarea {
     margin: 5px;
}

/*********
* Tables *
*********/

table {
    width: auto;
}
table td,
table th {
    padding-bottom: .2em;
    padding-top: .2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

/*****
* tt *
*****/

tt {
    font-family: courier, monospace;
}
