.navbar-dark .navbar-toggler { color: $gray-300; }
.flash-and-announcement.sticky-top { top: $top-bar-height + .25rem; }
#top_0.sticky-top { top: $top-bar-height; }

// NAVIGATION

#navigation {
  .fixed-top { height: $top-bar-height; }
  .toggler {
    @extend .ml-2;
    @extend .d-none;
    @extend .d-md-flex;
    @extend .align-items-center;
    cursor: pointer;
    &.text-center { min-width: 3.875rem; }
    &:first-of-type { @extend .ml-3;  }
  }

  .navbar-nav .nav-link {
    color: $gray-300;
    &:hover { color: white; }
  }

  .menu-right { cursor: pointer; }
  .menu-options { font-size: 1.1rem }

  .navbar-brand img { height: 1.875rem; }
}

#bottom-navigation { height: $bottom-bar-height; }
#navigation, #bottom-navigation {
  a.nav-link {
    .small { line-height: 1rem; }

    &.active {
      background-color: darken($dark, 10%);
      @extend .rounded;
    }
  }
}

// BREADCRUMBS

.breadcrumb {
  padding-bottom: 0;
  @extend .mt-2;
  .breadcrumb-item {
    display: block;
    line-height: 1.5rem;
  }
  .breadcrumb-item::after {
    display: inline-block;
    padding: 0 0.5rem 0 0.25rem;
    color: #6c757d;
    content: "/";
  }
  .breadcrumb-item:last-child::after { content: ''; }
  .breadcrumb-item + .breadcrumb-item { padding-left: 0; }

  // FIXME: This could be done overriding the variable $breadcrumb-divider: none;
  .breadcrumb-item + .breadcrumb-item::before { display: none; }
}

// LOG IN AND SIGN UP

.access-modal {
  background-color: #00000080;
  .close { cursor: pointer; }
  .login-separator {
    position: relative;
    span {
      position: absolute;
      top: -.7rem;
      left: 50%;
      padding: 0 .5rem;
      margin-left: -1.5rem;
    }
  }
}


// OFFCANVAS MENU

button.navbar-toggler {
  .fas.fa-times {
    line-height: 1.875rem;
    width: 20px;
  }
}

.watchlist-collapse, .offcanvas-collapse, .actions-collapse {
  position: fixed;
  top: $top-bar-height;
  left: 100%;
  bottom: $bottom-bar-height;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  z-index: 1040;
  background-color: #343a40;
  color: $gray-400;
  transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;

  & a {
    color: $gray-300;
    &:hover { color: white; }
  }

  &.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 1040;
  }
}

// FOOTER

#footer {
  li { @extend .my-2; }

  #footer-legal {
    font-size: .9rem;

    p { color: $gray-400; }
    & a { color: $gray-300; }
  }
}
.footer-separator { height: $bottom-bar-height; }
