.avatars-counter, .simulated-avatar {
  display: inline-block;
  text-align: center;
  width: 1.4375rem;
  height: 1.4375rem;
  line-height: 1.4rem;
  cursor: default;
}

.avatars-counter { font-size: 0.6rem; }

ul.avatars{
  li {
    margin-right: 0;
    &:not(:first-child) { margin-right: -.25rem; }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "notifiable notifiable"
    "content content"
    "who-when action";
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  align-items: start;

  .notifiable { grid-area: notifiable; }
  .who-when { grid-area: who-when; }
  .action { grid-area: action; }
  .content { grid-area: content; }
}
