// Variables
// TODO: move to app/assets/stylesheets/webui/bootstrap_variables/sizes.scss
$top-navigation-height: 3.5625rem;
$bottom-navigation-height: 3.5rem;
$left-navigation-width: 16rem;

body.responsive-ux {
  @import 'build-result';
  @import 'grid';
  @import 'layout';
  @import 'navbar';
  @import 'sponsors';
  @import 'tabs';
}
