.scrollable-tabs {
  overflow: auto;
  white-space: nowrap;
  padding: 0.5rem 1rem 0rem 1rem;

  a.scrollable-tab-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    &.active {
      font-weight: 600;
      border: 1px solid;
      border-color: $gray-300;
      border-bottom-color: $white;
      background-color: $white;
    }
  }
}
