.scrollable-tabs {
  overflow: auto;
  white-space: nowrap;
  padding: 0.5rem 1rem 0rem 1rem;
  z-index: 990;

  a.scrollable-tab-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    &.active {
      font-weight: 600;
      border: 1px solid;
      border-color: $gray-300;
      border-bottom-color: $white;
      background-color: $white;
    }
  }
}

@include media-breakpoint-up(xl) {
  // This prevents tabs from breaking the layout by overflowing outside the viewport
  .scrollable-tabs {
    // 2rem is the sum of the left and right padding for the scrollable tabs
    max-width: calc(100vw - (#{$left-navigation-width} + 2rem));
  }
}
