<% incident_table_id ||= 'incident_table' %>

<% if incidents.blank? %>
  <p><i>No incidents.</i></p>
<% else %>
  <table id="<%= incident_table_id %>">
    <thead>
      <tr>
        <th>Summary</th>
        <th>Info</th>
        <th>Release Targets</th>
        <th>Category</th>
        <th>Packages</th>
        <th>Build</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'incident_table_entries', :locals => {:incidents => incidents} %>
    </tbody>
  </table>
<% end %>
