<% @pagetitle = 'Maintenance Incidents' %>
<% project_bread_crumb @pagetitle %>

<%= render :partial => 'tabs' %>

<h3>
  Maintenance incidents <span id="incident_count"><%= "(#{@incidents.length})" %></span>
</h3>

<div id="incident_display" class="clearfix">
  <%= render(:partial => 'shared/incident_table', :locals => { :incidents => @incidents, :incident_table_id => 'incident_table' }) %>
</div>

