.comments {
  margin-left: 15px;
}

.comment_links {
  float: right;
}

.comment{
  margin-right: 2em;
  border-top: 1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment_0 {
  border-top: none;
}

.comment-actions {
}

.comment_child{
  background: #fff;
}

.thread_level_1{
  margin-left: 2em;
}

.thread_level_2{
  margin-left: 4em;
}

.thread_level_3{
  margin-left: 6em;
}

.thread_level_4{
  margin-left: 8em;
}

.comment_odd{
}

.comment_image{
  float: left;
  margin: 0px 10px 10px 5px;
  border: 2px solid grey;
}

.comment_time{
  font-size: 0.8em;
}

