@import 'datatables/jquery.dataTables';

// fix image asset url
table.dataTable thead .sorting {
  background-image: image-url("datatables/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: image-url("datatables/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: image-url("datatables/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: image-url("datatables/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: image-url("datatables/sort_desc_disabled.png");
}
