.dialog {
  z-index: 90;
  position: fixed;
  top: 10%;
  left: 50%;
  height: 10em;
  width: 26em;
  margin-left: -13em;

  input[type='text'] { width: 95%; }
  /* TODO: Agree on a common way to use dialogs. Without this adjustment the width of 95% gets applied to the branching dialog and this looks weird */
  input[name="target_package"] {
    width: 220px;
  }

  .dialog-content {
    overflow: auto;
    max-height: 400px;
    input:not([type=submit]):not([type=file]):not([type=checkbox]) {
      width: 95%;
    }
  }

  .dialog-buttons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    input {
      font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
    }

    a, input {
      border-radius: 5px;
      border: 1px solid #adadad;
      color: #323232;
      font-size: 1rem;
      padding: 3px 10px;
      background: #FFF;
      background-color: #fff;
      &:hover {
        text-decoration: none;
        color: #323232;
        background-color: #eee;
      }
      &:visited {
        text-decoration: none;
      }
    }
  }
}

#package_branch_dialog { font-size: 16px; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
