.icons-accept { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -302px no-repeat; }
.icons-accessories-text-editor { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -182px no-repeat; }
.icons-application_get { width: 16px; height: 16px; background: image-url('icons_sprite.png') -242px -383px no-repeat; }
.icons-architecture { width: 16px; height: 16px; background: image-url('icons_sprite.png') -222px -383px no-repeat; }
.icons-arrow_branch { width: 16px; height: 16px; background: image-url('icons_sprite.png') -202px -383px no-repeat; }
.icons-arrow_down { width: 16px; height: 16px; background: image-url('icons_sprite.png') -182px -383px no-repeat; }
.icons-arrow_redo { width: 16px; height: 16px; background: image-url('icons_sprite.png') -62px -383px no-repeat; }
.icons-arrow_refresh { width: 16px; height: 16px; background: image-url('icons_sprite.png') -22px -383px no-repeat; }
.icons-arrow_switch { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -362px no-repeat; }
.icons-arrow_undo { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -342px no-repeat; }
.icons-arrow_up { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -322px no-repeat; }
.icons-back_disabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -314px -315px no-repeat; }
.icons-back_enabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -291px -315px no-repeat; }
.icons-back_enabled_hover { width: 19px; height: 19px; background: image-url('icons_sprite.png') -268px -315px no-repeat; }
.icons-brick { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -282px no-repeat; }
.icons-brick_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -262px no-repeat; }
.icons-brick_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -242px no-repeat; }
.icons-brick_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -222px no-repeat; }
.icons-brick_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -202px no-repeat; }
.icons-bug_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -342px -383px no-repeat; }
.icons-bug_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -162px no-repeat; }
.icons-build_disabled { width: 20px; height: 16px; background: image-url('icons_sprite.png') -206px -173px no-repeat; }
.icons-build_disabled_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -254px -287px no-repeat; }
.icons-build_disabled_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -114px -287px no-repeat; }
.icons-build_enabled { width: 20px; height: 16px; background: image-url('icons_sprite.png') -182px -173px no-repeat; }
.icons-build_enabled_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -58px -287px no-repeat; }
.icons-build_enabled_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -260px -143px no-repeat; }
.icons-cancel { width: 16px; height: 16px; background: image-url('icons_sprite.png') -242px -363px no-repeat; }
.icons-clear { width: 16px; height: 16px; background: image-url('icons_sprite.png') -222px -363px no-repeat; }
.icons-clear_active { width: 16px; height: 16px; background: image-url('icons_sprite.png') -202px -363px no-repeat; }
.icons-clock { width: 16px; height: 16px; background: image-url('icons_sprite.png') -182px -363px no-repeat; }
.icons-cog { width: 16px; height: 16px; background: image-url('icons_sprite.png') -282px -343px no-repeat; }
.icons-cog_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -122px -343px no-repeat; }
.icons-cog_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -62px -343px no-repeat; }
.icons-cog_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -42px -343px no-repeat; }
.icons-cog_error { width: 16px; height: 16px; background: image-url('icons_sprite.png') -22px -343px no-repeat; }
.icons-cog_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -290px -173px no-repeat; }
.icons-comment_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -270px -173px no-repeat; }
.icons-comment_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -250px -173px no-repeat; }
.icons-comment_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -230px -173px no-repeat; }
.icons-configure { width: 32px; height: 32px; background: image-url('icons_sprite.png') -310px -125px no-repeat; }
.icons-debuginfo_disabled_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -226px -287px no-repeat; }
.icons-debuginfo_disabled_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -198px -287px no-repeat; }
.icons-debuginfo_enabled_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -170px -287px no-repeat; }
.icons-debuginfo_enabled_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -2px -287px no-repeat; }
.icons-delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -282px -363px no-repeat; }
.icons-dialog-warning { width: 22px; height: 22px; background: image-url('icons_sprite.png') -58px -315px no-repeat; }
.icons-distributions-arch { width: 40px; height: 39px; background: image-url('icons_sprite.png') -180px -242px no-repeat; }
.icons-distributions-centos { width: 40px; height: 40px; background: image-url('icons_sprite.png') -180px -197px no-repeat; }
.icons-distributions-debian { width: 40px; height: 34px; background: image-url('icons_sprite.png') -310px -42px no-repeat; }
.icons-distributions-fedora { width: 40px; height: 40px; background: image-url('icons_sprite.png') -136px -242px no-repeat; }
.icons-distributions-kiwi { width: 40px; height: 38px; background: image-url('icons_sprite.png') -224px -242px no-repeat; }
.icons-distributions-mandriva { width: 40px; height: 40px; background: image-url('icons_sprite.png') -224px -197px no-repeat; }
.icons-distributions-meego { width: 40px; height: 11px; background: image-url('icons_sprite.png') -310px -110px no-repeat; }
.icons-distributions-opensuse { width: 40px; height: 26px; background: image-url('icons_sprite.png') -310px -80px no-repeat; }
.icons-distributions-redhat { width: 40px; height: 40px; background: image-url('icons_sprite.png') -92px -242px no-repeat; }
.icons-distributions-scientificlinux { width: 40px; height: 41px; background: image-url('icons_sprite.png') -136px -197px no-repeat; }
.icons-distributions-suse { width: 40px; height: 36px; background: image-url('icons_sprite.png') -310px -2px no-repeat; }
.icons-distributions-ubuntu { width: 40px; height: 41px; background: image-url('icons_sprite.png') -92px -197px no-repeat; }
.icons-document-new { width: 32px; height: 32px; background: image-url('icons_sprite.png') -310px -233px no-repeat; }
.icons-dontwatch { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -2px no-repeat; }
.icons-drive_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -22px no-repeat; }
.icons-drive_burn { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -42px no-repeat; }
.icons-drive_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -62px no-repeat; }
.icons-drive_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -82px no-repeat; }
.icons-drive_web { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -102px no-repeat; }
.icons-edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -122px no-repeat; }
.icons-email { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -142px no-repeat; }
.icons-error { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -162px no-repeat; }
.icons-exclamation { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -182px no-repeat; }
.icons-eye { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -202px no-repeat; }
.icons-feeds { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -222px no-repeat; }
.icons-filter { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -242px no-repeat; }
.icons-find { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -262px no-repeat; }
.icons-flag_green { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -282px no-repeat; }
.icons-flag_red { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -302px no-repeat; }
.icons-flag_yellow { width: 16px; height: 16px; background: image-url('icons_sprite.png') -354px -322px no-repeat; }
.icons-folder_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -2px -343px no-repeat; }
.icons-forward_disabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -176px -315px no-repeat; }
.icons-forward_enabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -130px -315px no-repeat; }
.icons-forward_enabled_hover { width: 19px; height: 19px; background: image-url('icons_sprite.png') -107px -315px no-repeat; }
.icons-group_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -82px -343px no-repeat; }
.icons-group_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -102px -343px no-repeat; }
.icons-header-logo { width: 46px; height: 26px; background: image-url('icons_sprite.png') -182px -143px no-repeat; }
.icons-help { width: 16px; height: 16px; background: image-url('icons_sprite.png') -142px -343px no-repeat; }
.icons-home_grey { width: 16px; height: 16px; background: image-url('icons_sprite.png') -162px -343px no-repeat; }
.icons-icon-search-black { width: 16px; height: 16px; background: image-url('icons_sprite.png') -182px -343px no-repeat; }
.icons-info { width: 16px; height: 16px; background: image-url('icons_sprite.png') -202px -343px no-repeat; }
.icons-info_light { width: 16px; height: 16px; background: image-url('icons_sprite.png') -222px -343px no-repeat; }
.icons-information { width: 16px; height: 16px; background: image-url('icons_sprite.png') -242px -343px no-repeat; }
.icons-key { width: 16px; height: 16px; background: image-url('icons_sprite.png') -262px -343px no-repeat; }
.icons-list { width: 32px; height: 32px; background: image-url('icons_sprite.png') -268px -197px no-repeat; }
.icons-list-add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -302px -343px no-repeat; }
.icons-list-remove { width: 16px; height: 16px; background: image-url('icons_sprite.png') -322px -343px no-repeat; }
.icons-lock { width: 16px; height: 16px; background: image-url('icons_sprite.png') -342px -343px no-repeat; }
.icons-lock_open { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -2px no-repeat; }
.icons-login { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -22px no-repeat; }
.icons-lorry { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -42px no-repeat; }
.icons-lorry_error { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -62px no-repeat; }
.icons-lorry_flatbed { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -82px no-repeat; }
.icons-magnifier_zoom_in { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -102px no-repeat; }
.icons-magnifier_zoom_out { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -122px no-repeat; }
.icons-mail_generic { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -142px no-repeat; }
.icons-monitor { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -162px no-repeat; }
.icons-note_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -182px no-repeat; }
.icons-note_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -202px no-repeat; }
.icons-note_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -222px no-repeat; }
.icons-ok { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -242px no-repeat; }
.icons-package { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -262px no-repeat; }
.icons-package_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -282px no-repeat; }
.icons-package_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -302px no-repeat; }
.icons-package_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -322px no-repeat; }
.icons-package_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -342px no-repeat; }
.icons-package_link { width: 16px; height: 16px; background: image-url('icons_sprite.png') -2px -363px no-repeat; }
.icons-page_go { width: 16px; height: 16px; background: image-url('icons_sprite.png') -22px -363px no-repeat; }
.icons-page_refresh { width: 16px; height: 16px; background: image-url('icons_sprite.png') -42px -363px no-repeat; }
.icons-page_save { width: 16px; height: 16px; background: image-url('icons_sprite.png') -62px -363px no-repeat; }
.icons-page_white_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -82px -363px no-repeat; }
.icons-page_white_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -102px -363px no-repeat; }
.icons-page_white_get { width: 16px; height: 16px; background: image-url('icons_sprite.png') -122px -363px no-repeat; }
.icons-plugin_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -142px -363px no-repeat; }
.icons-project { width: 16px; height: 16px; background: image-url('icons_sprite.png') -162px -363px no-repeat; }
.icons-publish_disabled_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -86px -287px no-repeat; }
.icons-publish_disabled_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -232px -143px no-repeat; }
.icons-publish_enabled_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -30px -287px no-repeat; }
.icons-publish_enabled_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -30px -315px no-repeat; }
.icons-rebuild { width: 16px; height: 16px; background: image-url('icons_sprite.png') -262px -363px no-repeat; }
.icons-rebuild-light { width: 16px; height: 16px; background: image-url('icons_sprite.png') -288px -143px no-repeat; }
.icons-reload { width: 14px; height: 16px; background: image-url('icons_sprite.png') -362px -383px no-repeat; }
.icons-remove_filter { width: 16px; height: 16px; background: image-url('icons_sprite.png') -322px -363px no-repeat; }
.icons-repository { width: 16px; height: 16px; background: image-url('icons_sprite.png') -342px -363px no-repeat; }
.icons-req-accept { width: 16px; height: 16px; background: image-url('icons_sprite.png') -362px -363px no-repeat; }
.icons-req-decline { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -2px no-repeat; }
.icons-req-revoke { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -22px no-repeat; }
.icons-req-showdiff { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -42px no-repeat; }
.icons-script { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -62px no-repeat; }
.icons-script_lightning { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -82px no-repeat; }
.icons-script_link { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -102px no-repeat; }
.icons-search-advanced { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -122px no-repeat; }
.icons-server_chart { width: 16px; height: 16px; background: image-url('icons_sprite.png') -394px -142px no-repeat; }
.icons-sort_asc { width: 19px; height: 19px; background: image-url('icons_sprite.png') -153px -315px no-repeat; }
.icons-sort_asc_disabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -84px -315px no-repeat; }
.icons-sort_both { width: 19px; height: 19px; background: image-url('icons_sprite.png') -199px -315px no-repeat; }
.icons-sort_desc { width: 19px; height: 19px; background: image-url('icons_sprite.png') -222px -315px no-repeat; }
.icons-sort_desc_disabled { width: 19px; height: 19px; background: image-url('icons_sprite.png') -245px -315px no-repeat; }
.icons-sponsor_amd { width: 90px; height: 50px; background: image-url('icons_sprite.png') -2px -143px no-repeat; }
.icons-sponsor_b1-systems { width: 86px; height: 86px; background: image-url('icons_sprite.png') -2px -197px no-repeat; }
.icons-sponsor_heinlein { width: 180px; height: 48px; background: image-url('icons_sprite.png') -2px -91px no-repeat; }
.icons-sponsor_ip-exchange { width: 180px; height: 85px; background: image-url('icons_sprite.png') -2px -2px no-repeat; }
.icons-sponsor_ip-exchange2 { width: 120px; height: 120px; background: image-url('icons_sprite.png') -186px -2px no-repeat; }
.icons-sponsor_suse { width: 82px; height: 50px; background: image-url('icons_sprite.png') -96px -143px no-repeat; }
.icons-start { width: 16px; height: 16px; background: image-url('icons_sprite.png') -2px -383px no-repeat; }
.icons-start-here { width: 32px; height: 32px; background: image-url('icons_sprite.png') -310px -161px no-repeat; }
.icons-stop { width: 16px; height: 16px; background: image-url('icons_sprite.png') -42px -383px no-repeat; }
.icons-system-search { width: 32px; height: 32px; background: image-url('icons_sprite.png') -268px -242px no-repeat; }
.icons-text_indent { width: 16px; height: 16px; background: image-url('icons_sprite.png') -82px -383px no-repeat; }
.icons-tick { width: 16px; height: 16px; background: image-url('icons_sprite.png') -102px -383px no-repeat; }
.icons-time { width: 16px; height: 16px; background: image-url('icons_sprite.png') -122px -383px no-repeat; }
.icons-time_error { width: 16px; height: 16px; background: image-url('icons_sprite.png') -142px -383px no-repeat; }
.icons-tools-report-bug { width: 16px; height: 16px; background: image-url('icons_sprite.png') -162px -383px no-repeat; }
.icons-useforbuild_disabled_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -2px -315px no-repeat; }
.icons-useforbuild_disabled_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -310px -287px no-repeat; }
.icons-useforbuild_enabled_blue { width: 24px; height: 24px; background: image-url('icons_sprite.png') -282px -287px no-repeat; }
.icons-useforbuild_enabled_grey { width: 24px; height: 24px; background: image-url('icons_sprite.png') -142px -287px no-repeat; }
.icons-user_add { width: 16px; height: 16px; background: image-url('icons_sprite.png') -262px -383px no-repeat; }
.icons-user_delete { width: 16px; height: 16px; background: image-url('icons_sprite.png') -282px -383px no-repeat; }
.icons-user_edit { width: 16px; height: 16px; background: image-url('icons_sprite.png') -302px -383px no-repeat; }
.icons-user_green { width: 16px; height: 16px; background: image-url('icons_sprite.png') -322px -383px no-repeat; }
.icons-utilities-system-monitor { width: 32px; height: 32px; background: image-url('icons_sprite.png') -310px -197px no-repeat; }
.icons-watch { width: 16px; height: 16px; background: image-url('icons_sprite.png') -302px -363px no-repeat; }
.delete-attribute { width: 16px; height: 16px; background: image-url('icons_sprite.png') -374px -202px no-repeat !important; }
