.remote-links {
  padding: 0 10px;

  button {
    border-radius: 0;
    padding: 3px 5px;
    margin-right: 5px;

    &:disabled {
      background: none;
      &:hover{
        color: #555;
        border-color: #999;
        cursor: default;
      }
    }
  }
}

.interconnect-form {
  padding: 0 10px 15px;

  .form-group {
    label {
      display: block;
      margin: 6px 0 3px;

      abbr { color: red; }
    }
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }

  input[type=submit] { margin-top: 15px; }
}
