#kiwi-image-update-form-save {
  margin-left: 1em;
}

.kiwi_fields {
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
}

.kiwi_list_item {
  font-weight: bold;
  padding: 5px;
  &:hover {
    color: #fff;
    background-color: #690;
    border-radius: 3px;
  }
}
