#kiwi-save {
  float: right;
  margin-right: 18px;
  padding-bottom: 0;

  #kiwi-image-update-form-save {
    margin-left: 0.5em;
    color: #a4a4a4;

    img { opacity: 0.5; }

    &.enabled {
      color: #690;

      img { opacity: 1; }

      &:hover {
        color: #069;
        cursor: pointer;
      }
    }
  }
}

#kiwi-repositories-list, #kiwi-packages-list {
  padding-left: 10px;
  padding-right: 10px;

  .kiwi_fields {
    margin-top: 3px;
    display: inline-block;
    line-height: 18px;

    .small-text{ font-size: x-small; }
  }

  .kiwi_list_item {
    font-weight: bold;
    padding: 3px 5px 2px;
    padding-right: 25px;

    &:hover {
      background-color: #690;
      border-radius: 3px;
      padding-right: 5px;

      .kiwi_element_name {
        color: #FFFFFF;
      }
    }
  }
}
