#notification_form .box {
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;

    .title {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    .description {
      min-height: 17px;
      font-size: 12px;
      color: #586069;
    }

    .row {
      padding: 16px;
      margin-top: -1px;
      border-top: 1px solid #e1e4e8;

      &:first-of-type {
        border-top-color: transparent;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }

      ul {
        margin-left: 0px;
      }

      li {
        list-style-type: none;
        display: inline;
        padding-right: 20px;
        margin-left: 0px;
        white-space: nowrap;

        label {
          font-weight: bold;
        }
      }
    }
}
