.package_binarylist {
  display: none;
}

table.repostatus td {
  &.buildstatus {
    width: 11ex;
  }
  &.arch {
    width: 1%;
    margin: 1ex 0;
  }
  &.repo {
    max-width: 5em;
  }
}

#services {
  list-style-type: none;
  li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    .actions {
      margin-left: 16px;
    }
  }
}

#empty_service {
  background-color: yellow;
  border: 1px solid black;
}

.commit_item {
  margin: 12px 0px; 
}
