.request-low {
  color: #6484a4;
}
.request-moderate {
}
.request-important {
  color: #e88000;
}
.request-critical {
  color: #d80000;
}

.review_descision_display {
  input[type=submit] {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}
