#search_form {
  width: 600px;
  margin-left: auto ;
  margin-right: auto ;
}

/* Style the search input field. */
#search_input {
  float:left;
  width:500px;
  height:27px;
  line-height:27px;
  text-indent:10px;
  font-family:arial, sans-serif;
  font-size:1em;
  color:#333;  
  background: #fff;
  border:solid 1px #d9d9d9;
  border-top:solid 1px #c0c0c0;
  border-right:none;
}

#search_button {
  cursor:pointer; 
  width:70px;
  height: 33px;
  line-height: 33px;
  color: transparent;
  background: image-url("system-search.png") no-repeat center #690;
  border: 1px solid #D9D9D9;
  border-top:solid 1px #c0c0c0;
  border-left:none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

#advanced_link {
  float: right;
  background-color: transparent;
}

.search_result {
  margin-bottom: 30px;
}

.data-title {
  margin-bottom: -10px;
}

.data-description {
  margin-bottom: 30px;
}
