
<h3>openFATE app for mobile devices</h3>

<p>This project was initiated by tom@opensuse.org for openSUSE's hackweek IV. </p>

<p>- <a href="https://features.opensuse.org/311064">See the tracking feature proposal</a></p>
<p>- The <a href="https://github.com/aduffeck/has_mobile_views">generic rails plugin</a> for including mobile views</p>