- @pagetitle = 'Create Saved Reply'

.card
  .card-body
    %h3= @pagetitle
    = form_for(@saved_reply, url: saved_replies_path, method: :post) do |form|
      - locals = { form: form }
      = render partial: 'form', locals: locals
      = submit_tag('Accept', class: 'btn btn-sm btn-primary px-4')
