/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.2
**  Dateiversion: 01.11.06  
**  Datei       : layout_2col_right_vlines.css
**  Funktion    : Zentrales Stylesheet 2-Spalten-Layout mit grafikfreien Spaltentrennern (Randspalte rechts) 
**
*/
@import url(main/base.css);
@import url(modifications/basemod.css);
@import url(modifications/basemod_2col_right_vlines.css);
@import url(navigation/nav_slidingdoorII.css);
@import url(main/content.css);
@import url(print/print_003.css);