- if !project.is_maintenance_incident? && release_targets.present?
  = link_to('#', class: 'menu-link', data: { toggle: 'modal', target: '#project-submit-update-modal' }) do
    %i.fas.fa-share-square.fa-lg.mr-2
    Submit as Update
