<h3>Successfully Generated New Password</h3>

<p>
Dear <em><%=h @user.login %></em>, the password has been sent to your email
adress <em><%=h @user.email %></em>. Please follow the instruction in this
email.
</p>
