#
# This file contains the default configuration of the Open Build Service API.
#

# Exceptions are mailed to these addresses:
#exception_recipients: ["api_exceptions_noreply@opensuse.org"]
exception_recipients: []
# Exceptions mails are send by:
exception_sender: "\"OBS API Admin\" <admin@your_instance.org>"

# Add also webui_host setting if you want allow anonymous read access via webui
#allow_anonymous: true
#read_only_hosts: [ "build.opensuse.org", "software.opensuse.org" ]

# Make use of mod_xforward module in apache
#use_xforward: true

# Make use of http://blog.lighttpd.net/articles/2006/07/22/x-sendfiles-new-friend-x-rewrite.
# Note that you need to enable the proxy-core option to allow this.
#x_rewrite_host: localhost

# How to register new users, valid options are:
#   allow:        Everybody who can connect to api or webui can create an
#                 account and use the service.
#   confirmation: Everybody who can connect to api or webui can create an
#                 account, but admin needs to approve the usage.
#   deny:         Only admin user can create new users.
new_user_registration: allow

# Allow user to create home projects, which is the default. Disable it here
# via setting it to "false"
#allow_user_to_create_home_project: true

# Minimum count of rating votes a project/package needs to # be taken in account
# for global statistics:
min_votes_for_rating: 3
