- content_for :actions do
  - if User.admin_session?
    = link_to('#', class: 'menu-link', 'data-toggle': 'modal', 'data-target': '#status-message-modal') do
      %i.fas.fa-plus-square.fa-lg.mr-2
      Create Status Message
  = link_to(new_project_path, class: 'menu-link') do
    %i.fas.fa-plus-square.fa-lg.mr-2
    Create Project
