- content_for :actions do
  - if User.admin_session?
    %li.nav-item
      = link_to(new_status_message_path, class: 'nav-link') do
        %i.fas.fa-plus-square.fa-lg.mr-2
        Create Status Message
  %li.nav-item
    = link_to(new_project_path, class: 'nav-link') do
      %i.fas.fa-plus-square.fa-lg.mr-2
      Create Project
