<% @pagetitle = 'Groups' %>

<h2><%= @pagetitle %></h2>


<% if @groups.length > 0 %>
  <p>The following groups are configured in this OBS instance:</p>
  <table id="group_table">
    <thead>
      <tr>
        <th>Group name</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to(group.title, :action => 'show', :id => group.value('title')) %></td>
          <td>
          <% group.person.each do |member| %>
            <%= link_to_if(@user, member.userid, :controller => 'home', :action => 'index', :user => member.userid) %>, 
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><i>There are no groups configured</i></p>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    <% if @groups.length > 0 %>
      $('#group_table').dataTable();
    <% end %>
  });
<% end %>
