<% @pagetitle = "Group #{@group.value('title')}" %>

<h2><%= @pagetitle %></h2>

<% if @group.each('person').length > 0 %>
<table id="group_members_table">
  <thead>
    <tr>
      <th>Group members</th>
    </tr>
  </thead>
  <tbody>
    <% @group.each('person') do |member| %>
      <tr>
        <td><%= link_to(member.userid, :controller => 'home', :action => 'index', :user => member.userid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><i>This group does not contain users</i></p>
<% end %>

<p><%= link_to('Show all groups', groups_path) %></p>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#group_members_table').dataTable();
  });
<% end %>
