%li.list-inline-item
  = link_to(request_change_devel_dialog_path(project: project, package: package), remote: true, class: 'nav-link') do
    %i.fas.fa-exchange-alt.text-primary
    Request devel project change
