%li.list-inline-item
  = link_to(package_trigger_services_path(package: package, project: project), method: :post, class: 'nav-link') do
    %i.fas.fa-project-diagram.text-obs-yellow
    Trigger services
