/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.2
**  Dateiversion: 01.11.06  
**  Datei       : iehacks_3-2-1.css
**  Funktion    : IE-Korrektur-Stylesheet für das 3-2-1-Layout von YAML 
**
*/

/* LAYOUT-UNABHÄNGIGE ANPASSUNGEN -------------------------------------------------------------------- */
@import url(../main/iehacks.css);

/* LAYOUT-ABHÄNGIGE ANPASSUNGEN ---------------------------------------------------------------------- */
@media screen
{
/*-----------------------------------------------------------------------------------------------------*/
/* Bug: 3-Pixel-Jog des Internet Explorers 
**
** IE5.x/Win - x
** IE5.x/Mac - 0
** IE6       - x
** IE7       - 0
*/	

/* Hides from IE-mac \*/
* html #col3 {height: 1%;}				/* Hack für 3-Pixel-Jog Bug aktivieren */
* html #col2 {margin-left: -3px;}		/* 3-Pixel-Verschiebung durch negativen Margin beseitigen */
* html #col3 { margin-right: 74%; }    /* Margin von #col3 anpassen */
/* End hide from IE-mac */
/*-----------------------------------------------------------------------------------------------------*/

}
